{% extends 'base_nofooter.html' %}
{% load static %}

{% block content %}
<div id="page">
    <div class="row center-align" style="margin-top:0px">
      <div class="col s10 l6 offset-s1 offset-l3 login-card" style="background-color:#fdfdfde5;padding-top:60px; padding-bottom:80px; padding-left:40px; padding-right:40px">
          <h6 id="login-title">Thank you!</h6>
          <p class="newtovillage">Your password has been changed successfully</p>
          <p class="newtovillage"><a href="{{ account_url }}">Back To My Account</a></p>
        
      </div>
    </div>
  </div>
  
  <style>
    #page {
      background-image: url("https://empowerthevillage.s3.amazonaws.com/static/img/login-collage.png");
      background-size: 100%;
      background-repeat: repeat;
      height: 100%;
    }
    input {
      font-family: 'Inter', sans-serif;
      letter-spacing: 1.5px;
      font-weight:200
    }
  </style>
{% endblock %}