{% extends 'base_nofooter.html' %}
{% load static %}

{% block content %}
<div id="page">
    <div class="row center-align" style="margin-top:0px">
      <div class="col s10 l6 offset-s1 offset-l3 login-card" style="background-color:#fdfdfde5;padding-top:60px; padding-bottom:80px; padding-left:40px; padding-right:40px">
          <h6 id="login-title">Update Password</h6>
          
        <form class="form center" method='POST' style="padding-left: 5%; padding-right:5%; width: 90%; margin-left:5%">
          
          {% csrf_token %}
          {% for field in form %}
          <div class="input-field">
            {{ field }}
            <label>{{ field.label }}</label>
          </div>
          {% endfor %}
          <button type="submit" class='btn register-btn' style="margin-top:24; padding:22px; line-height:0px; margin-bottom:15px">Change my password</button>
          
        
      </div>
    </div>
  </div>
  
  <style>
    #page {
      background-image: url("https://empowerthevillage.s3.amazonaws.com/static/img/login-collage.svg");
      background-size: 50%;
      background-repeat: repeat;
      height: 100%;
    }
    input {
      font-family: 'Inter', sans-serif;
      letter-spacing: 1.5px;
      font-weight:200
    }
  </style>
{% endblock %}