{% extends 'base.html' %}
{% load static %}

{% block title %}ETV | Black Friday Challenge™{% endblock %}
{% block canonical %}https://www.empowerthevillage.org/black-friday-challenge/{% endblock %}
{% block seo_description %}ETV’s Black Friday Challenges enable <i>recirculation</i> of dollars in the Black community and increased financial investment in the community by all consumers!{% endblock %}

{% block content %}

<div class="parallax-container z-depth-3 box-shadow valign-wrapper">
    
    <div class="container z-depth-4 center-align parallax-banner" style="background:rgba(255, 255, 255, 0.906); border: rgb(43, 43, 43) 3px solid; width: 60%; margin-top: 2%">
        <img src='{% static "img/bf_challenge_logo.png" %}' style="width:95%; padding: 10px">
    </div>
    <div class="parallax">
        <img src='{% static "img/bf-challenge-final.png" %}' style="height: 250%;">
    </div>

</div>

<div class="row valign-wrapper" style="padding-left: 5%; padding-right:5%">
    <img class="col s6 m5" id="timemoney-top" src="{% static 'img/timemoney.png' %}" width=110% height=100% style="margin-right:0px; margin-top:0px; margin-left:0%">
    <div class="vbp-text col s12 m7">
        <p style="margin-bottom:0; padding-bottom:10px"><b>ETV’s Black Friday (BF) Challenges</b>
            are friendly competitions designed to help all consumers <i>recirculate</i> dollars & <i>increase</i> economic prosperity in the Black community!</p> 
                        
        <p style="margin-bottom:0; margin-top:10px;">Individuals, corporations, organizations, and other groups can participate in a challenge with fun prizes!</p>
        <p></p>
                        
        <p style="margin-bottom:0; margin-top:10px"><b>The Real Winners are the businesses supported and communities that prosper as a result of the BF Challenge!</b></p>
        <div class="row valign-wrapper center-align" style="padding-top: 10px; padding-bottom: 5px">
            <a class="col s6 btn btn-large create-account-btn" href="{{ register_url }}" style="background-color:rgb(28, 29, 28); width: 90%; margin-right: 3%;">Create Your Account to Get Started!</a>
            <a class="col s6 btn btn-large create-account-btn" href="{{ contact_url }}" style="background-color:rgb(28, 155, 28);  width: 90%">Click here to sponsor a group challenge!</a>
            
        </div>
        <ul class="collapsible z-depth-0" style="border:none;">
        <li>
            <div class="collapsible-header" style="padding:0.75rem">
            <p class="row" style="margin:0; padding:0">
                <b style="color: #01a650;">The BF Challenge Supports Key Individual, Community & Corporate Goals - <b style="color: black; font-weight: 500">Click to Learn More!</b></b>
            </p>
            </div>
            <div class="collapsible-body">
                <div class="table">
                    <tbody >
                        <tr>
                            <td>
                                <i class="material-icons" style="color: #bf1e2d;">check</i>
                            </td>
                            <td>
                                Positive Culture Shifts in Consumer Behavior that Benefits the US Economy
                            </td>
                        </tr>
                        <br>
                        <tr>
                            <td>
                                <i class="material-icons" style="color: #01a650">check</i>
                            </td>
                            <td>
                                Increasing Wealth & Prosperity within the Black Community
                            </td>
                        </tr>
                        <br>
                        <tr>
                            <td>
                                <i class="material-icons" style="color: #bf1e2d">check</i>
                            </td>
                            <td>
                                Demonstrated Commitment to Diversity, Equity & Inclusion
                            </td>
                        </tr>
                        <br>
                        <tr>
                            <td>
                                <i class="material-icons" style="color: #01a650">check</i>
                            </td>
                            <td>
                                Employee/Member Engagement & Team-building
                            </td>
                        </tr>
                        <br>
                        <tr>
                            <td>
                                <i class="material-icons" style="color: #bf1e2d">check</i>
                            </td>
                            <td>
                                Tangible, Measurable Results from DE&I Activity
                            </td>
                        </tr>
                        <br>
                        <tr>
                            <td>
                                <i class="material-icons" style="color: #01a650">check</i>
                            </td>
                            <td>
                                Supplier Diversity Commitments
                            </td>
                        </tr>
                    </tbody>
                </div>
            </div>
        </li>
        </ul>
    
    </div>
</div>
<img class="col s12 timemoney-bottom" src="{% static 'img/timemoney.png' %}" width=90% style="margin-right:0px; margin-top:0px; margin-left:5%">

<div class="vbp-text center-align">
    <p><b class="ways-to-play-title">Ways to Play</b></p>
</div>
<ul class="tabs tabs-fixed-width ways-to-play-tabs">
    <li class="tab" width=25%><a id="bingo-mover" style="color:rgb(67, 160, 27); cursor: pointer; font-weight: 500">- READY, SET, SHOP! -</a></li>
    <li class="tab" width=25%><a id="rss-mover" style="color:rgb(67, 160, 27); cursor: pointer; font-weight: 500; margin-left: -20px">- NOMINATION CHALLENGE -</a></li>
    <li class="tab" width=25%><a id="nomination-mover"style="color:rgb(67, 160, 27); cursor: pointer; font-weight: 500">- POWER BINGO -</a></li>
    <!--
    <li class="tab" width=25%><a id="stl-mover"style="color:rgb(67, 160, 27); cursor: pointer; font-weight: 500">- SPREAD THE LOVE CHALLENGE -</a></li>-->
</ul>
<div class="row col-container" style="margin-bottom: 0">
    <div class="col s12 l4 row background valign-wrapper" id="rss-row" style="margin-bottom:0;background-image: url('{% static 'img/bags_cropped.png' %}'); background-repeat: repeat; background-size:50%">
        <div class="col s10 offset-s1 m8 offset-m2 center-align instruction-box" style="padding: 20px;background-color: rgba(255, 255, 255, 0.884); border: solid 3px rgba(38, 38, 38, 0.927)">
            <a href="{{ readyss_url }}" style="color: rgb(194, 45, 22)">Ready, Set, Shop! Challenge&nbsp;<span class="material-icons" style="font-size: 14px;">
                open_in_new
                </span></a>
            <p style="margin:0; font-weight: 500;">Ways to Win</p>
            <div class="row">
                <div class="">
                    <ul class="bf-sublist" style="padding-left: 5%; padding-right: 5%">
                        <li><b><u>Show Me The Money / Throw It In The Bag</u></b></li>
                        <li>Team/player with the highest dollar amount spent (or the most transactions) at Black-owned businesses within the challenge period wins!</li>
                    </ul>
                    
                    <ul class="bf-sublist">
                        <li><b><u>Every Friday Challenge - Individual Play</u></b></li>
                        <li>Player with the most transactions within the challenge period wins!</li>
                        <li class="challenge-period-text">(30-day individual challenge period starts on the 15th of each month!)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 l4 row background valign-wrapper" id="nomination-row" style="margin-bottom:0;background-image:url('{% static 'img/nomination_challenge.jpg' %}'); background-repeat: repeat; background-size:40%">
        <div class="col s10 offset-s1 m8 offset-m2 center-align instruction-box" style="padding-top:40px; padding-bottom: 40px;background-color: rgba(255, 255, 255, 0.884); border: solid 3px rgba(38, 38, 38, 0.927)">
            <a href="{{ nomination_url }}" style="color: rgb(9, 106, 9)">VBP™ Nomination Challenge&nbsp;<span class="material-icons" style="font-size: 14px;">
                open_in_new
                </span></a>
            <p style="margin:0; font-weight: 500;" >Ways to Win</p>
            <div class="row">
                <ul class="col bf-sublist" style="margin-left: 5%; margin-right: 5%">
                    <li>Team/player to identify and submit the most, new Black-owned businesses for free listing in ETV’s Village Black Pages wins!</li>
                    <li class="challenge-period-text">(30-day individual challenge period starts on the 15th of each month!)</li>
                    <li class="challenge-period-text" style="color: rgb(154, 27, 27)">*Nominated businesses must operate within our 25-state* footprint or online and be submitted through ETV’s portal. Ownership status will be validated by ETV.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col s12 l4 row background valign-wrapper" id="bingo-row" style="margin-bottom:0;padding:0; background-image: url('{% static 'img/bingo.jpg' %}'); background-repeat: repeat; background-size:75%">
        <div class="col s10 offset-s1 m8 offset-m2 center-align instruction-box" style="padding: 20px;background-color: rgba(255, 255, 255, 0.884); border: solid 3px rgba(38, 38, 38, 0.927)">
            <a href="{{ bingo_url }}" class="game-title" style="color: rgb(194, 45, 22)">ETV Power Bingo Challenge&nbsp;<span class="material-icons" style="font-size: 14px;">
                open_in_new
                </span></a>
            <p style="margin:0; font-weight: 500;">Ways to Win</p>
            <div class="row">
                <div class="center-align">
                    <ul class="bf-sublist">
                        <li><b><u>Team Play</u></b></li>
                        <li>The first team to blackout the board or fill the most spaces within the challenge period wins!</li>
                        
                    </ul>
                    <ul class="bf-sublist">
                        <li><b><u>Individual Play</u></b></li>
                        <li>Be the first person to get Bingo in two directions (12 bingo combinations!)</li>
                        <li class="challenge-period-text">(30-day individual challenge period starts on the 15th of each month!)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<div class="row background valign-wrapper" id="stl-row" style="margin-bottom:0;background-image:url('{% static 'img/hashtag.jpg' %}'); background-repeat: repeat; background-size:25%">
    <div class="col s10 offset-s1 m8 offset-m2 center-align instruction-box" style="padding-top:20px; padding-bottom: 40px;background-color: rgba(255, 255, 255, 0.884); border: solid 3px rgba(38, 38, 38, 0.927)">
        <a href="{{ stl_url }}" style="color: rgb(194, 45, 22)">Spread The Love Challenge&nbsp;<span class="material-icons" style="font-size: 14px;">
            open_in_new
            </span></a>
        <p style="margin:0; font-weight: 500;">Ways to Win</p>
        <div class="row">
            <ul class="col bf-sublist" style="padding-left: 5%; padding-right: 5%">
                <li>Tag ETV on Instagram to participate!</li>
                <li>Highest number of <u>different</u> Black-owned businesses shared on social media within the challenge period wins!</li>
                
                <li class="challenge-period-text" style="margin-top: 15px; font-size: 14px">(30-day individual challenge period starts on the 15th of each month!)</li>
            </ul>
        </div>
    </div>
</div>
-->
    <style>
        
        @media only screen and (max-width: 420px){
            .create-account-btn {
                padding-left: 10px;
                padding-right: 10px;
                font-size: 14px
            }
        }
        
        .background {
            height: 350px
            }
        .instruction-box {
            height: 300px;
        }
        
        @media only screen and (max-width:600px){
            .bf-sublist li {
            font-size: 12px;
            font-weight: 400;
        }
            #bingo-row .instruction-box {
                height: 320px
            }
            #rss-row .instruction-box {
                height: 330px
            }
            .instruction-box a {
                font-size: 17px;
                font-weight: 500;
                cursor:pointer
            }
            .instruction-box p {
                font-size: 14px !important
            }
            .challenge-period-text {
                font-size: 10px !important;
                color: rgb(92, 92, 92)
            }
        }
        @media only screen and (min-width:601px){
            #bingo-row {
                height: 400px
            }
            #bingo-row .instruction-box {
                height: 350px;
                width: 90%;
                margin-left: 5%;
            }
            #rss-row {
                height: 400px
            }
            #rss-row .instruction-box {
                height: 350px;
                width: 90%;
                margin-left: 5%;
            }
            #nomination-row .instruction-box {
                width: 90%;
                margin-left: 5%;
            }
            .bf-sublist li {
            font-size: 16px;
            font-weight: 400;
        }
            .instruction-box a {
                font-size: 20px;
                font-weight: 500;
                cursor:pointer
            }
            .instruction-box p {
                font-size: 18px
            }
            .challenge-period-text {
                font-size: 12px !important;
                color: rgb(92, 92, 92)
            }
        
        }
        @media only screen and (min-width:992px){
            .col-container {
            display: table; /* Make the container element behave like a table */
            width: 100%; /* Set full-width to expand the whole page */
        }

        .background {
            height: 750px !important
        }
            #bingo-row .instruction-box {
                width: 90%;
                margin-left: 5%;
            }
            #nomination-row .instruction-box {
                width: 90%;
                margin-left: 5%;
            }
            #rss-row {
            }
            #rss-row .instruction-box {
                
                width: 90%;
                margin-left: 5;
            }
            .bf-sublist li {
            font-size: 18px;
            font-weight: 400;
        }
            .instruction-box a {
                font-size: 26px;
                font-weight: 500;
                cursor:pointer
            }
            .instruction-box p {
                font-size: 20px
            }
            .instruction-box {
                height: 700px !important
            }
            .challenge-period-text {
                font-size: 16px !important;
                color: rgb(92, 92, 92)
            }
        
        }
        @media only screen and (min-width: 1200px) {
            .background {
                height: 650px !important;
            }
            .instruction-box {
                height: 600px !important
            }
        }
        @media only screen and (min-width: 1400px) {
            .background {
                height: 600px !important;
            }
            .instruction-box {
                height: 550px !important
            }
        }
        @media only screen and (min-width: 1600px) {
            .background {
                height: 500px !important;
            }
            .instruction-box {
                height: 450px !important
            }
        }
    </style>
   <script>
       $('#bingo-mover').click(function(){
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#bingo-row").offset().top
            }, 500);
       })
       $('#rss-mover').click(function(){
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#rss-row").offset().top
            }, 500);
       })
       $('#nomination-mover').click(function(){
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#nomination-row").offset().top
            }, 500);
       })
       $('#stl-mover').click(function(){
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#stl-row").offset().top
            }, 500);
       })
   </script>
            
        
      
<style>
    .collapsible-body {
        padding-left: 0;
        padding-right: 0;
    }
    
    .ways-to-play-title {
            color: #bf1e2d; 
            font-family: oskar-inline;
            text-decoration: underline;
        }
    .tabs {
       
    }
    @media only screen and (max-width: 600px){
        #timemoney-top {
            display: none;
        }
        #timemoney-bottom {
            display: block;
        }
        .ways-to-play-title {
            
            font-size: 48px;
        }
        .ways-to-play-tabs li a{
            font-size: 18px
        }
        .ways-to-play-tabs {
            max-width: 100%
        }
    }
    @media only screen and (min-width: 601px){
        .timemoney-bottom {
            display: none;
        }
        #timemoney-top {
            display: block;
        }
        .ways-to-play-title {
            font-size: 60px;
        }
        .ways-to-play-tabs li a{
            font-size: 22px !important
        }
        .ways-to-play-tabs {
            max-width: 100%
        }
    }
</style>
{% endblock %}