{% extends 'base.html' %}
{% load static %}

{% block title %}ETV | Black Friday Challenge™{% endblock %}
{% block canonical %}https://www.empowerthevillage.org/black-friday-challenge/{% endblock %}
{% block seo_description %}ETV’s Black Friday Challenges enable <i>recirculation</i> of dollars in the Black community and increased financial investment in the community by all consumers!{% endblock %}

{% block content %}

<div class="parallax-container z-depth-3 box-shadow valign-wrapper">
    
    <div class="container z-depth-4 center-align parallax-banner" id="bf-parallax">
        <img src='{% static "img/bf_challenge_logo.png" %}' style="width:95%; padding: 10px">
    </div>
    <div class="parallax">
        <img src='{% static "img/bf-challenge-final.png" %}' style="height: 250%;">
    </div>

</div>

<div class="row" id="intro-row">
    <div class="col s12 m5 text-center">
        <img style="padding-top: 40px;width: 100%" src="{% static 'img/bf-holiday-23.jpg' %}">
        <div class="btn date-btn">November 25th - <br>December 31st, 2022</div>
        <img class="" id="timemoney-top" src="{% static 'img/timemoney.png' %}" width=110% height=100% style="margin-right:0px; margin-top:0px; margin-left:0%">
    </div>
    <div class="vbp-text col s12 m7" style="padding-top: 0px">
        <p style="margin-bottom:0; padding-bottom:10px"><b>ETV’s Black Friday (BF) Challenges</b>
            are friendly competitions designed to help all consumers <i>recirculate</i> dollars & <i>increase</i> economic prosperity in the Black community!</p> 
                        
        <p style="margin-bottom:0; margin-top:10px;">Individuals, corporations, organizations, and other groups can participate in a challenge with fun prizes!</p>
        <p></p>
                        
        <p style="margin-bottom:0; margin-top:10px"><b>The Real Winners are the businesses supported and communities that prosper as a result of the BF Challenge!</b></p>
        <div class="row center-align" style="padding-top: 10px; padding-bottom: 5px">
            <div class="col s12">
                <div class="btn btn-large create-account-btn date-btn" id="getStartedBtn" style="background-color:rgb(24, 144, 24); width: 100%; margin-top: 10px; height: fit-content; line-height: 42px; padding: 20px 10px; font-family: oskar;font-size: 32px;">Click to Get Started!</div>
            </div>
        </div>
        <ul class="collapsible z-depth-0" style="border:none;">
        <li>
            <div class="collapsible-header" style="padding:0.75rem">
            <p class="row" style="margin:0; padding:0">
                <b style="color: #01a650;">The BF Challenge Supports Key Individual, Community & Corporate Goals - <b style="color: black; font-weight: 500">Click to Learn More!</b></b>
            </p>
            </div>
            <div class="collapsible-body">
                <div class="table">
                    <tbody >
                        <tr>
                            <td>
                                <i class="material-icons" style="color: #bf1e2d;">check</i>
                            </td>
                            <td>
                                Positive Culture Shifts in Consumer Behavior that Benefits the US Economy
                            </td>
                        </tr>
                        <br>
                        <tr>
                            <td>
                                <i class="material-icons" style="color: #01a650">check</i>
                            </td>
                            <td>
                                Increasing Wealth & Prosperity within the Black Community
                            </td>
                        </tr>
                        <br>
                        <tr>
                            <td>
                                <i class="material-icons" style="color: #bf1e2d">check</i>
                            </td>
                            <td>
                                Demonstrated Commitment to Diversity, Equity & Inclusion
                            </td>
                        </tr>
                        <br>
                        <tr>
                            <td>
                                <i class="material-icons" style="color: #01a650">check</i>
                            </td>
                            <td>
                                Employee/Member Engagement & Team-building
                            </td>
                        </tr>
                        <br>
                        <tr>
                            <td>
                                <i class="material-icons" style="color: #bf1e2d">check</i>
                            </td>
                            <td>
                                Tangible, Measurable Results from DE&I Activity
                            </td>
                        </tr>
                        <br>
                        <tr>
                            <td>
                                <i class="material-icons" style="color: #01a650">check</i>
                            </td>
                            <td>
                                Supplier Diversity Commitments
                            </td>
                        </tr>
                    </tbody>
                </div>
            </div>
        </li>
        </ul>
    
    </div>
</div>
<img class="col s12 timemoney-bottom" src="{% static 'img/timemoney.png' %}" width=90% style="margin-right:0px; margin-top:0px; margin-left:5%">

<div class="vbp-text center-align" id="wtpContainer">
    <p id="wtpTitle"><b class="ways-to-play-title">2022 Holiday BFChallenge Prizes</b></p>
</div>
<div class="vbp-text center-align prizes row">
    <div class="col s12 m4">
        <p class="title">1st Place<br>Show Me The Money</p>
        <p><b style="color:#01a650">Weekend 4 day/3 night getaway at rustic Black-owned Catskills AirBnb + ETV Premium Swag Basket!</b> Relax on this 40+ acre property with firepit, vintage arcade, hot tub, and more! Sleeps 8, <b style="text-decoration: underline; color:#bf1e2d"> PLUS,</b><b style="color:#01a650"> gift cards with a total value of $150</b> to one or more of the following Black-owned business: <a href="https://theblackhome.com/" target="_blank">The Black Home</a>, <a href="https://calabashtea.com/" target="_blank">Calabash Tea & Tonics</a>, and <a href="https://www.sankofa.com/">Sankofa Bookstore</a>.</p>
        <p><b style="color:rgb(189, 33, 33)">Approximate Value: $2,000</b></p>
    </div>
    <div class="vdiv"></div>
    <div class="col s12 m4">
        <p class="title">2nd Place<br>Throw It In The Bag</p>
        
        <p><b style="color:#01a650">ETV 2023 Signature Events Passport</b> - Two free registrations for ETV's Power Swing Classic Golf Tournament & North Star Celebration - Tuesday, August 29th <b style="text-decoration: underline; color:#bf1e2d">OR</b> two VIP day passes ETV Juneteenth For The Love of Art Celebration at Montclair Art Museum Friday, June 16th & Saturday, June 17th <b style="text-decoration: underline; color:#bf1e2d">PLUS,</b><b style="color:#01a650"> gift cards with a total value of $150</b> to one or more of the following Black-owned business: <a href="https://theblackhome.com/" target="_blank">The Black Home</a>, <a href="https://calabashtea.com/" target="_blank">Calabash Tea & Tonics</a>, and <a href="https://www.sankofa.com/">Sankofa Bookstore</a>.
        <p><b style="color:rgb(189, 33, 33)">Approximate Value: $1,000</b></p>
    </div>
    <div class="vdiv"></div>
    <div class="col s12 m4">
        <p class="title">3rd Place<br>Nomination Challenge</p>
        <p><b style="color:#01a650">ETV Premium Swag Basket - </b>custom wine glasses, coffee mug, t-shirt, membership pin, reusable shopping bag, and pens, <b style="text-decoration: underline; color:#bf1e2d;">PLUS</b> <b style="color:#01a650"> gift cards with a total value $100</b> to one or more of the following Black-owned businesses: <a href="https://theblackhome.com/" target="_blank">The Black Home</a>, <a href="https://calabashtea.com/" target="_blank">Calabash Tea & Tonics</a>, and <a href="https://www.sankofa.com/">Sankofa Bookstore</a>.</p>
        <p><b style="color:rgb(189, 33, 33)">Approximate Value: $250</b></p>
    </div>
</div>
<div class="row">
    <div class="col s12 text-center" style="width:100%">
        <p style="text-align: center; margin-top:0; margin-bottom: 30px"><b class="ways-to-play-title" style="width: 100%;font-weight: 400; text-align: center">Ways To Play</b></p>
    </div>
</div>
<style>
    .prizes p.title {
        margin-top: 5px;
        font-size: 28px; 
        font-family: oskar;
        font-weight: 400;
        margin-bottom: 15px
    }
    .prizes p {
        font-size: 18px;
        padding-right: 5%;
        padding-left: 5%
    }
    .background{
        display: flex;
        justify-content: center;
        align-items:center
    }
</style>
<ul class="tabs tabs-fixed-width ways-to-play-tabs">
    <li class="tab"><a href='{{ readyss_url }}' style="color:rgb(67, 160, 27); cursor: pointer; font-weight: 500">- UPLOAD A RECEIPT! -</a></li>
    <li class="tab"><a href='{{ readyss_url }}'style="color:rgb(67, 160, 27); cursor: pointer; font-weight: 500">- UPLOAD A RECEIPT! -</a></li>
    <li class="tab"><a href='{{ nomination_url }}' style="color:rgb(67, 160, 27); cursor: pointer; font-weight: 500; margin-left: -20px">- NOMINATE A BUSINESS -</a></li>

    <!--<li class="tab" width=25%><a id="nomination-mover"style="color:rgb(67, 160, 27); cursor: pointer; font-weight: 500">- POWER BINGO -</a></li>-->
    <!--
    <li class="tab" width=25%><a id="stl-mover"style="color:rgb(67, 160, 27); cursor: pointer; font-weight: 500">- SPREAD THE LOVE CHALLENGE -</a></li>-->
</ul>
<div class="row challenge-row">
    <div class="col s12 l4" style="background:url('{% static 'img/efbf_twenties_light2.webp' %}'); background-size: 60%">
        <div class="bg-box">
            <a class="link-title" href="{{ readyss_url }}">Ready, Set, Shop!<br> Challenge&nbsp;<span class="material-icons" style="font-size: 14px;">
                open_in_new
                </span>
            </a>
            <div class="row">
                <div class="prizes">
                    <div>
                        <p class="title">1st Place<br>Show Me The Money</p>
                        
                        <p>Player with the highest dollar amount spent at Black-owned businesses within the challenge period wins!</p>
                        <p class="required" style="margin-bottom: 63px"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 l4" style="background:url('{% static 'img/bags_cropped.png' %}'); background-size: 40%">
        <div class="bg-box">
            <a class="link-title" href="{{ readyss_url }}">Ready, Set, Shop!<br>Challenge&nbsp;<span class="material-icons" style="font-size: 14px;">
                open_in_new
                </span>
            </a>
            <div class="row">
                <div class="prizes">
                    <div>
                        <p class="title">2nd Place<br>Throw It In The Bag</p>
                        
                        <p>Player with the most transactions at Black-owned businesses within the challenge period wins!</p>
                        <p class="required">Minimum 5 transactions</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 l4" style="background:url('{% static 'img/nomination_challenge.jpg' %}'); background-size: 50%">
        <div class="bg-box">
            <a class="link-title" href="{{ nomination_url }}">VBP® Nomination<br>Challenge &nbsp;<span class="material-icons" style="font-size: 14px;">
                open_in_new
                </span>
            </a>
            <div class="row prizes" style="margin-bottom: 8px">
                <div>
                    <p class="title">3rd Place<br>Nomination Challenge</p>
                    
                    <p style="margin-bottom: 30px">Player with the most nominations to the Village Black Pages® within the challenge period wins!</p>
                    <p class="required">Minimum 5 nominations</p>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .challenge-row .col {
        background-size: 40%;
        background-repeat: repeat;
        padding: 40px 0px
    }
    .bg-box {
        width: 90%;
        margin-left: 5%;
        text-align: center;
        background: rgba(255, 255, 255, 0.8);
        border: solid black 3px;
        padding: 20px 5px;
    }
    .bg-box .link-title {
        font-family: oskar;
        font-size: 32px;
        text-align: center;
        font-weight: 400;
        color: rgb(189, 33, 33)
    }
</style>
<div class="row">
        
        <div class="col s10 offset-s1 m8 offset-m2" style="padding-top: 40px; padding-bottom: 40px;">
            <img class="lazy" src="{% static 'img/gift-guide-cs.jpeg' %}" width="100%" style="border:3px solid black">
        </div>
</div>

    <style>
        .date-btn {
            cursor: default; 
            background-color:rgb(24, 144, 24); 
            width: 100%; 
            margin-top: 10px; 
            height: fit-content; 
            padding: 20px 10px; 
            font-family: oskar;
            font-size: 20px;
            line-height: 24px; 
        }
        #bf-parallax {
            background:rgba(255, 255, 255, 0.906); 
            border: rgb(43, 43, 43) 3px solid; 
            width: 90%; 
            margin-top: 0%
        }
        #intro-row {
            padding-left: 5%; 
            padding-right:5%
        }
        .instruction-box {
            height: fit-content
        }
        @media only screen and (max-width: 420px){
            .create-account-btn {
                padding-left: 10px;
                padding-right: 10px;
                font-size: 14px
            }
        }
        
        .background {
            height: 350px
            }
        
        @media only screen and (max-width:600px){
            .bf-sublist li {
            font-size: 12px;
            font-weight: 400;
        }
            .instruction-box a {
                font-size: 17px;
                font-weight: 500;
                cursor:pointer
            }
            .instruction-box p {
                font-size: 14px !important
            }
            .challenge-period-text {
                font-size: 10px !important;
                color: rgb(92, 92, 92)
            }
        }
        @media only screen and (min-width:601px){
            #bf-parallax {
                width: 70%; 
            }
            #bingo-row {
                height: 400px
            }
            #bingo-row .instruction-box {
                width: 90%;
                margin-left: 5%;
            }
            #rss-row {
                height: 400px
            }
            #rss-row .instruction-box {
                width: 90%;
                margin-left: 5%;
            }
            #nomination-row .instruction-box {
                width: 90%;
                margin-left: 5%;
            }
            .bf-sublist li {
            font-size: 16px;
            font-weight: 400;
        }
            .instruction-box a {
                font-size: 20px;
                font-weight: 500;
                cursor:pointer
            }
            .instruction-box p {
                font-size: 18px
            }
            .challenge-period-text {
                font-size: 12px !important;
                color: rgb(92, 92, 92)
            }
        
        }
        @media only screen and (min-width:992px){
            #date-btn {
                font-size: 28px;
                line-height: 42px; 
            }
            #bf-parallax {
                width: 60%; 
            }
            .col-container {
            display: table; /* Make the container element behave like a table */
            width: 100%; /* Set full-width to expand the whole page */
        }

        .background {
            height: 750px !important
        }
            #bingo-row .instruction-box {
                width: 90%;
                margin-left: 5%;
            }
            #nomination-row .instruction-box {
                width: 90%;
                margin-left: 5%;
            }
            #rss-row .instruction-box {
                
                width: 90%;
                margin-left: 5;
            }
            .bf-sublist li {
            font-size: 18px;
            font-weight: 400;
        }
            .instruction-box a {
                font-size: 26px;
                font-weight: 500;
                cursor:pointer
            }
            .instruction-box p {
                font-size: 20px
            }
            .challenge-period-text {
                font-size: 16px !important;
                color: rgb(92, 92, 92)
            }
        
        }
    .collapsible-body {
        padding-left: 0;
        padding-right: 0;
    }
    
    .ways-to-play-title {
            color: #bf1e2d; 
            font-family: oskar-inline;
            text-decoration: underline;
        }
    @media only screen and (max-width: 600px){
        #timemoney-top {
            display: none;
        }
        #timemoney-bottom {
            display: block;
        }
        .ways-to-play-title {
            
            font-size: 48px;
        }
        .ways-to-play-tabs li a{
            font-size: 18px
        }
        .ways-to-play-tabs {
            max-width: 100%
        }
    }
    @media only screen and (min-width: 601px){
        .timemoney-bottom {
            display: none;
        }
        #timemoney-top {
            display: block;
            height: auto
        }
        .ways-to-play-title {
            font-size: 60px;
        }
        .ways-to-play-tabs li a{
            font-size: 22px !important
        }
        .ways-to-play-tabs {
            max-width: 100%
        }
    }
</style>
<script>
    $(document).ready(function(){
        $('#getStartedBtn').on("click", function(event){
            var container = $('#wtpContainer');
            var scrollTo = $('#wtpTitle');
      
            // Calculating new position of scrollbar
            var position = scrollTo.offset().top 
                    - container.offset().top 
                    + container.scrollTop();
      
            // Setting the value of scrollbar
            container.scrollTop(position);
        })
    })
    
</script>
{% endblock %}