{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="page">
  <div class="backpage">
    <div class="row center-align" style="margin-top:0px">
      <div class="col s10 offset-s1 login-card">
        <h6 id="vbp-nomination-form-title">Village Black Pages™ Nomination Form</h6>
          <h7 class="bf-instructions" style="color:rgb(165, 55, 55)">Nomination Challenge Rules: Player to identify and submit the most, new Black-owned businesses for free listing in ETV’s Village Black Pages wins!
            <p style="font-weight:200; font-size:14px; color:rgb(92, 92, 92); margin-top:0">*Nominated businesses must operate within our 25-state* footprint or online and be submitted through ETV’s portal. Ownership status will be validated by ETV.</p>
          </h7>
          <form method="POST" style="padding-left:10%; padding-right:10%;" id="nomination-form">
            {% csrf_token %}
      
            <div class="input-field">
              {{ nomination_form.business_name }}
              <label>{{ nomination_form.business_name.label }}<b>*</b></label>
            </div>
            <div class="input-field">
              {{ nomination_form.owner_name }}
              <label>{{ nomination_form.owner_name.label }}<b></b></label>
            </div>
            <div class="row" style='margin-bottom:0'>
              <div class="input-field col s12 m8">
                {{ nomination_form.website }}
                <label>{{ nomination_form.website.label }}</label>
              </div>
              <div class="input-field col s12 m4">
                {{ nomination_form.phone }}
                <label>{{ nomination_form.phone.label }}</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12 m4" style="margin-left:-7">
                <i class="fab fa-instagram prefix" ></i>
                {{ nomination_form.instagram }}
                <label>@Instagram</label>
              </div>
              <div class="input-field col s12 m4">
                <i class="fab fa-facebook prefix"></i>
                {{ nomination_form.facebook }}
                <label>@Facebook</label>
              </div>
              <div class="input-field col s12 m4">
                <i class="fab fa-twitter prefix"></i>
                {{ nomination_form.twitter }}
                <label>@Twitter</label>
              </div>
            </div>
            <div class="input-field">
              {{ nomination_form.category }}
              <label>{{ nomination_form.category.label }}<b>*</b></label>
            </div>
            <div class="input-field">
              {{ nomination_form.subcategory }}
              <label>{{ nomination_form.subcategory.label }}</label>
            </div>
        
          <div class="row">
            <div class="input-field col s6">
              {{ nomination_form.city }}
              <label>{{ nomination_form.city.label }}<b>*</b></label>
            </div>
            <div class="input-field col s6">
                {{ nomination_form.state }}
                <label>{{ nomination_form.state.label }}<b>*</b></label>
            </div>
          </div>
            <div class="input-field">
              {{ nomination_form.county }}
              <label>{{ nomination_form.county.label }}</label>
            </div>
            
            <div class="left-align">
              
              <p class="onlineonly-label">{{ nomination_form.online_only.label }}</p>
              {% for radio in nomination_form.online_only %}
                <p>
                  <label>
                    <input type="radio" name="online_only" class="with-gap">
                    <span> {{ radio.choice_label }}</span>
                  </label>
                </p>
              {% endfor %}
            </div>
            <div class="left-align">
            <p class="owned-label">{{ nomination_form.owned.label }}</p>
            
              {% for radio in nomination_form.owned %}
                <p>
                  <label>
                    <input type="radio" name="owned" class="with-gap">
                    <span> {{ radio.choice_label }}</span>
                  </label>
                </p>
              {% endfor %}
            </div>
            <div class="left-align">
              <p class="recommended-label">{{ nomination_form.recommended.label }}</p>
              
                {% for radio in nomination_form.recommended %}
                  <p>
                    <label>
                      <input type="radio" name="recommended" class="with-gap">
                      <span> {{ radio.choice_label }}</span>
                    </label>
                  </p>
                {% endfor %}
              </div>
            {% if user.is_authenticated %}
            {% else %}
            <div class="row">
              <div class="input-field col s6">
                {{ nomination_form.nominator_name }}
                <label>{{ nomination_form.nominator_name.label }}<b>*</b></label>
              </div>
              <div class="input-field col s6">
                {{ nomination_form.nominator_email }}
                <label>{{ nomination_form.nominator_email.label }}<b>*</b></label>
              </div>
            </div>
            {% endif %}
            <button class="btn btn-large submit-btn nomination-submit" type="submit">
                SUBMIT
            </button>
          </form>
        
      </div>
    </div>
    </div>
  </div>
  
  <style>
    @media only screen and (min-width: 663px){
      .login-card {
        
        padding-top:20px !important; 
        padding-bottom:40px !important; 
        padding-left: 30px !important; 
        padding-right: 30px !important;
      }
      .backpage {
        width: 95% !important;
        margin-left: 2.5%
      }
      .bf-subtitle {
        font-size: 38px !important
      }
      .bf-instructions {
      }
    }
    @media only screen and (min-width: 992px){
      .login-card {
        padding-top:50px !important; 
      }
      .bf-subtitle {
        font-size: 42px !important
      }
      .bf-instructions {
        font-size: 18px !important
      }
      #page {
        background-size: 120% !important
      }
    }
    .bf-subtitle{
  font-family: oskar-inline;
  font-size: 28px;
}
.login-card {
  background-color:#fdfdfdf1;
}
.backpage {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.555);
}
.bf-instructions {
  font-size: 16px
}
    [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid rgb(67, 135, 33);
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: rgb(67, 135, 33);
}
    .textfield {
      font-family: 'Poppins';
      font-weight: 300;
      letter-spacing: 1px;
      color:rgb(41, 41, 41);
      font-size:18px
    }
    .input-field {
      padding-bottom: 10px;
    }
    /* label color */
   .input-field label {
     color: rgb(72, 72, 72);;
     font-family: 'Poppins';
      font-weight: 300;
      letter-spacing: 1px;
      font-size:14px;
      padding-bottom:10px
    }
    /* label focus color */
    .input-field input[type=text]:focus + label {
      color: rgb(67, 135, 33) !important;
    }
    /* label underline focus color */
    .input-field input[type=text]:focus {
      border-bottom: 1px solid rgb(67, 135, 33) !important;
      box-shadow: 0 1px 0 0 rgb(67, 135, 33) !important;
    }
    
    /* icon prefix focus color */
    .input-field .prefix.active {
      color: #000;
    }
    .select-dropdown {
      font-family: 'Poppins';
      font-weight: 300;
      color:rgb(60, 60, 60);
      letter-spacing: 1px;
      padding-top: 10px
    }
    #page {
      background-image: url("{% static 'img/bf-challenge-cropped.png' %}");
      background-size: 160%;
      background-repeat: repeat;
    }
    .submit-btn {
    border: solid 1px rgb(237, 237, 237);
    background-color: rgb(57, 57, 57);
    cursor: pointer;
    padding: 30px 0px;
    display: inline-block;
    margin: 15px 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    overflow: hidden;
    border-radius:0;
    transform:scale(1,0.9);
    line-height:0px;
    width:40%;
    font-size:16px
  }
  .submit-btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: rgb(237, 237, 237);
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }
  .submit-btn:hover,
  .submit-btn:active {
    color: #319657;
    background-color: rgb(89, 121, 89);
  }

  .submit-btn:hover:after {
    height: 300%;
    opacity: 1;
  }
  .recommended-label {
    color: rgb(128, 128, 128);;
     font-family: 'Poppins';
      font-weight: 300;
      letter-spacing: 1px;
      font-size:16px;
      padding-bottom:0px
  }
  .owned-label {
    color: rgb(128, 128, 128);;
     font-family: 'Poppins';
      font-weight: 300;
      letter-spacing: 1px;
      font-size:16px;
      padding-bottom:0px
  }
  .onlineonly-label {
    color: rgb(128, 128, 128);;
     font-family: 'Poppins';
      font-weight: 300;
      letter-spacing: 1px;
      font-size:16px;
      padding-bottom:0px
  }
  .input-field b {
    color: red
  }
  .hidden {
    display: none;
  }
  .swal2-popup .select-wrapper {
    display: none;
  }
  </style>
  <script>
    $(document).ready(function(){
    $('input.autocomplete').autocomplete({
      data: {
        'Alabama': null,
        'Alaska': null,
        'Arizona': null,
        'Arkansas': null,
        'California': null,
        'Colorado': null,
        'Connecticut': null,
        'Delaware': null,
        'District of Columbia': null,
        'Florida': null,
        'Georgia': null,
        'Hawaii': null,
        'Idaho': null,
        'Illinois': null,
        'Indiana': null,
        'Iowa': null,
        'Kansas': null,
        'Kentucky': null,
        'Louisiana': null,
        'Maine': null,
        'Maryland': null,
        'Massachusetts': null,
        'Michigan': null,
        'Minnesota': null,
        'Mississippi': null,
        'Missouri': null,
        'Montana': null,
        'Nebraska': null,
        'Nevada': null,
        'New Hampshire': null,
        'New Jersey': null,
        'New Mexico': null,
        'New York': null,
        'North Carolina': null,
        'North Dakota': null,
        'Ohio': null,
        'Oklahoma': null,
        'Oregon': null,
        'Pennsylvania': null,
        'Rhode Island': null,
        'South Carolina': null,
        'South Dakota': null,
        'Tennessee': null,
        'Texas': null,
        'Utah': null,
        'Vermont': null,
        'Virginia': null,
        'Washington': null,
        'West Virginia': null,
        'Wisconsin': null,
        'Wyoming': null,
      },
    });
  });
  </script>
  
{% endblock %}

