{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="vbp-nomination-form" class="row" style="background:url('https://empowerthevillage.s3.amazonaws.com/static/img/VBP+collage.svg'); background-size: 100%; height:100%">
  <div class="col s12" style="background-color: rgba(255, 255, 255, 0.954); height: 100%">
  <h6 class="center-align" id="ven-nomination-form-title" style="color: #01a650; padding-bottom: 0; margin-top: 40px">Village Empowerment Network™ <br>Personal Registration Form</h6>
  <form class="col s12 l10 offset-l1 xl8 offset-xl2" method="POST" action="/village-empowerment-network-nomination" id="nomination-form">
      {% csrf_token %}
      <div class="col s12 m6 l4">
        <div class="input-field">
          <input name="nominator-name" id="vbp-name" type="text" required>
          <label for="vbp-name">Name<b class="required">*</b></label>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="input-field">
            <input id="vbp-email" name="nominator-email" type="text" required>
            <label for="vbp-email">Email<b class="required">*</b></label>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="input-field">
          {{ nomination_form.phone }}
          <label>Phone<b class="required">*</b></label>
        </div>
      </div>
            <div class="col s12 m6 ">
              <div class="input-field">
                {{ nomination_form.city }}
                <label>City<b class="required">*</b></label>
              </div>
            </div>
            <div class="input-field col s12 m6 ">
              {{ nomination_form.state }}
              <label>State<b class="required">*</b></label>
          </div>
          
            
            <div class="left-align col s12">
                <p class="owned-label">Employment Status<b class="required">*</b></p>
                  
                  <p class="col s3">
                    <label>
                      <input type="radio" name="owned" value="False" class="with-gap">
                      <span>Employed</span>
                    </label>
                  </p>
                  <p class="col s3">
                    <label>
                      <input type="radio" name="owned" value="False" class="with-gap">
                      <span>Self-Employed</span>
                    </label>
                  </p>
                  <p class="col s3">
                    <label>
                      <input type="radio" name="owned" value="True" class="with-gap">
                      <span>Unemployed</span>
                    </label>
                  </p>
              </div>
    <div class="row">
      <div class="col s12 m6">
        <p>Age Range<b class="required">*</b></p>
        <p>
            <label>
              <input class="with-gap" value="Less than 2 years" name="years-active" type="radio" required/>
              <span>Under 18</span>
            </label>
          </p>
          <p>
            <label>
              <input class="with-gap" value="3-5 years" name="years-active" type="radio"  />
              <span>18-30 years</span>
            </label>
          </p>
          <p>
            <label>
              <input class="with-gap" value="5-10 years" name="years-active" type="radio"  />
              <span>31-45 years</span>
            </label>
          </p>
          <p>
            <label>
              <input class="with-gap" value="10-15 years" name="years-active" type="radio"  />
              <span>46-64 years</span>
            </label>
          </p>
          <p>
            <label>
              <input class="with-gap"value="More than 15 years" name="years-active" type="radio"/>
              <span>65 and older</span>
            </label>
          </p>
      </div>
      <div class="col s12 m6">
        <p>Household Size<b class="required">*</b>
        </p>
        <p>
          <label>
            <input class="with-gap" value="0-4" name="employees" type="radio" required/>
            <span>1 person</span>
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" value="5-10" name="employees" type="radio"  />
            <span>2-3 people</span>
            
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" value="11-20" name="employees" type="radio"  />
            <span>4 people</span>
            
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" value="21-30" name="employees" type="radio"  />
            <span>More than 4 people</span>
            
          </label>
        </p>
      </div>
    </div>
    <div class="row">
        <p>Estimated 2021 Income<b class="required">*</b>
      <div class="col s12 m6">
        
          <p>
            <label>
              <input class="with-gap" value="Less than $30,000" name="revenue" type="radio" required/>
              <span>Less than $30,000</span>
              
            </label>
          </p>
          <p>
            <label>
              <input class="with-gap" value="$31,000-$50,000" name="revenue" type="radio"  />
              <span>$30,000-$50,000</span>
              
            </label>
          </p>
          <p>
            <label>
              <input class="with-gap" value="$51,000-$75,000" name="revenue" type="radio"  />
              <span>$50,000-$75,000</span>
              
            </label>
          </p>
          <p>
            <label>
              <input class="with-gap" value="$75,001-$100,000" name="revenue" type="radio"  />
              <span>$75,000-$100,000</span>
              
            </label>
          </p>
          
      </div>
      <div class="col s12 m6">
        <p>
            <label>
              <input class="with-gap" value="$101,000-$250,000" name="revenue" type="radio"  />
              <span>$100,000-$250,000</span>
              
            </label>
          </p>
          <p>
            <label>
              <input class="with-gap" value="$75,001-$100,000" name="revenue" type="radio"  />
              <span>$250,000-$500,000</span>
              
            </label>
          </p>
          <p>
            <label>
              <input class="with-gap" value="More than $100,000" name="revenue" type="radio" />
              <span>More than $500,000</span>
              
            </label>
          </p>
      </div>
    </div>
      <div class="col s12">
        <p><b>Rank Your Top 3 Business Priorities in Order of Need from 1-3.</b></p>
        <p>Budgeting/Saving, Home Ownership, Home Ownership, Tax Planning, College Planning/Saving, Retirment Planning, Exploring Entrepreneurship, Transferring Wealth/Estate Planning, Other</p>
        <div class="col s12 m8" style="margin-top: 20px">
          <div class="input-field">
            <select name="priority1" id="priority1" required>
              <option value="" disabled selected>Select Your #1 Priority</option>
              <option value="Revenue/Sales">Budgeting/Saving</option>
              <option value="Revenue/Sales">Home Ownership</option>
              <option value="Revenue/Sales">Tax Planning</option>
              <option value="Revenue/Sales">College Planning/Saving</option>
              <option value="Business Loans/Acquire Financing">Retirment Planning</option>
              <option value="Staffing/Employees">Exploring Entrepreneurship</option>
              <option value="Marketing/Advertising">Transferring Wealth/Estate Planning</option>
              <option value="Other" id="other1">Other</option>
            </select>
            <label>#1 Priority<b class="required">*</b></label>
          </div>
          <div class="input-field" style="display:none" id="other1-input">
            <input type=text name="other1-custom" placeholder="List Your #1 Priority Here">
          </div>
        </div>
        <div class="col s12 m8" style="margin-top: 20px">
          <div class="input-field">
            <select name="priority2" id="priority2">
                <option value="" disabled selected>Select Your #2 Priority</option>
                <option value="Revenue/Sales">Budgeting/Saving</option>
                <option value="Revenue/Sales">Home Ownership</option>
                <option value="Revenue/Sales">Tax Planning</option>
                <option value="Revenue/Sales">College Planning/Saving</option>
                <option value="Business Loans/Acquire Financing">Retirment Planning</option>
                <option value="Staffing/Employees">Exploring Entrepreneurship</option>
                <option value="Marketing/Advertising">Transferring Wealth/Estate Planning</option>
                <option value="Other" id="other1">Other</option>
            </select>
            <label>#2 Priority</label>
          </div>
          <div class="input-field" style="display:none" id="other2-input">
            <input type=text name="other2-custom" placeholder="List Your #2 Priority Here">
          </div>
        </div>
        <div class="col s12 m8" style="margin-top: 20px">
          <div class="input-field">
            <select name="priority3" id="priority">
                <option value="" disabled selected>Select Your #3 Priority</option>
                <option value="Revenue/Sales">Budgeting/Saving</option>
                <option value="Revenue/Sales">Home Ownership</option>
                <option value="Revenue/Sales">Tax Planning</option>
                <option value="Revenue/Sales">College Planning/Saving</option>
                <option value="Business Loans/Acquire Financing">Retirment Planning</option>
                <option value="Staffing/Employees">Exploring Entrepreneurship</option>
                <option value="Marketing/Advertising">Transferring Wealth/Estate Planning</option>
                <option value="Other" id="other1">Other</option>
            </select>
            <label>#3 Priority</label>
          </div>
          <div class="input-field" style="display:none" id="other3-input">
            <input type=text name="other3-custom" placeholder="List Your #3 Priority Here">
          </div>
        </div>
        
      </div>
      
      
        
        <div class="col s12 center-align">
          <button class="btn btn-large submit-btn nomination-submit" type="submit">
            SUBMIT
        </button>
        </div>
      
    </form>
  </div>
</div>
<style>
  .select-dropdown {
      font-family: 'Poppins';
      font-weight: 300;
      color:rgb(128, 128, 128);
      letter-spacing: 1px;
      padding-top: 10px
    }
  .select-wrapper input {
    overflow: hidden
  }
  .required {
    color: red
  }
  .swal2-container .select-wrapper {
    display: none !important
  }
  #ven-nomination-form-title{
    font-size: 28px;
    font-family: oskar-inline;
  }
  .input-field {
    margin-top: 8px;
    margin-bottom: 8px
  }
  form {
    padding-left:2.5%; 
    padding-right:2.5%;
    padding-bottom: 10%; 
  }
  #spu {
    margin-bottom: 10px
  }
  #llc {
    margin-bottom: 10px
  }
  .submit-btn {
    border: solid 1px rgb(237, 237, 237);
    background-color: rgb(57, 57, 57);
    cursor: pointer;
    padding: 30px 0px;
    display: inline-block;
    margin: 15px 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    overflow: hidden;
    border-radius:0;
    transform:scale(1,0.9);
    line-height:0px;
    width:40%;
    font-size:16px
  }
  .submit-btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: rgb(237, 237, 237);
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }
  .submit-btn:hover,
  .submit-btn:active {
    color: #319657;
    background-color: rgb(89, 121, 89);
  }

  .submit-btn:hover:after {
    height: 300%;
    opacity: 1;
  }
  @media only screen and (min-width: 362px){
    #llc {
      margin-bottom: 0px
    }
  }
  @media only screen and (min-width: 388px){
    #spu {
      margin-bottom: 0
    }
  }
  @media only screen and (min-width: 601px){
    #ven-nomination-form-title {
      font-size: 32px
    }
  }
  @media only screen and (min-width: 992px){
    #ven-nomination-form-title {
      font-size: 48px;
      margin-top: 80px !important
    }
  }
</style>
<script>
  $('#priority1').on('change', function(){
    if($('#other1').is(':selected')){
      $('#other1-input').css('display','block')
    } else {
      $('#other1-input').css('display','none')
    }
    });
    $('#priority2').on('change', function(){
    if($('#other2').is(':selected')){
      $('#other2-input').css('display','block')
    } else {
      $('#other2-input').css('display','none')
    }
    });
    $('#priority3').on('change', function(){
    if($('#other3').is(':selected')){
      $('#other3-input').css('display','block')
    } else {
      $('#other3-input').css('display','none')
    }
    });
</script>
{% endblock %}