{% extends 'base.html' %}
{% load static %}

{% block title %}ETV | Village Empowerment Network{% endblock %}

{% block content %}
<script>
    $(document).ready(function(){
    
        $('.slider').slider();
        $('.carousel').carousel({
              indicators: true,
          
            });
    });
</script>
<div class="parallax-container z-depth-3 box-shadow valign-wrapper">
    
    <div class="container z-depth-4 center-align parallax-banner">
        <img clas="lazy" src='{% static "img/ven-long.png" %}' style="width:100%; padding: 4%">
    </div>
    <div class="parallax">
        <img class="lazy" src="{% static 'img/vbp-collage.svg' %}" style="opacity: 1; ">
    </div>

</div>
<div>
    <div class="row" style="height: 100%; background-color: rgba(255, 255, 255, 0.781); width:100%">
        <div id="ven-home" class="col s12">
            <div class="col s12 l10 offset-l1  pillar-body">
                <div class="row center-align" style="width: 90%; margin-left: 5%">
                    <div class="efbf_text1 coming-soon-group" style="text-align: justify; display:block; padding-bottom: 0;">
                        
                        <div class="row">
                            <div class="center-align col s12 z-depth-3" style="margin-top: 25px; margin-bottom: 10px; padding:0">
                                <a href="/village-empowerment-network-nomination/"><img src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/ven-banner-0123.webp" width="100%"></a>
                              </div>
                            <div class="col s12">
                                <p style="padding-top: 0; padding-bottom: 0; margin-bottom: 0" class="ven-top-text"><b style="color:rgb(18, 148, 18)">Village</b> <b>Empowerment</b> <b style="color:rgb(204, 22, 22)">Network™</b> provides the expertise Black entrepreneurs, individuals, and families need to thrive. Black business owners receive one-on-one strategy, planning, and technical counseling, as well as training from experts to grow revenue, access funding, develop marketing plans, manage employees and expenses, protect assets, and expand their networks. Individuals and families receive financial planning and budgeting services.</p>

                                <p style="padding-bottom: 0;">ETV also offers access to online, on-demand and in-person trainings and workshops through its VEN Partners designed to ensure that entrepreneurs and individuals can learn and access the information they need at their own pace to build generational wealth.
                                </p>
                            
                                
                            </div>
                            <div class="col s12 center-align">
                                <a href="/donation/" class="btn donate-btn">Become a VEN Sponsor</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divider" style="margin-top: 0px; margin-bottom: 20px"></div>
                <div class="row center-align">
                    <h5 class="dyk" style="color:black; margin-bottom: 20px"><b style="color:rgb(18, 148, 18); font-weight: 300">VILLAGE </b><b style="color:black; font-weight: 300">EMPOWERMENT </b><b style="color:rgb(184, 34, 34); font-weight: 300">NETWORK</b></h5>
                    <h5 style="margin-bottom: 30px">Meet the Team Leader!</h5>
                    
                    <div class="row partner-logo-row">
                        <div class="col s12 m6 offset-m3" style="height: 100%">
                            <img width=250px height=250px class="z-depth-1 lazy" src="{% static 'img/andrew-frazier.jpg' %}" style="margin-top: 10px; border-radius: 50%;">
                            <p style="margin: 0; margin-top: 20px; padding: 0; font-weight: 600; font-size: 1.64rem">Andrew Frazier</p>
                            <p style="margin: 5px 0px; padding: 0; font-size: 22px">VEN Lead Strategist</p>
                            <a href="#sbpro"><img class="partner-img class" src="{% static 'img/sbpro-logo-expanded.png' %}" width=120% style="margin-top: 0px;"></a>
                            
                        </div>
                        
                    </div>
                    
                </div>
                <div class="divider" style="margin-top: 20px; margin-bottom: 20px"></div>
                <div class="row center-align">
                    <h5 style="line-height: 40px; margin-bottom: 30px">ETV’s Village Empowerment Network is supported by:</h5>
                    <div class="row valign-wrapper">
                        <div class="col s4"><img class="lazy" src='https://d1z669787inm16.cloudfront.net/media/first-energy-logo.png' width="70%" style="margin-left: 15%"></div>
                        <div class="col s4"><img class="lazy" src='https://d1z669787inm16.cloudfront.net/media/cfnj-logo.png' width="100%"></div>
                        <div class="col s4"><img class="lazy" src='https://d1z669787inm16.cloudfront.net/media/cap-one.png' width="70%"></div>
                    </div>
                </div>
                <div class="divider" style="margin-top: 40px; margin-bottom: 20px"></div>
                <div class="row center-align">
                    <h5 style="padding: 40px;"><a href="/village-empowerment-network-nomination">Register now to unlock 15 free courses!</a></h5>
                    <div class="row">
                        <div class="col s4"><a href="/village-empowerment-network-nomination"><img class="ven-img-odd z-depth-3" src="{% static 'img/ven/1.png' %}"></a></div>
                        <div class="col s4"><a href="/village-empowerment-network-nomination"><img class="ven-img-odd z-depth-3" src="{% static 'img/ven/6.png' %}"></a></div>
                        <div class="col s4"><a href="/village-empowerment-network-nomination"><img class="ven-img-odd z-depth-3" src="{% static 'img/ven/7.png' %}"></a></div>
                    </div>
                    <div class="row">
                        <div class="col s4 offset-s2"><a href="/village-empowerment-network-nomination"><img class="ven-img-even z-depth-3" src="{% static 'img/ven/4.png' %}"></a></div>
                        <div class="col s4"><a href="/village-empowerment-network-nomination"><img class="ven-img-even z-depth-3" src="{% static 'img/ven/5.png' %}"></a></div>
                    </div>
                    <style>
                        .donate-btn {
                            background:rgb(18, 148, 18);
                            color: white;
                            font-family: oskar;
                            font-size: 28px;
                            padding: 15px 30px;
                            height: fit-content;
                            letter-spacing: 1px;;
                        }
                        .donate-btn:hover {
                            background:rgb(7, 101, 7);
                            color: white;
                        }
                        .ven-img-odd {
                            width: 100%
                        }
                        .ven-img-even {
                            width: 100%
                        }
                    </style>
                </div>
                <div class="divider" style="margin-bottom: 20px"></div>
                <img class="z-depth-1 lazy" src="{% static 'img/ven-wealth-building.png' %}" width=80% style="margin-left: 10%; margin-bottom: 30px">
             
                
            </div>
        </div>
        
            
                    </div>
                    
                </div>  
            </div>
          </div>
        <style>
            .tab-demo a {
                color: black !important;
                font-size: 18px !important
            }
            .tab-demo a.active {
                color: rgb(39, 187, 3) !important
            }
            .indicator {
                background-color: rgb(39, 187, 3) !important;
                width: 25%
            }
        </style>
       
    </div>
</div>
<style>
    .ven-top-text b {
        font-weight: 600;
        font-size: 24px
    }
    .success-mobile {
        width: 100%
    }
    .success-large {
        width: 100%
    }
    .dyk b {
        font-weight: 300;
    }
    .partner-logo-row {
        height: 420px
    }
    .partner-img {
        width: 50%;
        max-height: 120px
    }
    .chase-card-row .card {
        padding: 20px;
        height: 170px
    }
    .chase-card-row .card p{
        margin: 0;
        padding: 0
    }
    .chase-card-row .card h6{
        line-height: 24px;
        color:rgb(18, 148, 18);
        border-bottom: dotted 2px rgb(226, 226, 226);
        padding-bottom: 10px
    }
    .collection {
        border: none !important;
        
    }
    .collection.with-header .collection-header {
        background-color: transparent;
    }
    .collection .collection-item{
        background-color: transparent;
        border-bottom: dotted 2px rgb(235, 235, 235)
    }
    .valign-wrapper {
        justify-content: center;
    }
    .slider .slides{
        height: 200px !important
    }
    .slider {
        height: 240px !important
    }
    #sbpro .slides li {
        background-color: #012060
    }
    .slides li {
        background-color: black;
    }
    #sbpro .slider .slides li img {
        width: 350px;
        height: 200px
    }
    #chase .slider .slides li img {
        width: 100%;
        height: 200px
    }
    .pillar-body {
        height: 100%
    }
    @media only screen and (max-width: 850px){
        .pillar-nav {
        display: none !important
    }
    }
    @media only screen and (min-width: 600px){
        .chase-card-row .card {
            padding: 20px;
            height: 200px
        }
        .partner-logo-row {
            height: 420px
        }
        .partner-img {
            width: 100%;
            height: auto;
            max-height:min-content
        }
        #sbpro .slider .slides li img {
            width: 600px;
            height: 400px;
        }
        #chase .slider .slides li img {
            width: 800px;
            height: 300px
        }
        #sbpro .slider .slides{
            height: 400px !important
        }
        #sbpro .slider {
            height: 440px !important
        }
        #chase .slider .slides {
            height: 300px !important
        }
        #chase .slider {
            height: 340px !important
        }
        .collection {
            width: 70%;
            margin-left: 15%
        }
    }
    @media only screen and (min-width:663px){
        .subnav-link {
            font-size: 16px !important;
            font-weight: 500 !important;
        }
        .pillar-nav {
            display: none;
        }
        
    }
    @media only screen and (min-width:992px){
        .partner-logo-row {
       height: 430px
    }
        .partner-img {
            width: 80%;
            height: auto;
            max-height:min-content
        }
        .subnav-link {
            font-size: 20px !important;
            font-weight: 500 !important;
        }
        .pillar-nav {
            display:-webkit-flex !important
        }
        .parallax-banner {
            width: 75% !important
        }
    }
    @media only screen and (min-width: 1200px){
        .parallax-banner {
            width: 50% !important
        }    
    }
    .subnav-link {
        font-size: 14px;
        font-weight: 500 !important
    }
    
</style>
<style>
    .pillar-nav {
        background-color: rgb(0, 0, 0);
    }
    .pillar-nav li a {
        color: rgb(255, 255, 255) !important;
    }
    .dyk-quote {
        text-align: left;
        border-left: dotted rgb(184, 34, 34) 2px;
        padding-left: 3% !important;
        margin-left: 2% !important
    }
    .divider {
        margin: 0;
        width: 90%;
        margin-left: 5%;
    }
    
    p {
        font-weight: 400;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }
    
    .facts-ul li {
        padding-bottom: 15px;
        font-weight: 300;
    }
    .dyk {
        font-family: oskar-inline;
        color:rgba(60, 60, 60, 0.947);
        text-transform: uppercase;
    }
    .goals-header {
        background: rgb(191,23,23);
        background: linear-gradient(90deg, rgba(191,23,23,0.8365721288515406) 0%, rgba(156,96,30,0.738532913165266) 49%, rgba(0, 0, 0, 0.399) 100%); 
    }
    .solutions-header {
        background: rgb(191,23,23);
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.603) 0%, rgba(137, 143, 65, 0.739) 49%, rgba(44, 129, 15, 0.739) 100%); 
    }
    .cs-title {
        color: black
    }
    @media only screen and (min-width: 0px) {
        .ee-image img {
            width: 60%
        }
        .program-text {
            text-align: center;
            width: 90%;
            margin-left: 5%;
            font-size: 14px
        }
        .dyk {
            font-size: 34px;
            letter-spacing: 2px;
        }
        .dyk-quote {
            font-size: 14px
        }
        .collapsible-body-image-cs {
            width: 64px !important;
            height: 64px;
            margin-left: 5%;
            margin-right: 1%
        }
        .cs-title {
            font-size: 28px;
            text-align: left;
            padding-left: 1%
        }
        .health-main-title {
        font-family: oskar-inline;
        font-size: 36px;
        text-align: center;
        color:rgb(18, 148, 18);
        margin-bottom: 0;
        margin-top: 20px
    }
    .health-main-text {
        font-size: 18px;
        line-height: 30px;
        text-align: center;
    }
        .mi-row {
            width: 100%;
            padding-left: 5%
        }
        .dyk-quote {
            font-size: 14px
        }
        blockquote {
            font-size: 16px;
            font-weight: 300;
            margin-top: 20px !important;
        }
        .unemployment-seesaw img {
            width: 100%;
            padding-top: 40px;
        }
        .education-seesaw img {
            padding-top: 20px;
            width: 105%;
        }
        .statistic-title {
            font-family: poppins;
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-transform: scale(1, 0.9);
            text-align: center;
            background-color: rgba(154, 22, 22, 0.947);
            padding: 15px 5px;
            color: white
        }
        .collapsible li {
            margin: 0 !important;
        }
        .degree-attainment-small {
            display: block;
            padding: 0% 5%;
        }
        .degree-attainment {
            display: none;
            padding: 0% 5%;
        }
        blockquote {
            width: 90%;
            margin-left: 5%;
            margin-top: 7%;
        }
    }
    @media only screen and (min-width: 420px) {
        .statistic-title {
            font-size: 20px;
            padding: 15px 10px;
        }
    }
    @media only screen and (min-width: 601px) {
        .ee-image img {
            width: 60%
        }
        .program-text {
            text-align: center;
            width: 90%;
            margin-left: 5%;
            font-size: 16px
        }
        .goals-li {
            width: 100%;
    }
    .solutions-li {
        width: 100%;
    }
        .dyk {
        font-size: 42px
    }
        .dyk-quote {
            font-size: 16px
        }
        blockquote {
            font-size: 20px;
        }
        .degree-attainment-small {
            display: none;
        }
        .degree-attainment {
            display: block;
        }
        .unemployment-seesaw img {
            width: 91%;
            padding-top: 20px;
        }
        .education-seesaw img {
            padding-top: 20px;
            width: 100%;
        }
        .statistic-title-large {
            font-family: poppins;
            width: 80%;
            margin-left: 10%;
            font-weight: 600;
            font-size: 24px;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-transform: scale(1, 0.9);
            text-align: center;
            background-color: rgba(207, 25, 25, 0.865);
            padding: 15px 5px;
            color: white
        }
    }
    @media only screen and (min-width: 993px) {
        .ee-image img {
            width: 110%;
            margin-top: 3%
        }
        .program-text {
            text-align: left;
            font-size: 22px
        }
        .dyk {
        font-size: 58px
    }
        .dyk-quote {
            font-size: 20px
        }
        blockquote {
            font-size: 24px;
        }
        .ven-top-text b {
        font-weight: 600;
        font-size: 30px
    }
    }
</style>
{% endblock %}