{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="vbp-nomination-form" class="row" style="background:url('https://empowerthevillage.s3.amazonaws.com/static/img/VBP+collage.png'); background-size: 100%; height:100%">
  <div class="col s12" style="background-color: rgba(255, 255, 255, 0.954)">
  <h6 class="center-align" id="ven-nomination-form-title" style="color: #01a650; padding-bottom: 0; margin-top: 40px">Village Empowerment Network™ <br>Business Nomination Form</h6>
  <form class="col s12 l10 offset-l1 xl8 offset-xl2" method="POST" action="/village-empowerment-network-nomination" id="nomination-form">
      {% csrf_token %}
      <div class="col s12 m6 l4">
      <div class="input-field">
        <input name="nominator-name" id="vbp-name" type="text" required>
        <label for="vbp-name">Your Name<b class="required">*</b></label>
      </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="input-field">
            <input id="vbp-email" name="nominator-email" type="text" required>
            <label for="vbp-email">Your Email<b class="required">*</b></label>
        </div>
      </div>
      
      <div class="col s12 m6 l4">
        <div class="input-field">
          <input id="owner-name" name="owner-name" type="text" required>
          <label for="owner-name">Business Owner Name(s)<b class="required">*</b></label>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="input-field">
          {{ nomination_form.business_name }}
          <label>{{ nomination_form.business_name.label }}<b class="required">*</b></label>
        </div>
        
      </div>
      <div class="col s12 m6 l4">
        <div class="input-field">
          {{ nomination_form.city }}
          <label>{{ nomination_form.city.label }}<b class="required">*</b></label>
        </div>
      </div>
      
      <div class="col s12 m6 l4">
        <div class="input-field">
          {{ nomination_form.phone }}
          <label>{{ nomination_form.phone.label }}<b class="required">*</b></label>
        </div>
      </div>
      <div class="left-align col s12">
        <p class="owned-label">{{ nomination_form.owned.label }}<b class="required">*</b></p>
          <p class="col s3">
            <label>
              <input type="radio" name="owned" value="True" class="with-gap">
              <span>Yes</span>
            </label>
          </p>
          <p class="col s3">
            <label>
              <input type="radio" name="owned" value="False" class="with-gap">
              <span>No</span>
            </label>
          </p>
      </div>
      <div class="col s12 m6">
        <p>Number of Years in Business<b class="required">*</b></p>
        
        <p>
            <label>
              <input class="with-gap" value="Less than 2 years" name="years-active" type="radio" required/>
              <span>Less than 2 years</span>
            </label>
          </p>
          <p>
            <label>
              <input class="with-gap" value="3-5 years" name="years-active" type="radio"  />
              <span>3-5 years</span>
            </label>
          </p>
          <p>
            <label>
              <input class="with-gap" value="5-10 years" name="years-active" type="radio"  />
              <span>5-10 years</span>
            </label>
          </p>
          <p>
            <label>
              <input class="with-gap" value="10-15 years" name="years-active" type="radio"  />
              <span>10-15 years</span>
            </label>
          </p>
          <p>
            <label>
              <input class="with-gap"value="More than 15 years" name="years-active" type="radio"/>
              <span>More than 15 years</span>
            </label>
          </p>
      </div>
      <div class="col s12 m6">
        <p>Number of Employees<b class="required">*</b>
        </p>
        <p>
          <label>
            <input class="with-gap" value="0-4" name="employees" type="radio" required/>
            <span>0-4 people</span>
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" value="5-10" name="employees" type="radio"  />
            <span>5-10 people</span>
            
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" value="11-20" name="employees" type="radio"  />
            <span>11-20</span>
            
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" value="21-30" name="employees" type="radio"  />
            <span>21-30 people</span>
            
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" value="More than 30" name="employees" type="radio"  />
            <span>More than 30 people</span>
            
          </label>
        </p> 
      </div>
      <div class="col s12 m6">
        <p>Estimated 2021 Revenue<b class="required">*</b>
          <p>
            <label>
              <input class="with-gap" value="Less than $50,000" name="revenue" type="radio" required/>
              <span>Less than $50,000</span>
              
            </label>
          </p>
          <p>
            <label>
              <input class="with-gap" value="$51,000-$100,000" name="revenue" type="radio"  />
              <span>$51,000-$100,000</span>
              
            </label>
          </p>
          <p>
            <label>
              <input class="with-gap" value="$101,000-$250,000" name="revenue" type="radio"  />
              <span>$101,000-$250,000</span>
              
            </label>
          </p>
          <p>
            <label>
              <input class="with-gap" value="$251,000-$500,000" name="revenue" type="radio"  />
              <span>$251,000-$500,000</span>
              
            </label>
          </p>
          <p>
            <label>
              <input class="with-gap" value="More than $500,000" name="revenue" type="radio" />
              <span>More than $500,000</span>
              
            </label>
          </p>
          
        </p>
      </div>
      <div class="col s12 m6">
        <p>Current Business Structure:</p>
        <input class="hidden" type="radio" value='' name="structure" checked>
        <p>
          <label>
            <input class="with-gap" value="Sole Proprietorship" name="structure" type="radio"  />
            <span id="spu">Sole Proprietorship (unincorporated)</span>
            
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" value="Incorporated Entity" name="structure" type="radio" />
            <span>Incorporated Entity (Inc.)</span>
            
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" value="Official Partnership" name="structure" type="radio" />
            <span>Official Partnership (e.g., LP)</span>
            
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" value="LLC" name="structure" type="radio" />
            <span id="llc">Limited Liability Corporation (LLC)</span>
            
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" value="None" name="structure" type="radio" />
            <span>None of the Above</span>
            
          </label>
        </p>
      </div>
      <div class="col s12">
        <p><b>Rank Your Top 3 Business Priorities in Order of Need from 1-3.</b></p>
        <p>Revenue/Sales, Business Loans/Acquire Financing, Staffing/Employees, Marketing/Advertising, <br>E-Commerce, Exiting, Estate Planning, Other</p>
        <div class="col s12 m8">
          <div class="input-field">
            <select name="priority1" id="priority1" required>
              <option value="" disabled selected>Select Your #1 Priority</option>
              <option value="Revenue/Sales">Revenue/Sales</option>
              <option value="Business Loans/Acquire Financing">Business Loans/Acquire Financing</option>
              <option value="Staffing/Employees">Staffing/Employees</option>
              <option value="Marketing/Advertising">Marketing/Advertising</option>
              <option value="E-Commerce">E-Commerce</option>
              <option value="Exiting">Exiting</option>
              <option value="Estate Planning">Estate Planning</option>
              <option value="Other" id="other1">Other</option>
            </select>
            <label>#1 Priority<b class="required">*</b></label>
          </div>
          <div class="input-field" style="display:none" id="other1-input">
            <input type=text name="other1-custom" placeholder="List Your #1 Priority Here">
          </div>
        </div>
        <div class="col s12 m8">
          <div class="input-field">
            <select name="priority2" id="priority2">
              <option value="" selected>Select Your #2 Priority</option>
              <option value="Revenue/Sales">Revenue/Sales</option>
              <option value="Business Loans/Acquire Financing">Business Loans/Acquire Financing</option>
              <option value="Staffing/Employees">Staffing/Employees</option>
              <option value="Marketing/Advertising">Marketing/Advertising</option>
              <option value="E-Commerce">E-Commerce</option>
              <option value="Exiting">Exiting</option>
              <option value="Estate Planning">Estate Planning</option>
              <option value="Other" id="other2">Other</option>
            </select>
            <label>#2 Priority</label>
          </div>
          <div class="input-field" style="display:none" id="other2-input">
            <input type=text name="other2-custom" placeholder="List Your #2 Priority Here">
          </div>
        </div>
        <div class="col s12 m8">
          <div class="input-field">
            <select name="priority3" id="priority">
              <option value="" selected>Select Your #3 Priority</option>
              <option value="Revenue/Sales">Revenue/Sales</option>
              <option value="Business Loans/Acquire Financing">Business Loans/Acquire Financing</option>
              <option value="Staffing/Employees">Staffing/Employees</option>
              <option value="Marketing/Advertising">Marketing/Advertising</option>
              <option value="E-Commerce">E-Commerce</option>
              <option value="Exiting">Exiting</option>
              <option value="Estate Planning">Estate Planning</option>
              <option value="Other" id="other3">Other</option>
            </select>
            <label>#3 Priority</label>
          </div>
          <div class="input-field" style="display:none" id="other3-input">
            <input type=text name="other3-custom" placeholder="List Your #3 Priority Here">
          </div>
        </div>
        
      </div>
      <div class="col s12">
        <div class="input-field">
          {{ nomination_form.website }}
          <label>{{ nomination_form.website.label }}</label>
        </div>
      </div>
      <div class="col s12">
          <div class="input-field col s8 m4" style="margin-left:-7">
            <i class="fab fa-instagram prefix" ></i>
            {{ nomination_form.instagram }}
          </div>
          <div class="input-field col s8 m4">
            <i class="fab fa-facebook prefix"></i>
            {{ nomination_form.facebook }}
          </div>
          <div class="input-field col s8 m4">
            <i class="fab fa-twitter prefix"></i>
            {{ nomination_form.twitter }}
          </div>
        </div>
        <div class="input-field col s12" style="margin-top: 20px">
          {{ nomination_form.category }}
          
          <label>{{ nomination_form.category.label }}<b class="required">*</b></label>
          
        </div>
       
    <div class="input-field col s12">
      {{ nomination_form.subcategory }}
      <label>{{ nomination_form.subcategory.label }}</label>
      
    </div>
      
      <div class="input-field col s12">
          {{ nomination_form.state }}
          <label>Business State<b class="required">*</b></label>
      </div>
      
      <div class="left-align col s12">
        <p class="recommended-label">{{ nomination_form.recommended.label }}</p>
        <input class="hidden" type="radio" value='' name="recommended" checked>
          <p class="col s3">
            <label>
              <input type="radio" value="True" name="recommended" class="with-gap">
              <span>Yes</span>
            </label>
          </p>
          <p class="col s3">
            <label>
              <input type="radio" value="False" name="recommended" class="with-gap">
              <span>No</span>
            </label>
          </p>
        </div>
        <div class="col s12 center-align">
          <button class="btn btn-large submit-btn nomination-submit" type="submit">
            SUBMIT
        </button>
        </div>
      
    </form>
  </div>
</div>
<style>
  .select-wrapper input {
    overflow: hidden
  }
  .required {
    color: red
  }
  .swal2-container .select-wrapper {
    display: none !important
  }
  #ven-nomination-form-title{
    font-size: 28px;
    font-family: oskar-inline;
  }
  .input-field {
    margin-top: 8px;
    margin-bottom: 8px
  }
  form {
    padding-left:2.5%; 
    padding-right:2.5%;
    padding-bottom: 10%; 
  }
  #spu {
    margin-bottom: 10px
  }
  #llc {
    margin-bottom: 10px
  }
  .submit-btn {
    border: solid 1px rgb(237, 237, 237);
    background-color: rgb(57, 57, 57);
    cursor: pointer;
    padding: 30px 0px;
    display: inline-block;
    margin: 15px 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    overflow: hidden;
    border-radius:0;
    transform:scale(1,0.9);
    line-height:0px;
    width:40%;
    font-size:16px
  }
  .submit-btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: rgb(237, 237, 237);
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }
  .submit-btn:hover,
  .submit-btn:active {
    color: #319657;
    background-color: rgb(89, 121, 89);
  }

  .submit-btn:hover:after {
    height: 300%;
    opacity: 1;
  }
  @media only screen and (min-width: 362px){
    #llc {
      margin-bottom: 0px
    }
  }
  @media only screen and (min-width: 388px){
    #spu {
      margin-bottom: 0
    }
  }
  @media only screen and (min-width: 601px){
    #ven-nomination-form-title {
      font-size: 32px
    }
  }
  @media only screen and (min-width: 992px){
    #ven-nomination-form-title {
      font-size: 48px;
      margin-top: 80px !important
    }
  }
</style>
<script>
  $('#priority1').on('change', function(){
    if($('#other1').is(':selected')){
      $('#other1-input').css('display','block')
    } else {
      $('#other1-input').css('display','none')
    }
    });
    $('#priority2').on('change', function(){
    if($('#other2').is(':selected')){
      $('#other2-input').css('display','block')
    } else {
      $('#other2-input').css('display','none')
    }
    });
    $('#priority3').on('change', function(){
    if($('#other3').is(':selected')){
      $('#other3-input').css('display','block')
    } else {
      $('#other3-input').css('display','none')
    }
    });
</script>
{% endblock %}