{% extends 'base.html' %}
{% load static %}

{% block title %}ETV | Economic Prosperity & Employment{% endblock %}
{% block canonical %}https://www.empowerthevillage.org/economic-prosperity/{% endblock %}
{% block seo_description %}ETV Strategic Pillars: Economic Prosperity{% endblock %}

{% block content %}
<div class="parallax-container z-depth-3 box-shadow valign-wrapper">
    
    <div class="container z-depth-4 center-align parallax-banner">
        <h4 style="padding: 1% 0%; font-family: poppins; font-weight: 800; font-size: 62px; letter-spacing: 2px; color:rgb(64, 156, 21)">PROSPERITY</h4>
    </div>
    <div class="parallax">
        <img src='https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/vbp-collage.webp'>
    </div>

</div>
<div class="row" style="background-color: rgba(255, 255, 255, 0.781);">
    <ul class="tabs tabs-fixed-width pillar-nav z-depth-2">
        <li class="tab subnav-link"><a href="{{ efbf_url }}" class="subnav-link">MAKE EVERY FRIDAY, BLACK FRIDAY!®</a></li>
        <li class="tab subnav-link"><a href="{{ vbp_url }}" class="subnav-link">Village Black Pages®</a></li>
        <li class="tab subnav-link"><a href="{{ bf_home_url }}" class="subnav-link">Black Friday Challenge™</a></li>
        <li class="tab subnav-link"><a href="{{ ven_url }}" class="subnav-link">Village Empowerment Network™</a></li>
    </ul>
    <style>
        @media only screen and (max-width: 850px){
            .pillar-nav {
            display: none !important
        }
        }
        @media only screen and (min-width:663px){
            .subnav-link {
                font-size: 16px !important;
                font-weight: 500 !important;
            }
            .pillar-nav {
                display: none;
            }
        }
        @media only screen and (min-width:992px){
            .subnav-link {
                font-size: 20px !important;
                font-weight: 500 !important;
            }
            .pillar-nav {
                display:-webkit-flex !important
            }
        }
        .subnav-link {
            font-size: 14px;
            font-weight: 500 !important
        }
        
    </style>
    
    <div class="pillar-body">
        <div class="row center-align">
            <div class="col s12">
                <p class="pillar-tagline container">
                    The Prosperity pillar is the centerpiece to ETV’s portfolio of signature programs accelerating economic empowerment through Black Excellence in Entrepreneurship, <a href="/economic-prosperity-and-employment/village-at-work/">Employment</a>, Asset Ownership, and Money Management. Many of these national and regional initiatives work to unlock vast opportunities . . . and create generational wealth and increase prosperity for the Black community and others across the country!
                </p>
                <div class="col s12 m6 offset-m3" style="padding-bottom: 30px;">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/1OodbDx4nK4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="divider" style="margin-bottom: 15px; margin-top: 15px;width: 50%; margin-left: 25%; border-bottom: dotted 3px rgb(222, 222, 222); background-color: transparent"></div>
                <p class="dyk" style="color: rgb(184, 23, 23); margin:0; padding:0; padding-top: 2%; padding-bottom: 20px; margin-top: -10px">State Of The Village: <a style="color:rgba(38, 38, 38, 0.947); font-family: oskar">Did You Know...?</a></p>
                <div class="divider" style="margin-bottom: 30px; margin-top: 20px"></div>
                <div class="row" style="margin-bottom: 0; padding-left: 5%; padding-right: 5%;">
                    <div class="row">
                        <div class="col s12 m4">
                            <div class="row dyk-row">
                                <img class="col s3 m12 one2trillion" src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/1-5-trillion.png">
                                <p class="col s9 m12 one2trillion-text">The U.S. Black community's buying power is ~$1.5 trillion!</p>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="row dyk-row">
                                <img class="col s3 m12 two6million" src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/3-million.png">
                                <p class="col s9 m12 two6million-text">There are 3+ million Black businesses in the U.S!</p>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="row dyk-row">
                                <img class="col s3 m12" id="wib" src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/women-in-business.png">
                                <p class="col s9 m12 two6million-text">Black women are starting businesses at a faster rate than any other group!</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m4">
                            <div class="row dyk-row">
                                <img class="col s3 m12 women-ofb" src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/unemployment-seesaw.png">
                                <p class="col s9 m12 women-ofb-text">The unemployment rate of Black Americans is 2X that of their White counterparts.</p>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="row dyk-row">
                                <img class="col s3 m12 women-ofb" src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/95-percent.png">
                                <p class="col s9 m12 women-ofb-text">95% of Black-owned businesses are nonemployer businesses. 101% average increase in annual revenue after hiring the 1st employee</p>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="row dyk-row">
                                <img class="col s3 m12 women-ofb" src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/million-jobs.png">
                                <p class="col s9 m12 women-ofb-text">~5% of Existing Black-owned businesses have created over 1 million jobs!</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m4">
                            <div class="row dyk-row">
                                <img class="col s3 m12 tenx-scale" src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/one-third-graphic.jpg">
                                <p class="col s9 m12 women-ofb-text">The start-up capital for Black-owned businesses is only ⅓ of white-owned business start-up capital.</p>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="row dyk-row">
                                <img class="col s3 m12 tenx-scale" src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/10x-scale.png">
                                <div>
                                    <p class="col s12 circulate-text">
                                    The net worth of White Americans is 8-10X greater than that of Black Americans.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="row dyk-row">
                                <img class="col s3 m12 tenx-scale" src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/closed-graphic.png">
                                <p class="col s9 m12 women-ofb-text">41% of Black small businesses were forced to close temporarily or permanently due to impacts of the COVID-19 pandemic.</p>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>

        <div class="divider" style="margin-bottom: 20px"></div>

        <div class="row" style="width: 100%; margin-left:0%">
            <div class="col s12 l7 xl8 row">
                <ul class="col s12 pillar-collapsible goals-collapsible">
                    <li class="goals-li">
                        <div class="valign-wrapper pillar-header goals-header">
                            <img src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/etv-goals.png" width="60px;" style="margin-right: 5px;margin-left: 2%;">
                            <div class="pillar-title">ETV Goals</div>
                            
                        </div>
                        <div class="collapsible-body-pillar z-depth-3" style="padding: 3% !important">
                            <ul>
                                <li class="pillar-h5">
                                    <table>
                                        <tr class="pillar-tr">
                                            <td class="pillar-target-td">
                                                <i class="material-icons pillar-target">track_changes</i> 
                                            </td>
                                            <td class="pillar-h5">
                                                Increase Black Prosperity and Generational Wealth
                                            </td>
                                        </tr>
                                        <tr class="pillar-tr">
                                            <td class="pillar-target-td">
                                                <i class="material-icons pillar-target">track_changes</i> 
                                            </td>
                                            <td class="pillar-h5">
                                                Strengthen and Grow Black Businesses
                                            </td>
                                        </tr>
                                        <tr class="pillar-tr">
                                            <td class="pillar-target-td">
                                                <i class="material-icons pillar-target">track_changes</i> 
                                            </td>
                                            <td class="pillar-h5">
                                                Create Jobs to reduce unemployment and under-employment for Black Americans
                                            </td>
                                        </tr>
                                    </table>
                                    
                                </li>
                            </ul>
                            
                        </div>
                    </li>
                </ul> 
                <ul class="col s12 pillar-collapsible" style="margin-top: 20px;margin-bottom: 1%;">
                    
                    <li class="solutions-li z-depth-3">
                        <div class="collapsible-header valign-wrapper pillar-header solutions-header">
                            <img src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/etv-solutions.png" width="60px;" style="margin-right: 5px;margin-left: 2%;">
                            <div class="pillar-title">ETV Solutions</div>
                        </div>
                        <div class="collapsible-body-pillar" style="padding: 3% !important">
                            <table>
                                <tr class="pillar-tr">
                                    <td class="pillar-target-td">
                                        <i class="material-icons pillar-target">check</i> 
                                    </td>
                                    <td class="pillar-h5">
                                        <b><a href="{{ efbf_url }}">Make Every Friday, Black Friday!® - </a></b>Movement to support Black-owned businesses weekly to increase business revenue and community wealth
                                    </td>
                                </tr>
                                <tr class="pillar-tr">
                                    <td class="pillar-target-td">
                                        <i class="material-icons pillar-target">check</i> 
                                    </td>
                                    <td class="pillar-h5">
                                        <b><a href="{{ vbp_url }}">Village Black Pages® - </a></b>Business and community resource directories to promote and empower Black-owned businesses and locate critical information 
                                    </td>
                                </tr>
                                
                                
                                <tr class="pillar-tr">
                                    <td class="pillar-target-td">
                                        <i class="material-icons pillar-target">check</i> 
                                    </td>
                                    <td class="pillar-h5">
                                        <b><a href="{{ ven_url }}">Village Empowerment Network™ - </a></b>One-on-one counseling for entrepreneurs, families, and individuals and online, on-demand business and wealth trainings + live workshops
                                    </td>
                                </tr>
                                <tr class="pillar-tr">
                                    <td class="pillar-target-td">
                                        <i class="material-icons pillar-target">check</i> 
                                    </td>
                                    <td class="pillar-h5">
                                        <b><a href="{{ vaw_url }}">Village@Work™ - </a>Coming Soon! </b>This workforce development program is focused on preparing business owners to create jobs and oppportunities within the communities they serve while reducing unemployment and increasing revenue and productivity for Black-owned businesses
                                    </td>
                                </tr>
                                <tr class="pillar-tr">
                                    <td class="pillar-target-td">
                                        <i class="material-icons pillar-target">check</i> 
                                    </td>
                                    <td class="pillar-h5">
                                        <b><a href="{{ bf_home_url }}">Black Friday Challenge™ - </a></b>Fun, interactive, friendly competitions to encourage consistent patronage of Black-owned businesses
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </li>
                </ul> 
            </div>
            <div class="col s12 l5 xl4 success-eq-top">
                <img class="col s12 left lazy" src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/success-equation.gif" width=100%>
            </div>
        </div>

        <div class="divider" style="margin-bottom: 20px"></div>

        <div class="efbf_text1 coming-soon-group" style="text-align: justify; display:block; padding-bottom: 0;">
            <h5 class="center-align coming-soon-title" style="color:rgb(199, 28, 28); font-weight: 300"><b style="color:rgb(70, 165, 70)">Village</b> <b style="color: black">Empowerment</b> <b style="color:rgb(190, 22, 22)">Network™</b></h5>
            <div class="hide-on-small-only">
                <div class="row" style="padding: 1% 25%">
                    <a href="/village-empowerment-network-nomination"><img width=100% src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/clipboard-long.png"></a>
                </div>
                <div class="col s12">
                    <p style="margin-top: 0;"><b style="color:rgb(70, 165, 70)">Village</b> <b style="color: black">Empowerment</b> <b style="color:rgb(190, 22, 22)">Network™</b> provides the expertise Black entrepreneurs, individuals, and families need to thrive. Black business owners receive one-on-one strategy, planning, technical counseling and training from experts to grow revenue, access funding, manage employees and expenses, protect assets, and expand their networks. Individuals and families receive financial planning and budgeting services. 
                        <br><br> ETV also offers access to online, on-demand and in-person trainings and workshops through its VEN Partners designed to ensure that entrepreneurs and individuals can learn and access the information they need at their own pace to build generational wealth.
                    
                    </p>
                </div>
                
            </div>
            <div class="row hide-on-med-and-up">
                <div class="col s12">
                    <a href="/village-empowerment-network-nomination"><img width=100% src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/clipboard-long.png"></a>
                </div>
                <div class="col s12">
                    <p style="margin-top: 0;"><b>Village Empowerment Network</b>™ provides the expertise Black entrepreneurs, individuals, and families need to thrive. Black business owners can receive one-on-one strategy, planning, and technical counseling from experts to grow revenue, access funding, manage employees and expenses, protect assets, and expand their network. Individuals and families will receive financial planning and budgeting services. ETV will also offer access to online, on-demand trainings and workshops through its VEN Partners designed to ensure that entrepreneurs and individuals can learn and access the information they need at their own pace to build generational wealth.
                    
                    </p>
                </div>
                
            </div>
            
        </div>
        <div class="row center-align">
            <h5 style="line-height: 40px; margin-bottom: 10px">ETV funds exclusive one-on-one counseling, workshops, and <br>on-demand training courses for VEN registrants offered by more than a dozen</h5>
            <h5 class="dyk" style="color:black; margin-bottom: 20px"><b style="color:rgb(18, 148, 18); font-weight: 300">VILLAGE </b><b style="color:black; font-weight: 300">EMPOWERMENT </b><b style="color:rgb(184, 34, 34); font-weight: 300">NETWORK</b> PARTNERS</h5>
            <h5 style="margin-bottom: 30px">Meet the Team Leader!</h5>
            <div class="row partner-logo-row">
                <div class="col s12 m6 offset-m3" style="height: 100%">
                    <img width=250px height=250px class="z-depth-1" src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/andrew-frazier.jpeg" style="margin-top: 10px; border-radius: 50%;">
                    <p style="margin: 0; margin-top: 20px; padding: 0; font-weight: 600; font-size: 1.64rem">Andrew Frazier</p>
                    <p style="margin: 5px 0px; padding: 0; font-size: 22px">VEN Lead Business Strategist</p>
                    <a href="#sbpro"><img class="partner-img" src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/sb-pro.png" width=120% style="margin-top: 0px;"></a>
                    
                </div>
                
            </div>
            
        </div>
        <img class="z-depth-1" src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/ven-wealth-workshops.jpg" width=60% style="margin-left: 20%; margin-bottom: 30px">
        <div class="divider" style="margin-bottom: 20px"></div>

        <div class="row" style="padding-bottom: 2%">
            <div class="col s12 m4 xl5 center-align" style="padding-bottom: 80px;">
                <img class="z-depth-3"src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/ayo.jpeg" id="ayo-img" style="margin-left:0;margin-bottom: 10px; max-width: 100%; height: 300px">
                <p class= "" style="font-size: 20px;margin-top:5px;margin-bottom:0"><i>ETV Founder Interview With AACCNJ
                    <br>
                    About The Black Friday Movement
                </i></p>
            </div>
            <div class="col s12 m7 xl7" id="interview-block" style="padding-left: 50px;">
                <audio controls  id="aacnj-interview" style="margin-bottom: 10px; width: 100%;">
                    <source src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/radio-interview-first-half.mp3" type="audio/mpeg">
                </audio>
                <p style="padding: 5px; font-size: 24px">ETV Founder, Ayo Sanderson Wilson, speaks to AACCNJ about the importance of supporting Black-owned businesses through the ETV Economic Prosperity Initiatives.</p>
                <button class="btn btn-large btn-floating" style="margin-left: 45%; background-color: rgb(70, 165, 70)" onClick="document.getElementById('aacnj-interview').play(); return false;">
                    <i class="material-icons" style="font-size: 32px; margin-left: -1px">play_circle_filled</i>
                </button>
            </div>
        </div>
        
    </div>
    
</div>
<style>
    .partner-logo-row {
        height: 420px;
        padding: 0 10%
    }
    .partner-img {
        width: 50%;
        max-height: 120px
    }
    .divider {
        margin: 0;
        border-bottom: 1px solid rgb(227, 227, 227)
    
    }
    
    p {
        font-weight: 400;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }
    
    .facts-ul li {
        padding-bottom: 15px;
        font-weight: 300;
    }
    .pillar-nav {
        background-color: rgb(0, 0, 0);
    }
    .pillar-nav li a {
        color: rgb(255, 255, 255) !important;
    }
    .dyk {
        font-family: oskar-inline;
        color:rgba(60, 60, 60, 0.947);
        text-transform: uppercase;
        line-height: 40px;
    }
    
    .goals-header {
        background: rgb(191,23,23);
        background: linear-gradient(90deg, rgba(191,23,23,0.8365721288515406) 0%, rgba(156,96,30,0.738532913165266) 49%, rgba(0, 0, 0, 0.399) 100%); 
    }
    .solutions-header {
        background: rgb(191,23,23);
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.603) 0%, rgba(137, 143, 65, 0.739) 49%, rgba(44, 129, 15, 0.739) 100%); 
    }
    @media only screen and (min-width: 0px) {
        
        .one2trillion-text {
            padding: 0 !important;
            margin: 0 !important;
            font-size: 16px;
            text-align: left
        }
        .two6million-text {
            padding: 0 !important;
            margin: 0 !important;
            font-size: 16px;
            text-align: left
        }
        .million-jobs-text {
            padding: 0 !important;
            margin: 0 !important;
            font-size: 16px;
            text-align: left
        }
        .women-ofb-text {
            padding: 0 !important;
            margin: 0 !important;
            font-size: 16px;
            text-align: left
        }
        .dyk {
            font-size: 38px;
            line-height: 48px;
            letter-spacing: 1px;
            margin-top: 10px !important
        }
        .power-collapse {
        width: 100%;
        
    }
    .unemployment {
    }
    .unemployment-text {
        font-size: 12px;
        line-height: 24px;
        padding: 0;
        padding-top: 2% !important;
        margin: 0;
        text-align: left;
    }
    .circulate-text {
        font-size: 12px;
        line-height: 24px;
        padding: 0;
        padding-top: 2% !important;
        margin: 0;
        text-align: left;
    }
    .dyk-row {
        padding-left: 3%;
        padding-right: 3%;
    }
    .tenx-house {
        width: 60% !important;
        margin-left: 25%;
        padding-right: 0;
        padding-top: 5% !important
    }
    .tenx-text p {
        margin: 0;
        padding: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 3%;
        font-size: 12px;
        text-align: left;
    }
    .goals li {
        width: 100%;
    }
    .power-collapse li {
        
    }
    .power-collapse li div{
        font-size: 14px;
        padding: 2% 5%
    }
        blockquote {
            font-size: 16px;
            font-weight: 300;
            margin-top: 30px !important;
            margin-top: 30px !important;
        }
        .statistic-title {
            font-family: oskar-inline;
            font-size: 28px;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-transform: scale(1, 0.9);
            text-align: center;
            background-color: rgba(154, 22, 22, 0.947);
            padding: 15px 5px;
            color: white
        }
        .collapsible li {
            margin: 0 !important;
        }
        .degree-attainment-small {
            display: block;
            padding: 0% 5%;
        }
        .degree-attainment {
            display: none;
            padding: 0% 5%;
        }
        blockquote {
            width: 90%;
            margin-left: 5%;
            margin-top: 7%;
        }
    }
    @media only screen and (min-width: 420px) {
        .statistic-title {
            font-size: 32px;
            padding: 15px 10px;
        }
        .tenx-text p {
        margin: 0;
        padding: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 2%;
        font-size: 14px;
        text-align: left;
    }
    .unemployment-text {
        font-size: 16px;
        padding: 0;
        margin: 0;
    }
    .circulate-text {
        font-size: 16px;
        padding: 0;
        margin: 0;
    }
    }
    @media only screen and (min-width: 601px) {
        .tenx-scale {
            width: 60% !important;
            margin-left: 20% !important
        }
        #wib {
            width: 90%;
            margin-left: 5%;
            margin-bottom: 3.2%
        }
        .two6million {
            width: 80% !important;
            margin-left: 10% !important;
            padding-top: 10% !important;
        }
        .two6million-text {
            padding: 0;
            padding-top: 2% !important;
            margin: 0;
            font-size: 14px;
            text-align: center;
        }
        .one2trillion {
            width: 85% !important;
            margin-left: 7.5% !important;
            padding-top: 7.2% !important
        }
        .one2trillion-text {
            padding: 0;
            margin: 0;
            padding-top: 2% !important;
            font-size: 14px;
            text-align: center;
        }
        .million-jobs {
            width: 80% !important;
            margin-left: 10% !important;
            padding-top: 11% !important
        }
        .million-jobs-text {
            padding: 0;
            margin: 0;
            padding-top: 2% !important;
            font-size: 14px;
            text-align: center;
        }
        .women-ofb {
            width: 100% !important;
            margin-left: 2% !important;
            padding-top: 5% !important;
        }
        .women-ofb-text {
            padding: 0;
            margin: 0;
            padding-top: 2% !important;
            font-size: 14px;
            text-align: center;
        }
        .goals-li {
        width: 90% !important;
        margin-left: 5% !important;
    }
    .solutions-li {
        width: 90% !important;
        margin-left: 5% !important;
    }
    .dyk {
        font-size: 42px;
        margin-top: 0 !important
    }
    .unemployment {
        width: 100% !important;
        margin-left: 0% !important;
    }
    .circulate {
        width: 80% !important;
        margin-left: 10% !important;
    }
    .unemployment-text {
        font-size: 16px;
        text-align: center;
        padding: 0;
        margin: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
    .circulate-text {
        font-size: 16px;
        text-align: center;
        padding: 0;
        margin: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
    .dyk-row {
        padding-left: 3%;
        padding-right: 3%;
    }
    .tenx-house {
        width: 15%;
        margin-left: 25%
    }
    .tenx-text p {
        margin: 0;
        padding: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 3%;
        font-size: 16px;
    }
        
        .power-collapse {
        width: 100%;
        
    }
    .power-collapse li {
        
    }
    .power-collapse li div{
        font-size: 16px;
        padding: 2% 10%
    }
        blockquote {
            font-size: 20px;
            margin-top: 5% !important;
            margin-bottom: 5% !important;
        }
        .statistic-title {
            font-size: 38px;
            width: 50% !important;
            margin-left: 25%;
            margin-top: 5%;
            margin-bottom: 5%;
        }
        
      
    }
    @media only screen and (min-width: 993px) {

        .two6million-text {
            padding: 0;
            padding-top: 5% !important;
            margin: 0;
            font-size: 18px;
            text-align: center;
        }
        .one2trillion-text {
            padding: 0;
            padding-top: 5% !important;
            margin: 0;
            font-size: 18px;
            text-align: center;
        }
        .million-jobs-text {
            padding: 0;
            padding-top: 5% !important;
            margin: 0;
            font-size: 18px;
            text-align: center;
        }
        .women-ofb-text {
            padding: 0;
            padding-top: 5% !important;
            margin: 0;
            font-size: 18px;
            text-align: center;
        }
        blockquote {
            font-size: 22px;
        }
        .pillar-body {
            padding-left: 1% !important;
            padding-right: 1% !important;
        }
        .power-collapse {
        width: 90%;
        margin-left: 5%
        
    }
    .dyk {
        font-size: 58px
    }
    .power-collapse li {
        
    }
    .power-collapse li div{
        font-size: 18px;
        padding: 2% 5%
    }
    .unemployment {
        width: 70% !important;
        margin-left: 16% !important;
    }
    .circulate {
        width: 58% !important;
        margin-left: 26% !important;
    }
        
    }
    @media only screen and (min-width: 1201px) {
        .unemployment {
        width: 70% !important;
        margin-left: 15% !important;
    }
    .circulate {
        width: 60% !important;
        margin-left: 20% !important;
    }
    .unemployment-text {
        font-size: 18px;
        padding: 0;
        margin: 0;
        line-height: 30px
    }
    .circulate-text {
        font-size: 18px;
        padding: 0;
        margin: 0;
        line-height: 30px
    }
    .dyk-row {
        padding-left: 3%;
        padding-right: 3%;
    }
    .dyk {
        padding-bottom: 20px
    }
    
    .tenx-text p {
        margin: 0;
        padding: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 3%;
        font-size: 22px;
      
    }
}
@media only screen and (min-width: 1400px) {
    .dyk-row {
        padding-left: 3%;
        padding-right: 3%;
    }
    .dyk {
        padding-bottom: 20px
    }
    .tenx-house {
        width: 15%;
    }
    .tenx-text p {
        margin: 0;
        padding: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 3%;
        font-size: 24px;
        font-weight: 300
      
    }
}
</style>
{% endblock %}