{% extends 'base.html' %}
{% load static %}

{% block title %}ETV | Operation: Ballot Box™{% endblock %}
{% block canonical %}https://www.empowerthevillage.org/policy-and-power/voting/{% endblock %}
{% block seo_description %}Operation: Ballot Box™: Learn how and where to vote safely and reliably!{% endblock %}

{% block content %}

<div class="parallax-container z-depth-3 box-shadow valign-wrapper">
    
    <div class="container z-depth-4 center-align parallax-banner" id="obb-banner">
        <h4 class="obb-title" style="font-family: oskar; font-weight: 800; letter-spacing: 1px; color:rgb(184, 23, 23)">Operation: <b style="font-weight:800; color: black">Ballot Box™</b></h4>
    </div>
    <div class="parallax">
        <img src='https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/policy-collage.webp'>
    </div>

</div>

<div style="background: url('https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/policy-collage.webp');">
    <div class="row" style="background-color: rgba(255, 255, 255, 0.781);">
        <div class="col s12 l10 offset-l1  pillar-body center-align">
            <p class="pillar-tagline">
                ETV’s nonpartisan voter education and mobilization program is executed annually to inform Black voters in key strategic states how and where to vote early, reliably, and unimpeded by the vestiges of systemic racism and abuse.
            </p>
            <h6 class="voting-subtitle">Checkout & Share 2024 Early Voting Info & Resources, Below!</h6>
            <div class="divider" style="margin-top: 10px; margin-bottom: 20px"></div>
            <div class="row">
                <div class="col s12 l8 offset-l2">
                    <img class="z-depth-1" src="https://pub-20653bdffd2f4753869eb9180a6b5512.r2.dev/aep1m-12jqg.webp" width="100%">
                </div>
            </div>
            <div class="divider" style="margin-top: 10px; margin-bottom: 10px"></div>
            <p class="voting-subtitle" style="text-align: center;margin-top:0">Stay tuned for the downloadable 2024 Multi-State Flyers Voting Info & Resources to share with friends, family, and your network!</p>
            <div class="row">
                <div class="col s12 m6">
                    <a href="https://www.lipsum.com">
                        <img class="lazy z-depth-1" src="{{ nj_flyer.thumbnail_link }}" width="100%" style="margin-top: 10px">
                    </a>
                </div>
                <div class="col s12 m6">
                    <a href="https://www.lipsum.com">
                        <img class="lazy z-depth-1" src="{{ nj_flyer.pg2_link }}" width="100%" style="margin-top: 10px">
                    </a>
                </div>
            </div>
            <div class="row">
                {% for flyer in flyers %}
                <div class="col s12 m6 l4">
                    <a href="https://www.lipsum.com">
                        <img class="lazy z-depth-1" src="{{ flyer.thumbnail_link }}" width="100%" style="margin-top: 10px">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<style>
    .obb-title {
        font-size: 32px;
        padding: 0% 2% 3% 2%;
    }
    #state-modal {
        padding: 2%;
        height: 80%
    }
    #state-modal .input-field {
        width: 60%;
        margin-left: 20%;
    }
    h5 b {
        font-family: poppins;
        font-weight: 500;
        font-size: 24px;
        padding-right: 5%
    }
    h5 a {
        font-family: poppins;
        font-weight: 400;
        font-size: 22px;
        padding-right: 5%
    }
    #map {
        background-color: transparent;
    }
    .pillar-header {
        background-color: white;
    }
    
    .pillar-collapsible li {
        margin:0 !important;
    }
    .phase-one-list {
        padding-left: 10% !important;
        padding-right: 10%;
    }
    .phase-one-list li {
        padding: 15px;
    }
    .phase-one-title{
        font-family: oskar;
        text-align: center;
    }
    @media only screen and (min-width:0px){
        #obb-banner {
            width: fit-content;
        }
        .print-btn {
            width: fit-content;
            
        }
        .print-btn p {
            background: black;
            color: white;
            font-family: oskar;
            font-size: 28px;
            line-height: 36px;
            font-weight: 300;
            box-shadow: 0px 0px 7px 0px rgba(66,66,66,0.72);
            -webkit-box-shadow: 0px 0px 7px 0px rgba(66,66,66,0.72);
            -moz-box-shadow: 0px 0px 7px 0px rgba(66,66,66,0.72);
            transition: all 0.3s ease-in-out;
            padding: 10px
        }
        .print-btn p:hover {
            background: rgb(54, 159, 20);
            cursor: pointer;
        }
        .health-main-title {
        font-family: oskar;
        font-size: 36px;
        text-align: center;
        color:rgb(18, 148, 18);
        margin-bottom: 0;
        margin-top: 20px
    }
    .health-main-text {
        line-height: 32px;
    }
        .phase-one-list {
            font-size: 16px
        }
        .phase-one-title {
            font-size: 38px;
            line-height: 48px;
        }
        .voting-subtitle {
            font-size: 18px; 
            margin-bottom: 0px;
            padding-top: 10px;
            line-height: 22px;
            font-family: 'oskar';
            font-weight: 600;
        }
        .coming-soon-text {
            font-size: 28px;
        }
        .pillar-collapsible {
        width: 100%;
        margin-left:0;
    }
        p {
            font-size:16px
        }
        .pillar-title {
            color: black;
            font-family: poppins;
            font-size: 16px;
            letter-spacing: 1px;
            text-transform: none;
        }
    }
    @media only screen and (min-width:601px){
        #obb-banner {
            width: 60%;
        }
        .obb-title {
        font-size: 42px;
            padding: 0% 2% 2% 2%;
        }
        .health-main-title {
        font-family: oskar;
        font-size: 48px;
        text-align: center;
        color:rgb(18, 148, 18);
        margin-bottom: 0;
        margin-top: 20px
    }
        .phase-one-list {
            font-size: 18px
        }
        .phase-one-title {
            font-size: 48px;
            line-height: 56px;
            margin-left: 10%
        }
        .voting-subtitle {
            font-size: 28px; 
            line-height: 32px;
            margin-bottom: 10px;
        }
        .coming-soon-text {
            font-size: 32px;
            line-height: 56px;
        }
        p {
            font-size:18px
        }
        .pillar-title {
            font-size: 20px;
            letter-spacing: 2px;
        }
        .pillar-collapsible {
        width: 80%;
        margin-left:10%;
    }
        h5 b {
            font-size: 32px;
            line-height: 40px
        }
    }
    @media only screen and (min-width:993px){
        .print-btn p {
            font-size: 36px;
            padding-bottom: 15px
        }
        #obb-banner {
            width: 60%;
        }
        .obb-title {
            font-size: 56px;
            padding: 0% 2% 2% 2%;
        }
        .health-main-title {
        font-size: 48px;
        text-align: left;
        color:rgb(18, 148, 18);
        margin-bottom: 0;
        margin-top:0
    }
        .phase-one-list {
            font-size: 22px
        }
        .phase-one-title {
            font-size: 64px;
            line-height: 72px;
        }
        p {
            font-size:22px
        }
        .pillar-collapsible {
            width: 70%;
            margin-left:15%;
        }
        .coming-soon-text {
            font-size: 38px;
        }
        .voting-subtitle {
            font-size: 38px; 
            line-height: 42px;
            margin-bottom: 15px;
        }
}
    @media only screen and (min-width:1201px){
        #obb-banner {
            width: 55%;
        }
        .pillar-collapsible {
        width: 60%;
        margin-left:20%;
    }
    .pillar-title {
            font-size: 24px;
            letter-spacing: 2px;
        }
        .health-main-title {
        font-size: 52px;
    }
    .health-main-text {
        font-size: 24px;
        line-height: 40px
    }
    }
    
</style>
<style>
    .phase-one-title{
        font-family: oskar;
        text-align: center;
        width: 100%;
        margin-left: 0;
    }
    .jvectormap-container {
        height: 100%;
    }
    .map-container{
        background-color: transparent;
    }
    h6 {
        font-weight: 500;
        text-align: center;
    }
    p {
        padding-left: 10%;
        padding-right: 10%
    }
    @media only screen and (min-width: 0px) {
        h5 {
            font-size: 54px;
            line-height: 36px
        }
        h6 {
            font-size: 22px;
            letter-spacing: 1px;
            line-height: 36px
        }
        p {
            font-size: 20px
        }
    }
</style>
<!--
<script>
    $(document).ready(function(){
        $('#state-modal').on('change', function(event){
            var code = $('#state-modal option:selected').val()
            window.open("https://empowerthevillage.s3.amazonaws.com/static/img/"+ code +"-22-print.pdf", "_blank")
        });
    });
    $(function(){
    map = new jvm.Map({
        map: 'us_aea',
        container: $('#map'),
        zoomOnScroll: false,
        regionLabelStyle: {
          initial: {
            fill: 'black',
            'font-family': 'Poppins',
          },
          hover: {
            fill: 'grey'
          },
        },
        backgroundColor: 'transparent',
        labels: {
          regions: {
            render: function(code){
          var doNotShow = ['US-RI', 'US-DC', 'US-DE'];

          if (doNotShow.indexOf(code) === -1) {
            return code.split('-')[1];
          }
        },
            offsets: function(code){
              return {
                'CA': [-10, 10],
                'ID': [0, 40],
                'OK': [25, 0],
                'LA': [-20, 0],
                'FL': [45, 0],
                'KY': [10, 5],
                'VA': [15, 5],
                'MI': [30, 30],
                'AK': [50, -25],
                'HI': [25, 50]
              }[code.split('-')[1]];
            }
          }
        },
        regionStyle: {
            initial: {
                fill: '#cccccc',
            },
            hover: {
                "fill-opacity": 0.9,
            }
        },
        regionLabelStyle: {
            "z-index": '3'
        },
        series: {
            regions: [{
                scale: {
                    'published': '#19b529',
                    'soon': '#199456',
                },
                attribute: 'fill',
                values: {
                    'US-NJ': 'published',
                    'US-AZ': 'published',
                    'US-AR': 'published',
                    'US-FL': 'published',
                    'US-GA': 'published',
                    'US-TX': 'published',
                    'US-KY': 'published',
                    'US-LA': 'published',
                    'US-MD': 'published',
                    'US-MI': 'published',
                    'US-WI': 'published',
                    'US-NC': 'published',
                    'US-OH': 'published',
                    'US-PA': 'published',
                },
                
            }],
        },
        onRegionClick: function(event, code) {
            var regionName = map.getRegionName(code);
            var publishedStates = ["US-NJ", "US-AR", "US-AZ", "US-GA", "US-FL", "US-KY", "US-LA", "US-MD", "US-MI", "US-NC", "US-OH", "US-PA", "US-TX", "US-WI"];
            if (publishedStates.indexOf(code) != -1) {
                var data = {
                    'state': code,
                }
                var state = code
                window.open("https://empowerthevillage.s3.amazonaws.com/static/img/"+ code +"-22.pdf", "_blank")
                
            } 
        },
       });
    });
    </script>-->
{% endblock %}