
{% extends 'base.html' %}
{% load static %}

{% block title %}ETV | Peace{% endblock %}
{% block canonical %}https://www.empowerthevillage.org/health-and-wellness/{% endblock %}
{% block seo_description %}ETV Strategic Pillars: Peace{% endblock %}
{% block content %}
<div class="parallax-container z-depth-3 box-shadow valign-wrapper">
    
    <div class="container z-depth-4 center-align parallax-banner">
        <h4 style="padding: 1% 0%; font-family: poppins; font-weight: 800; font-size: 62px; letter-spacing: 2px; color:rgb(0, 0, 0)">PEACE</h4>
    </div>
    <div class="parallax">
        <img src='https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/health-collage-4.webp'>
    </div>

</div>
<div style="background: url('https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/health-collage-4.webp'); background-size: 120%; height: 100%">
    <div class="row" style="height: 100%; background-color: rgba(255, 255, 255, 0.781); width:100%">
        
        <div class="col s12 l10 offset-l1  pillar-body" style="padding-top: 0 !important;">
            <div class="col s12">
                <div class="col s12">
                    <img src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/power-walk-title.png" width="100%" style="margin-bottom: 20px;">
                </div>
            </div>
                <div class="row center-align" style="margin-left: 0; margin-right: 0px;">
                    <p class="pillar-tagline" style="padding-left: 5%; padding-right: 5%; padding-bottom: 0;">
                        ETV's Peace pillar has a regional footprint focused on improving the mental and physical health of the Black community. It addresses the lack of affordable access to quality healthcare and other health-related concerns plaguing the Black community.
                        <br><br>In addition, ETV champions and executes programs that foster cultural pride, self-confidence and self-respect, promote a growth mindset and provide critical information.
                    </p>
                    <div class="divider" style="margin-bottom: 15px; margin-top: 15px;width: 50%; margin-left: 25%; border-bottom: dotted 3px rgb(222, 222, 222); background-color: transparent"></div>
              
                    <div class="row valign-wrapper mi-row" style="margin-left: 0; margin-right: 0">
                        <img class="col s3" src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/peace-rise.png" width="100%">
                        <div class="col s9 dyk-quote quote-1 z-depth-3" style="background: black; border-radius: 30px;color: white; padding: 10px;">
                            The number of reported cases of diagnosed mental illness, especially anxiety and depression, as well as the rate of suicide in the Black community, continues to climb in recent years. The racial disparity between Black Americans and other races with respect to physical health challenges also continues to rise. 
                        </div>
                    </div>
                    <style>
                        .quote-1 {
                            font-size: 18px
                        }
                        @media only screen and (min-width: 663px){
                            .quote-1 {
                                font-size: 24px
                            }
                        }
                        @media only screen and (min-width: 992px){
                            .quote-1 {
                                font-size: 28px
                            }
                        }
                    </style>
                    <div class="divider" style="margin-bottom: 30px"></div>
                    <div class="row popout-row" style="margin-left: 0; margin-right: 0">
                        <ul class="col s12 xl6 pillar-collapsible goals-collapsible">
                            <li class="goals-li z-depth-2" style="margin: 0">
                                <div class="collapsible-header valign-wrapper pillar-header goals-header">
                                    <img src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/etv-goals.png" width="60px;" style="margin-right: 5px;margin-left: 2%;">
                                    <div class="pillar-title">ETV Goals</div>
                                    
                                </div>
                                <div class="collapsible-body-pillar">
                                    <ul>
                                        <li class="pillar-h5">
                                            <table>
                                                <tr class="pillar-tr">
                                                    <td class="pillar-target-td">
                                                        <i class="material-icons pillar-target">track_changes</i> 
                                                    </td>
                                                    <td class="pillar-h5">
                                                        Healthier, more peaceful, longer lives for Black individuals and families
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                    </ul>
                                    
                                </div>
                            </li>
                        </ul> 
                    
                        <ul class="col s12 xl6 pillar-collapsible" style="margin-bottom: 2%;">
                            
                            <li class="solutions-li z-depth-2" style="margin:0">
                                <div class="collapsible-header valign-wrapper pillar-header solutions-header">
                                    <img src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/etv-solutions.png" width="60px;" style="margin-right: 5px;margin-left: 2%;">
                                    <div class="pillar-title">ETV Solutions</div>
                
                                </div>
                                <div class="collapsible-body-pillar">
                                    <table>
                                        <tr class="pillar-tr">
                                            <td class="pillar-target-td">
                                                <i class="material-icons pillar-target">check</i> 
                                            </td>
                                            <td class="pillar-h5">
                                                <b><a href="/health-and-wellness/village-assist-program/">Village Assist Program™</a> - </b>Mental Healthcare Access 
                                            </td>
                                        </tr>

                                        <tr class="pillar-tr">
                                            <td class="pillar-target-td">
                                                <i class="material-icons pillar-target">check</i> 
                                            </td>
                                            <td class="pillar-h5">
                                                <a href="/events/love-of-art-fundraiser/"><b>Juneteenth For the Love of Art Fundraiser</b></a>
                                            </td>
                                        </tr>
                                        <tr class="pillar-tr">
                                            <td class="pillar-target-td">
                                                <i class="material-icons pillar-target">check</i> 
                                            </td>
                                            <td class="pillar-h5">
                                                <b>Knowledge is Power!™ - </b>Health & Wellness Programs
                                            </td>
                                        </tr>
                                        
                                    </table>
                                   
                                </div>
                            </li>
                        </ul> 
                    </div>
            
            
            <div class="divider" style="margin-bottom: 30px"></div>
            <div class="row center-align" style="margin-left: 0; margin-right: 0">
                <h5 class="dyk">Health & Wellness Initiatives</h5>
                    <div class="divider" style="margin-bottom: 20px"></div>
                    <div class="row" style="margin-left: 0; margin-right: 0">
                        <div class="col s8 offset-s2 l3 ee-image">
                            <img class="z-depth-2" src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/knowledge-is-power.jpg" style="width: 100%;">
                        </div>
                        <div class="col s10 offset-s1 l9" style="padding-left: 2%; padding-right: 3%;">
                            
                            <h6 class="health-main-title">Knowledge is Power!™</h6>
                            <h6 class="pillar-h5 health-main-text">Fitness, physical and mental health programs, including COVID-19 education, testing and vaccination support, are executed in partnership with The Village - churches, community organizations and healthcare providers.</h6>
        
                            
                        </div>
                    </div>
                    <div class="divider" style="margin-bottom: 30px"></div>
                    <div class="row" style="margin-left: 0 !important; margin-right: 0 !important">
                        <div class="col s12 m6">
                            <iframe class="z-depth-1" width=100% height="315" src="https://www.youtube.com/embed/pILCWjsAksQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="col s12 m6">
                            <iframe class="z-depth-1" width=100% height="315" src="https://www.youtube.com/embed/yYewqf6GRVs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="divider" style="margin-bottom: 20px; margin-top: 30px"></div>
                     
                    <ul class="col s12 center-align collapsible popout pillar-collapsible" style="text-align: center;">
                            
                        <li class="center-align active" style="margin: 5px; text-align: center;">
                            <div class="collapsible-header center-align pillar-header" style="justify-content: center; background-color: white; text-align: center;">
                                
                                <div class="pillar-title center-align cs-title vap-line1">
                                    <a href="/health-and-wellness/village-assist-program/"><img src='https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/vap-0216-new.png' style="width:60%; padding: 2%"></a>
                                </div>
                            </div>
                            <div class="collapsible-body collapsible-body-pillar" style="background-color: 01a650">
                                <h5 class="pillar-h5 health-main-text" style="padding-left: 5%;padding-right: 3%; padding-bottom: 15px; color: white; font-weight: 400;">ETV is developing this platform to give the Black community free and affordable access to mental health professionals, especially Black psychiatrists, psychologists, social workers and other wellness professionals to improve emotional health and wellness in the Black youth and adult communities. This "VAP" program will mirror the offerings of large corporations through their "EAP" - Employee Assistance Programs - but will primarily enlist practitioners of color with the cultural competence and personal experience to fully support and connect with their patients.</h5>
                                <h4 style="font-family: oskar; color:black; margin-bottom: 0;">Empower Healthy Minds and Bodies</h4>
                                <h4 style="font-family: oskar; margin-top: 5px"><a href="/donation/" style="color: white" target="_blank">Donate Today!</a></h4>
                            </div>
                            
                            <!--<h4>Invest in the mental health of the nation, <a href="">become a sponsor today!</h4>-->
                        </li>
                    </ul> 
            </div>
            <div class="divider" style="margin-bottom: 20px"></div>
            <div class="row center-align">
               
                <div class="col s12 m6">
                    <a href="/events/love-of-art-fundraiser/"><h6 class="event-title">ETV For the Love of Art Juneteenth Celebration</h6></a>
                    <h6 class="event-date">June 16th & 17th, 2023</h6>
                    <p class="event-description">ETV is once again proud to partner with Kente Royal Gallery, Montclair Art Museum & African American Cultural Committee @MAM and dozens of established and emerging artists!</p>
                    <div class="row" style="display:flex; justify-content: center">
                        <a class="btn btn-large learn-more-btn" href="/events/love-of-art-fundraiser/" style="background-color:#b8261c">Learn More</a>
                    </div>
                </div>
                <div class="col s12 m6">
                    <iframe class="z-depth-1" width="100%" height="400" src="https://www.youtube.com/embed/-JaP0OkWUoQ" title="Juneteenth 2021 Art Festival & Fundraiser" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
            
        
</div>

<style>
    .dyk-quote {
        text-align: left;
        padding-left: 3% !important;
        margin-left: 2% !important
    }
    .divider {
        margin: 0;
        width: 90%;
        margin-left: 5%;
    }
    
    p {
        font-weight: 400;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }
    
    .facts-ul li {
        padding-bottom: 15px;
        font-weight: 300;
    }
    .pillar-nav {
        background-color: rgba(0, 0, 0, 0.728);
    }
    .pillar-nav li a {
        color: rgb(255, 255, 255) !important;
        font-size: 16px !important;
        font-weight: 300
    }
    .dyk {
        font-family: oskar-inline;
        color:rgba(60, 60, 60, 0.947);
        text-transform: uppercase;
    }
    
    .goals-header {
        background: rgb(191,23,23);
        background: linear-gradient(90deg, rgba(191,23,23,0.8365721288515406) 0%, rgba(156,96,30,0.738532913165266) 49%, rgba(0, 0, 0, 0.399) 100%); 
    }
    .solutions-header {
        background: rgb(191,23,23);
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.603) 0%, rgba(137, 143, 65, 0.739) 49%, rgba(44, 129, 15, 0.739) 100%); 
    }
    .cs-title {
        color: black
    }
    @media only screen and (min-width: 0px) {
        .event-title {
            font-family: oskar;
            font-size: 28px;
        }
        .event-date {
            font-family: oskar;
            font-weight: 300;
            font-size: 18px;
        }
        .collapsible-body-image-cs {
            width: 64px !important;
            height: 64px;
            margin-left: 5%;
            margin-right: 1%
        }
        .cs-title {
            font-size: 28px;
            text-align: center;
            padding-left: 1%
        }
        .health-main-title {
        font-family: oskar-inline;
        font-size: 36px;
        text-align: center;
        color:rgb(18, 148, 18);
        margin-bottom: 0;
        margin-top: 20px
    }
    .health-main-text {
        font-size: 18px;
        line-height: 30px;
        text-align: center;
    }
        .mi-row {
            width: 100%;
            padding-left: 5%
        }
        .dyk-quote {
            font-size: 14px
        }
        .covid {
        }
        .covid-text {
            padding: 0 !important;
            margin: 0 !important;
            font-size: 14px;
            text-align: left;
            font-weight: 300;
        }
        .obesity {
        }
        .obesity-text {
            padding: 0 !important;
            margin: 0 !important;
            font-size: 14px;
            text-align: left;
            font-weight: 300;
        }
        .heart {
        }
        .heart-text {
            padding: 0 !important;
            margin: 0 !important;
            font-size: 14px;
            text-align: left;
            font-weight: 300;
        }
        .cancer {
           
        }
        .cancer-text {
            padding: 0 !important;
            margin: 0 !important;
            font-size: 14px;
            text-align: left;
            font-weight: 300;
        }
        .dyk {
            font-size: 34px;
            letter-spacing: 2px;
        }
        .power-collapse {
        width: 100%;
        
    }
    .unemployment_ss {
        width: 50%;
        padding-top: 20px
    }
    .unemployment_ss_caption {
        font-size: 12px;
        padding: 0;
        margin: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
    .dyk-row {
        padding-left: 3%;
        padding-right: 3%;
    }
    .tenx-house {
        width: 25%;
        padding-left: 3%;
        padding-right: 0;
        padding-top: 5%
    }
    .tenx-text p {
        margin: 0;
        padding: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 3%;
        font-size: 12px;
        text-align: left;
    }
    .goals li {
        width: 100%;
    }
    .power-collapse li {
        
    }
    .power-collapse li div{
        font-size: 14px;
        padding: 2% 5%
    }
        blockquote {
            font-size: 16px;
            font-weight: 300;
            margin-top: 30px !important;
            margin-top: 30px !important;
        }
        .statistic-title {
            font-family: oskar-inline;
            font-size: 28px;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-transform: scale(1, 0.9);
            text-align: center;
            background-color: rgba(154, 22, 22, 0.947);
            padding: 15px 5px;
            color: white
        }
        .degree-attainment-small {
            display: block;
            padding: 0% 5%;
        }
        .degree-attainment {
            display: none;
            padding: 0% 5%;
        }
        blockquote {
            width: 90%;
            margin-left: 5%;
            margin-top: 7%;
        }
    }
    @media only screen and (min-width: 420px) {
        .statistic-title {
            font-size: 32px;
            padding: 15px 10px;
        }
        .tenx-text p {
        margin: 0;
        padding: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 3%;
        font-size: 14px;
        text-align: left;
    }
    .unemployment_ss_caption {
        font-size: 14px;
        padding: 0;
        margin: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
    }
    @media only screen and (min-width: 601px) {
        .collapsible-body-image-cs {
            width: 80px !important;
            height: 80px;
            margin-left: 3%;
            margin-right: 1%
        }
        .cs-title {
            font-size: 32px;
            text-align: center;
            padding-left: 1%
        }
        .health-main-title {
        font-family: oskar-inline;
        font-size: 50px;
        text-align: center;
        color:rgb(18, 148, 18);
        margin-bottom: 0;
        margin-top: 20px
    }
        .trend {
            width: 20% !important
        }
        .dyk-quote {
            font-size: 16px
        }
        .mi-row {
            width: 95%;
        }
        .covid {
            width: 85% !important;
        }
        .covid-text {
            padding: 0;
            padding-top: 2% !important;
            margin: 0;
            font-size: 14px;
            text-align: center;
        }
        .obesity {
            width: 100% !important;
            padding-top: 1% !important
        }
        .obesity-text {
            padding: 0;
            margin: 0;
            padding-top: 4% !important;
            font-size: 14px;
            text-align: center;
        }
        .heart {
           
        }
        .heart-text {
            padding: 0;
            margin: 0;
            padding-top: 3.5% !important;
            font-size: 14px;
            text-align: center;
        }
        .cancer {
            width: 100% !important;
            margin-top: -5px !important
        }
        .cancer-text {
            padding: 0;
            margin: 0;
            padding-top: 4% !important;
            font-size: 14px;
            text-align: center;
        }
        .popout-row {
            padding-left: 5%;
            padding-right: 5%
        }
        .goals-li {
            width: 100%;
    }
    .solutions-li {
        width: 100%;
    }
    .dyk {
        font-size: 42px
    }
    .unemployment_ss {
        width: 90%;
        padding-top: 30px
    }
    .unemployment_ss_caption {
        font-size: 12px;
        padding: 0;
        margin: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
    .dyk-row {
        padding-left: 3%;
        padding-right: 3%;
    }
    .tenx-house {
        width: 25%;
        padding-left: 1%;
        padding-right: 0;
        padding-top: 5%
    }
    .tenx-text p {
        margin: 0;
        padding: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 3%;
        font-size: 16px;
    }
        
        .power-collapse {
        width: 100%;
        
    }
    .power-collapse li {
        
    }
    .power-collapse li div{
        font-size: 16px;
        padding: 2% 10%
    }
        blockquote {
            font-size: 20px;
            margin-top: 5% !important;
            margin-bottom: 5% !important;
        }
        .statistic-title {
            font-size: 38px;
            width: 50% !important;
            margin-left: 25%;
            margin-top: 5%;
            margin-bottom: 5%;
        }
        
      
    }
    @media only screen and (min-width: 993px) {
        .event-title {
            font-family: oskar;
            font-size: 36px;
        }
        .collapsible-body-image-cs {
            width: 120px !important;
            height: 120px;
            margin-left: 1%;
            margin-right: 1%
        }
        .cs-title {
            font-size: 44px !important;
            text-align: center !important;
            padding-left: 1%
        }
        .health-main-title {
        font-size: 48px;
        color:rgb(18, 148, 18);
        margin-bottom: 0;
        margin-top:0
    }
    .health-main-text {
        font-size: 22px;
        line-height: 36px;
        font-weight: 200;
        text-align: left
    }
        .trend {
            width: 15% !important
        }
        .dyk-quote {
            font-size: 20px
        }
        .mi-row {
            width: 80%;
            margin-left: 5% !important;
        }
        .covid-text {
            padding: 0;
            padding-top: 2% !important;
            margin: 0;
            font-size: 16px;
            text-align: center;
        }
        .obesity-text {
            padding: 0;
            margin: 0;
            padding-top: 4% !important;
            font-size: 16px;
            text-align: center;
        }
        .heart-text {
            padding: 0;
            margin: 0;
            padding-top: 3.5% !important;
            font-size: 16px;
            text-align: center;
        }
        .cancer-text {
            padding: 0;
            margin: 0;
            padding-top: 4% !important;
            font-size: 16px;
            text-align: center;
        }
        blockquote {
            font-size: 22px;
        }
        .pillar-body {
            padding-left: 1% !important;
            padding-right: 1% !important;
        }
        .power-collapse {
        width: 90%;
        margin-left: 5%
        
    }
    .dyk {
        font-size: 58px
    }
    .power-collapse li {
        
    }
    .power-collapse li div{
        font-size: 18px;
        padding: 2% 5%
    }
        
    }
    @media only screen and (min-width: 1201px) {
        .collapsible-body-image-cs {
            width: 120px !important;
            height: 120px;
            margin-left: 2%;
            margin-right: 1%
        }
        .cs-title {
            font-size: 48px;
            text-align: center;
            padding-left: 1%
        }
        .unemployment_ss {
        width: 70%;
        padding-top: 20px
    }
    .unemployment_ss_caption {
        font-size: 14px;
        padding: 0;
        margin: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
    .dyk-row {
        padding-left: 3%;
        padding-right: 3%;
    }
    .dyk {
        padding-bottom: 20px
    }
    .tenx-house {
        width: 20%;
        padding-left: 3%;
        padding-right: 0;
        padding-top: 5%
    }
    .tenx-text p {
        margin: 0;
        padding: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 3%;
        font-size: 22px;
      
    }
}
@media only screen and (min-width: 1400px) {
        .unemployment_ss {
        width: 70%;
        padding-top: 20px
    }
    .unemployment_ss_caption {
        font-size: 14px;
        padding: 0;
        margin: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
    .dyk-row {
        padding-left: 3%;
        padding-right: 3%;
    }
    .dyk {
        padding-bottom: 20px
    }
    .tenx-house {
        width: 20%;
        padding-left: 3%;
        padding-right: 0;
        padding-top: 5%
    }
    .tenx-text p {
        margin: 0;
        padding: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 3%;
        font-size: 24px;
        font-weight: 300
      
    }
}
</style>

{% endblock %}