{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block canonical %}{{ cannonical }}{% endblock %}
{% block seo_description %}{{ seo_description }}{% endblock %}

{% if event.title == 'Juneteenth Celebration - Montclair, NJ' %}
  {% block headtags %}
      <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Event",
        "name": "ETV Juneteenth Celebration - Montclair, NJ",
        "startDate": "2023-06-16",
        "endDate": "2023-06-17",
        "keywords": "empower the village, etv, juneteenth, juneteenth event, montclair, montclair nj, nj, nonprofit, juneteenth celebration, art fundraiser, art, charity, charity event",
        "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
        "eventStatus": "https://schema.org/EventScheduled",
        "location": {
          "@type": "Place",
          "name": "Montclair Art Museum",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "3 S Mountain Ave",
            "addressLocality": "Montclair",
            "postalCode": "07042",
            "addressRegion": "NJ",
            "addressCountry": "US"
          }
        },
        "image": [
          "https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/juneteenth-graphic-0323.webp"
        ],
        "description": "Enjoy & purchase exquisite art from dozens of local & nationally renowned Black artists! Great food, open bar, music and fun for all! PLUS a new Afterglow Party until 11PM",
        "organizer": {
          "@type": "Organization",
          "name": "Empower The Village",
          "url": "https://www.empowerthevillage.org/"
        }
      }
      </script>
  {% endblock %}
{% endif %}

{% block content %}
<div id="page">
    <div id="overlay">
        
        <a class="valign-wrapper" href="/events/" style="margin-bottom: 10px"><i class="material-icons" style="font-size: 16px">arrow_back</i>&nbsp; All Events</a>
        {% if event.title == 'Friends of the Village' %}
        <h1 class="modal-title scale-up-center" style="color: black">{{ event.title }}</h1>
        {% else %}
        <h1 class="modal-title scale-up-center" >{{ event.title }}</h1>
        {% endif %}
        
        {% if event.subtitle %}
        <h3 class="modal-subtitle scale-up-center">{{ event.subtitle }}</h3>
        {% endif %}
        {% if not event.date_tbd %}
          {% if event.is_multiday %}
          <h6 class="modal-date scale-up-center" style="width: 100%">{{ event.start_date|date:"F jS" }} & {{ event.end_date|date:"jS" }}, {{ event.end_date|date:"Y"}}</h6>
          {% else %}
          <h6 class="modal-date scale-up-center" style="width: 100%">{{ event.start_date|date:"F jS, Y" }}</h6>
          {% if event.start_time is not None %}<h6 class="modal-date sm scale-up-center" style="width: 100%">{{ event.start_time|date:"P" }}{% endif %}{% if event.end_time is not None %} - {{ event.end_time|date:"P" }}</h6>{% endif %}
          {% endif %}
        {% else %}
        <h6 class="modal-date scale-up-center" style="width: 100%">Dates TBD</h6>
        {% endif %}
        <div class="divider-dotted"></div>
        {{ event.content|safe }}
        
        {% if event.has_gallery %}
        <div class="divider-dotted" style="margin-bottom: 0"></div>
        <div class="row">
          {% for x in event.gallery_photos.all %}
          <div class="col s12 m4 l3">
            <img class="materialboxed lazy z-depth-1" src="{{ x.image.url }}" style="max-width:100%; margin-top: 20px;">
          </div>
          {% endfor %}
          
        </div>
        {% endif %}
    </div>
</div>
<style>
  .select-wrapper input.select-dropdown {
    display: none;
  }
  .select-wrapper .caret {
    display: none;
  }
    .event-h6 {
      text-align: center;
      font-family: oskar;
      font-size: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .event-h4 {
      text-align: center;
      font-family: oskar;
      font-size: 22px;
      font-weight: 400;
      color:#01a650;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .event-text {
        margin-top: 30px
    }
    .divider-dotted {
        border-bottom: rgb(208, 208, 208) dotted 3px;
        border-width: 3px;
        width: 50%;
        margin-left: 25%;
        margin-bottom: 10px;
        margin-top: 0px;
    }
    .divider {
      margin-bottom: 10px;
      margin-top: 10px
    }
    .secure {
        font-size: 14px;
        color: grey;
        margin-left: 20px
    }
    .sale {
        color:#bf1e2d
    }
    .btn.checkout {
        font-size: 20px !important;
        background-color:#01a650;
        transition: all 0.3s ease-in-out;
        margin-left: 3%
    }
    .btn.checkout:hover {
        background-color:#219157;
    }
    .btn-ticket {
        margin-top: 30px;
        font-size: 12px;
        line-height: 40px;
        height: 45px
    }
    .guest-input {
        margin-top: 10px;
        margin-bottom: 0
    }
    .guest-input input {
        height: 2.2rem !important
    }
    .modal-content {
        padding: 1% !important
    }
    .modal-container {
        padding: 1% 4% !important;
    }
    .summary-total-title {
        font-family: oskar, sans-serif;
        font-size: 22px
    }
    .summary-total {
        font-family: oskar, sans-serif;
        font-size: 20px;
        margin-bottom: 0
    }
    .total-line {
        font-family: oskar, sans-serif;
        font-size: 20px;
        margin-bottom: 0;
        margin-left: 3px;
        font-weight: 400
    }
    .summary-table thead td {
        font-size: 20px;
        font-weight: 300
    }
    .summary-table td {
        font-family: oskar, sans-serif;
        font-weight: 200;
    }
    .modal {
        max-height: 95% !important
    }
    #ticketModal {
        width: 95% !important;
        top: 5% !important
    }
    #sponsorModal {
        width: 95% !important;
        top: 5% !important
    }
    #ticket-form {
        margin-top: 5%;
    }
    .ticket-row td {
        padding: 0 !important
    }
    .ticket-row p {
        margin: 2px;
    }
    .ticket-row {
        margin-bottom: 0
    }
    .ticket-quantity-input {
        width: 30%;
        margin-left: 70%
    }
    .modal-summary-title {
        font-family: oskar;
        font-size: 28px;
    }
    .ticket-title {
        font-family: oskar;
        margin-top: 10px;
        color:#01a650;
        font-size: 22px
    }
    .ticket-price {
        font-family: oskar;
        color: rgb(0, 0, 0);
        font-size: 18px;
    }
    #ticket-form svg {
        stroke: none !important
    }
    h1.modal-title {
        text-align: center;
        font-family: oskar, sans-serif;
        font-size: 32px;
        color:#bf1e2d;
        margin-bottom: 5px;
        margin-top: 10px;
    }
    h3.modal-subtitle {
      text-align: center;
      font-family: oskar, sans-serif;
      font-size: 28px;
      color: rgb(33, 117, 33);
      margin-top: 5px;
    }
    .modal-date {
        text-align: center;
        font-family: oskar, sans-serif;
        font-size: 22px;
        margin-bottom: 25px
    }
    .modal-date.sm {
      font-size: 18px;
      margin-top: -20px;
    }
    .ticket-description{
        font-size: 12px
    }
    #page {
        background: url('https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/vbp-collage.webp');
    }
    #overlay {
        background: rgba(255, 255, 255, 0.938);
        width: 100%;
        padding: 2% 3%
    }
    .text {
        font-family: oskar;
        font-size: 20px
    }
    .tickets-email-link {
        font-family: oskar;
        font-size: 18px
    }
    iframe {
        height: 200px
    }
    @media only screen and (min-width: 450px){
        .btn-ticket {
            font-size: 16px;
            line-height: 45px;
            height: 40px
        }
    }
    @media only screen and (min-width: 601px){
      .event-h6 {
        font-size: 26px;
      }
      .event-h4 {
        font-size: 32px;
      }
        .event-text {
            font-size: 18px
        }
        h1.modal-title {
            font-size: 42px;
            margin-bottom: 10px;
        }
        h3.modal-subtitle {
          font-size: 36px;
          margin-top: 10px;
        }
        .modal-date {
            font-family: oskar, sans-serif;
            font-size: 32px
        }
        .modal-date.sm {
          font-size: 26px;
          margin-top: -15px;
        }
        .btn-ticket {
            font-size: 20px;
            line-height: 55px;
            height: 50px
        }
        .ticket-row td {
            padding: 2% 0% !important
        }
        .ticket-quantity-input {
            width: 80%;
            margin-left: 10%
        }
        .text {
            font-size: 28px
        }
        .tickets-email-link {
            font-size: 24px
        }
        iframe {
            height:400px
        }
        .summary-card {
            padding: 2% 5% !important
        }
    }
    @media only screen and (min-width: 992px){
        .event-h6 {
          font-size: 32px;
        }
        .event-h4 {
          font-size: 44px;
          margin-top: 15px;
          margin-bottom: 15px;
        }
        .event-text {
              font-size: 22px;
              margin-bottom: 40px;
              margin-top: 0;
              font-weight: 300
        }
        h1.modal-title {
            font-size: 56px;
            margin-bottom: 10px;
        }
        h3.modal-subtitle {
          font-size: 48px;
          margin-top: 10px;
        }
        .btn-ticket {
            margin-top: 0px;
            font-size: 20px;
            line-height: 65px;
            height: 60px
        }
        .ticket-quantity-input {
            width: 70%;
            margin-left: 15%
        }
        #ticketModal {
        width: 90% !important
    }
    #sponsorModal {
        width: 90% !important
    }
    }

    .hidden {
      display: none
    }
    .p-subtitle {
      font-family: oskar;
      font-size: 20px;
      color: rgb(109, 108, 108);
      font-weight: 300;
    }
    .item-category {
      font-family: oskar;
      font-size: 24px;
      font-weight: 200;
    }
    #add-new {
      background: rgb(41, 41, 41)
    }
    #add-new-billing {
      background: rgb(41, 41, 41);
    }
    .express-checkout {
      border: 1px solid rgb(218, 218, 218);
      border-radius: 15px;
      padding-top: 10px;
      padding-bottom: 15px;
      margin-top: 0px
    }
    .express-checkout h6 {
      margin-top: 0;
      font-family: oskar;
      font-size: 20px
    }
    .input-icon {
      font-size: 18px;
      color: rgb(160, 160, 160);
      margin-right: 10px
    }
    .checkout-fieldset {
      border: none;
      border-radius: 15px;
      margin-top: 20px;
      margin-bottom: 20px;
  
    }
    .checkout-fieldset p {
      margin-bottom: 0;
      margin-top: 0px;
    }
    .p-title {
      font-family: oskar;
      font-size: 18px;
    }
    .checkout-fieldset h5 {
      font-family: oskar;
      color: rgb(30, 167, 30)
    }
    .secure-checkout {
      font-size: 14px;
      font-weight: 300;
      color: rgb(99, 99, 99);
    }
    .secure-checkout span {
      font-size: 16px
    }
    label {
      color: rgb(43, 43, 43) !important
    }
    .fieldset-title {
      font-family: oskar;
      font-size: 20px;
      color: rgb(186, 37, 37);
      text-decoration: underline;
    }
      .hidden {
          display: none;
      }
      .p-item {
        font-size: 14px;
        font-weight: 300
      }
      .required {
          color: red
      }
      .label-title {
          font-size: 16px
      }
      .donate-buttons {
          padding-bottom: 60px
      }
      .donate-buttons a {
          width: 100%;
          margin:5px;
          font-size: 16px;
          letter-spacing: 1.5px;
          font-weight:400;
          height: 50px;
          padding-top:4px;
          border-radius: 40px;
      }
      .donate-buttons a i {
          font-size: 24px;
      }
      .donation-title {
          font-family: oskar-inline;
          font-size: 52px;
      }
      .content-row {
      }
      .section-title {
        font-family: oskar-inline;
        color: rgb(24, 160, 24);
        font-size: 36px;
        text-align: center
      }
      .address-label {
        font-size: 14px
      }
      label span {
        margin-bottom: -5px
      }
      @media only screen and (min-width:0px){
          .donate-text-small {
            display: block;
          }
          .donate-text-large {
            display: none;
          }
          .donation-title {
              font-family: oskar-inline;
              font-size: 32px;
          }
          .donation-subtitle {
              font-size: 16px;
              font-weight: 300;
              line-height: 20px
          }
          .venmo-button {
            width: 95%;
            margin-left: 0;
          }
          .creditcard-button {
            width: 95%;
            font-size: 18px;
          }
          .google-button {
            width: 95%;
          }
          .paypal-button {
            width: 95%;
          }
          #paypal-button {
            width: 95%;
          }
          .applepay-button {
            width: 95%;
          }
          .paypal-button-row {
            height: 50px !important
          }
      }
  
      @media only screen and (min-width:601px){
        .checkout-fieldset h5 {
          font-size: 28px;
        }
        .donate-text-small {
            display: none;
          }
          .donate-text-large {
            display: block;
            letter-spacing: 2px;
          }
          .donation-title {
              font-family: oskar-inline;
              font-size: 42px;
          }
          .summary-container {
            position: fixed;
            right: 0 !important;
          }
          .venmo-button {
          }
          .fieldset-title {
            font-family: oskar;
            font-size: 24px
          }
          .p-title {
            font-family: oskar;
            font-size: 20px;
          }
          .p-item {
        font-size: 18px
      }
      }
      @media only screen and (min-width:993px){
        .checkout-fieldset h5 {
          font-size: 36px;
        }
          .donation-title {
              font-family: oskar-inline;
              font-size: 48px;
          }
          .donation-subtitle {
              font-size: 20px;
              font-weight: 300;
              line-height: 24px;
          }
          .venmo-button {
            font-size: 16px;
          }
          .creditcard-button {
            font-size: 20px;
          }
          .google-button {
            font-size: 16px;
          }
          .paypal-button {
            font-size: 16px;
          }
          .applepay-button {
            font-size: 16px;
          }
          .fieldset-title {
            font-family: oskar;
            font-size: 26px
          }
          .checkout-fieldset p {
            margin-bottom: 15px !important
          }
          .p-title {
            font-family: oskar;
            font-size: 26px;
          }
          .checkout-container{
          }
          .section-title {
            font-size: 48px;
          }
      }
      @media only screen and (min-width:1226px){
        .btn-ticket {
            margin-top: 0px;
            font-size: 24px;
            line-height: 65px;
            height: 60px
        }
      }
      @media only screen and (min-width:1400px){
          .donation-title {
              font-family: oskar-inline;
              font-size: 56px;
          }
          .donation-subtitle {
              font-size: 20px;
              font-weight: 300;
              line-height: 24px
          }
          .fieldset-title {
            font-family: oskar;
            font-size: 28px
          }
      }
      .cc-button {
          background-color: rgb(55, 54, 54)
      }
      .cc-button:hover {
          background-color:rgb(101, 101, 101)
      }
      .pp-button {
          background-color: #3b7bbf
      }
      .pp-button:hover {
          background-color:#6799ce
      }
      .venmo-button {
          background-color: #3d95ce;
          color:white;
          margin:5px;
          letter-spacing: 1.5px;
          font-weight:500;
          height: 50px;
          line-height: 45px;
          border-radius: 40px;
      }
      .venmo-button:hover {
          background-color:#739296
      }
      .creditcard-button {
        background-color: #0f9a22;
        color:rgb(255, 255, 255);
          margin:5px;
          letter-spacing: 1.5px;
          font-weight:500;
          height: 50px;
          line-height: 40px;
          border-radius: 40px;
      }
      .creditcard-button:hover {
          background-color:#5e6a4b
      }
      .google-button {
        background-color: #fcfcfc;
        color:rgb(50, 50, 50);
          margin:5px;
          letter-spacing: 1.5px;
          font-weight:500;
          height: 50px;
          line-height: 45px;
          border-radius: 40px;
      }
      .google-button:hover {
          background-color:#ded8d8
      }
      .paypal-button {
        background-color: #ffffff;
        color:rgb(50, 50, 50);
          margin:5px;
          letter-spacing: 1.5px;
          font-weight:500;
          height: 50px;
          line-height: 45px;
          border-radius: 40px !important;
      }
      .paypal-button:hover {
          background-color:#d3d1da
      }
      .paypal-button-container{
        font-family: poppins !important;
        font-weight: 500;
        text-transform: uppercase !important;
      }
      .applepay-button {
        background-color: #181818;
        color:rgb(50, 50, 50);
          margin:5px;
          letter-spacing: 1.5px;
          font-weight:500;
          height: 50px;
          line-height: 45px;
          border-radius: 40px;
      }
      .applepay-button:hover {
          background-color:#5e5e5e
      }
      .paypal-button.paypal-button-color-white, .paypal-button-row.paypal-button-color-white .menu-button {
        border: none !important;
      }
      body {
    background-color: #fff;
  }
  
  .toast {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 9999;
  }
  
  .bootstrap-basic {
    background: white;
  }
  
  #or {
    position: relative;
    line-height: 50px;
    text-align: center;
    font-weight: 500;
  }
  
  #or::before,
  #or::after {
    position: absolute;
    width: 30%;
    height: 1px;
    
    top: 25px;
    
    background-color: rgb(193, 193, 193);
    
    content: '';
  }
  
  #or::before {
    left: 15%;
  }
  
  #or::after {
    right: 15%;
  }
  .btn:focus {
    background-color:rgb(160, 160, 160) !important;
  }
  #card-number {
    height: 3rem;
    border-bottom: 1px solid #9e9e9e;
  }
  #card-date {
    height: 3rem;
    border-bottom: 1px solid #9e9e9e;
  }
  #card-cvv {
    height: 3rem;
    border-bottom: 1px solid #9e9e9e;
  }
  #card-zip {
    height: 3rem ;
    border-bottom: 1px solid #9e9e9e;
  }
  ::placeholder {
    color: rgb(186, 186, 186) !important
  }
  </style>
  <script>
    $('.materialboxed').materialbox({});
  </script>
{% endblock %}