{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block canonical %}https://www.empowerthevillage.org/events/{% endblock %}
{% block seo_description %}Check out ETV's upcoming events!{% endblock %}

{% block content %}
<div id="page">
    <div class="event-container">
        <h1 class="center-align event-page-title">ETV Events</h1>



        <div class="card row valign-lg">
            <div class="col s12 xl6" style="padding: 0">
                <a href="/events/power-swing-classic/"><img class="event-thumbnail"
                        src="https://pub-b5328bf79b944420816257d1e024a4ac.r2.dev/2026%20Power%20Swing%20Classic%20Flyer.png"
                        width=100%></a>
            </div>
            <div class="col s12 xl6 event-text">
                <a href="/events/power-swing-classic/">
                    <h6 class="event-title">5th Annual Power Swing Classic</h6>
                </a>
                <h6 class="event-date">September 28, 2026</h6>
                <a href="https://maps.app.goo.gl/4t934TY1ZU8UKd3s5" target="_blank">
                    <p class="event-location">Maplewood Country Club</p>
                </a>
                <p class="event-description" style="font-weight: 700">Celebrating E<sup>3</sup> - Excellence,
                    <br>Entrepreneurship, and Empowerment!

                <p class="event-description">Empowering ETV's Economic Prosperity Initiatives through support of this
                    event while providing a platform for networking with Village members.</p>

                <div class="row">
                    <a class="btn btn-large learn-more-btn" href="/events/power-swing-classic/"
                        style="background-color:#b8261c">Learn More</a>
                    <a class="btn btn-large learn-more-btn" target="_blank"
                        href="https://crm.bloomerang.co/HostedDonation?ApiKey=pub_950420b4-71d8-11ef-9e7a-0abe7fff0dfd&WidgetId=305152"
                        style="background-color:#15af12;">Buy
                        Tickets</a>
                    <a class="btn btn-large learn-more-btn" target="_blank"
                        href="https://crm.bloomerang.co/HostedDonation?ApiKey=pub_950420b4-71d8-11ef-9e7a-0abe7fff0dfd&WidgetId=11832320"
                        style="background-color:#080808;">Become a Sponsor</a>
                </div>
            </div>
        </div>



        <div class="card row valign-lg">
            <div class="col s12 xl6" style="padding: 0">
                <a href="/events/empowerment-summit/"><img class="event-thumbnail"
                        src="https://pub-b5328bf79b944420816257d1e024a4ac.r2.dev/a7zte-bl26t.webp" width=100%></a>
            </div>
            <div class="col s12 xl6 event-text">
                <a href="/events/empowerment-summit/">
                    <h6 class="event-title">ETV Empowerment Summit</h6>
                </a>
                <h6 class="event-date">January 31, 2026</h6>
                <p style="margin-top:0; font-weight: 500;">9:30 a.m. - 5:30 p.m.</p>

                <div class="event-description">
                    <h5 style="font-family: oskar, sans-serif;">Join ETV in Controlling Our Destiny!</h5>
                    <p><strong> Join our Informed &amp; Inspired Village @ ETV's Empowerment Summit!</strong></p>
                    <p>Featuring a Business & Resource Marketplace, Entrepreneurship, Wellness &
                        Wealth-Building expert panels and speakers, and so much more! Attendees will learn to prepare
                        for business success, navigate challenges to building generational wealth, and tap into tools
                        for wellness. Great food, music & fun!</p>
                </div>

                <div class="row">
                    <a class="btn btn-large learn-more-btn" href="/events/empowerment-summit/"
                        style="background-color:#b8261c;">Learn More</a>
                    <a class="btn btn-large learn-more-btn" href="/events/empowerment-summit/buy-tickets/"
                        style="background-color:#15af12;">Buy Tickets</a>
                    <a class="btn btn-large learn-more-btn" href="/events/empowerment-summit/sponsor/"
                        style="background-color:#080808;">Become a Sponsor</a>
                </div>
            </div>
        </div>


        <div class="card row valign-lg">
            <div class="col s12 xl6" style="padding: 0">
                <a href="/events/north-star-celebration/"><img class="event-thumbnail"
                        src="https://pub-b5328bf79b944420816257d1e024a4ac.r2.dev/a4kyn-a7cd5.webp" width=100%></a>
            </div>
            <div class="col s12 xl6 event-text">
                <a href="/events/north-star-celebration/">
                    <h6 class="event-title">North Star Celebration</h6>
                </a>
                <h6 class="event-date">February 21, 2026</h6>
                <p style="margin-top:0">6 p.m. - 11 p.m.</p>

                <div class="event-description">
                    <h5 style="font-family: oskar, sans-serif;">Celebrate E<sup>3</sup> = Excellence,
                        Entrepreneurship, &
                        Empowerment</h5>
                    <p>ETV's North Star Empowerment Celebration is an opportunity to celebrate successful, seasoned
                        entrepreneurs - North Stars
                        - as role models, and recognize community leaders with the Sankofa award. The annual event
                        provides a platform for
                        networking and fundraising for our Economic Prosperity Pillar initiatives while demonstrating
                        the direct impact of ETV's mission and vision. Village Ventures business pitch competition
                        winners are announced during
                        the event and receive
                        cash prizes to invest in their enterprises.</p>
                </div>

                <div class="row">
                    <a class="btn btn-large learn-more-btn" href="/events/north-star-celebration/"
                        style="background-color:#b8261c;">Learn More</a>
                    <a class="btn btn-large learn-more-btn" href="/events/north-star-celebration/buy-tickets/"
                        style="background-color:#15af12;">Buy Tickets</a>
                    <a class="btn btn-large learn-more-btn" href="/events/north-star-celebration/sponsor/"
                        style="background-color:#080808;">Become a Sponsor</a>
                </div>
            </div>
        </div>




        <div class="card row valign-lg">
            <div class="col s12 xl6" style="padding: 0">
                <a href="/unity-walk-2026/"><img class="event-thumbnail"
                        src="https://pub-b5328bf79b944420816257d1e024a4ac.r2.dev/alg1y-vinfs.webp" width=100%></a>
            </div>
            <div class="col s12 xl6 event-text">
                <a href="/unity-walk-2026/">
                    <h6 class="event-title">Unity Walk for Community Wellness & Mental Health</h6>
                </a>
                <h6 class="event-date">May 16, 2026</h6>
                <a href="https://goo.gl/maps/2UDGyQYQ7uyGVy7x7" target="_blank">
                    <p class="event-location">South Mountain Reservation in West Orange, New Jersey, and virtually</p>
                </a>
                <p class="event-description">
                    In an effort to collectively promote community wellness and mental health, ETV is hosting a Walk on
                    May 16, 2026 at
                    South Mountain Reservation in West Orange, New Jersey. The "Unity Walk" is meant to bring together
                    members of the
                    Village who are invested in the physical and mental health of the community during Mental Health
                    Awareness month. ETV is
                    inviting the whole community, with emphasis on recruiting walking teams from church groups, Divine 9
                    chapters, civic and
                    social organizations, books clubs, corporate employee groups, walking clubs and individuals to build
                    community and
                    benefit ETV's Village Assist Program and other wellness initiatives.
                    <br><br>
                    Data shows that regular physical exercise and time outdoors greatly improves mental and physical
                    health and creates the
                    perfect backdrop to exhale, experience the joy of nature, connect with others and feel inspired to
                    build community. This
                    event will take place from 8:00 AM until 12:00 PM with a vigorous 1.8 mile walk or 5k Fun Run around
                    the lake (or
                    virtually) with other fun activities and health education related resources shared! Check-in starts
                    at 8:00 AM, and the
                    walk begins at 9:00 AM. Take a walk with us and/or sponsor the event. We look forward to seeing you
                    there!
                </p>
                <div class="row">
                    <a class="btn btn-large learn-more-btn" href="/unity-walk-2026/"
                        style="margin-left: 10px; background-color:#b8261c">Learn More</a>
                    <a class="btn btn-large learn-more-btn"
                        href="https://crm.bloomerang.co/HostedDonation?ApiKey=pub_950420b4-71d8-11ef-9e7a-0abe7fff0dfd&WidgetId=6996992"
                        style="background-color:#15af12;">Register Now</a>
                    <a class="btn btn-large learn-more-btn"
                        href="https://crm.bloomerang.co/HostedDonation?ApiKey=pub_950420b4-71d8-11ef-9e7a-0abe7fff0dfd&WidgetId=7142400"
                        style="background-color:#080808;">Become a Sponsor</a>
                </div>
            </div>
        </div>


        <div class="card row valign-lg">
            <div class="col s12 xl6" style="padding: 0">
                <a href="/events/love-of-art-fundraiser/"><img class="event-thumbnail"
                        src="https://pub-20d425b2f2bc40c780f9cae283844fa6.r2.dev/Juneteenth%202026%20Flyer%20(2).png"
                        width=100%></a>
            </div>
            <div class="col s12 xl6 event-text">
                <a href="/events/love-of-art-fundraiser/">
                    <h6 class="event-title">Juneteenth Art Exhibit and Celebration</h6>
                    <h6 style="font-family: oskar, sans-serif;color:black">UnBound: Abstraction, Joy & Liberation</h6>
                </a>
                <h6 class="event-date">June 20 & 21, 2026</h6>
                <p style="margin-top:0; font-weight: 500;">Saturday, 12 p.m. - 6:00 p.m.<br />Sunday, 12 p.m. - 5:00
                    p.m.</p>
                <a href="https://goo.gl/maps/xQmezjMN8czG4eKj6" target="_blank">
                    <p class="event-location">Montclair Art Museum</p>
                </a>
                <p class="event-description">
                    Enjoy & purchase exquisite art from dozens of local & nationally renowned artists! Delicious
                    light bites, music, & fun for all! Ages 16 and under are free!
                </p>
                <p class="event-description">This year's show will feature:</p>
                <p class="event-description">• All forms of Abstract artwork demonstrating Freedom of expression and
                    interpretation</P>
                <p class="event-description">• Works documenting and preserving our Cultural History</P>
                <p class="event-description">• Works representing narratives of Black Joy and Resilience</P>
                <div class="row">
                    <a class="btn btn-large learn-more-btn" href="/events/love-of-art-fundraiser/"
                        style="margin-left: 10px; background-color:#b8261c">Learn More</a>
                    <a class="btn btn-large learn-more-btn" href="/events/love-of-art-fundraiser/buy-tickets/"
                        style="background-color:#15af12;">Buy Tickets</a>
                    <a class="btn btn-large learn-more-btn" href="/events/love-of-art-fundraiser/sponsor/"
                        style="background-color:#080808;">Become a Sponsor</a>
                </div>
            </div>
        </div>



        <!--
                <div class="card row valign-lg">
                    <div class="col s12 xl6" style="padding: 0">
                        <a href="/events/village-ventures/"><img class="event-thumbnail"
                                src="https://pub-b5328bf79b944420816257d1e024a4ac.r2.dev/a2ox4-7i4ip.webp" width=100%></a>
                    </div>
                    <div class="col s12 xl6 event-text">
                        <a href="/events/village-ventures/">
                            <h6 class="event-title">Village Ventures</h6>
                        </a>
                        <h6 class="event-date">February 2026</h6>
                        <div class="event-description">
                            <h5 style="font-family: oskar, sans-serif;">ETV's Village Ventures Pitch Competition</h5>
                            <p>The ETV Village Ventures Pitch Competition provides entrepreneurs the opportunity to pitch
                                their business to an expert panel of judges for cash prizes. The Pitch Competition not only
                                gives entrepreneurs an opportunity to raise capital, but also receive coaching during the
                                process to help them grow their companies successfully.</p>
                            <p><strong>Only VEN registrants are eligible to participate in the <em>Village Ventures&trade;</em>
                                    Business Pitch competition. <a href="/village-empowerment-network-nomination/">Click
                                        here to join VEN</a>!</p>
                        </div>
                        <div class="row">
                            <a class="btn btn-large learn-more-btn" href="/events/village-ventures/"
                                style="background-color:#b8261c;">Learn More</a>
                            <a class="btn btn-large learn-more-btn" href="/events/village-ventures-registration/buy-tickets/"
                                style="background-color:#15af12;">Competition Registration</a>
                            <a class="btn btn-large learn-more-btn" href="/events/village-ventures-registration/sponsor/"
                                style="background-color:#080808;">Become a Sponsor</a>
                        </div>
                    </div>
                </div>
        -->


        <!--
        <div class="card row valign-lg">
            <div class="col s12 xl6" style="padding: 0">
                <a href="/events/friends-of-the-village-art-exhibition/"><img class="event-thumbnail" src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/fov-ad-image-min.jpg" width=100%></a>
            </div>
            <div class="col s12 xl6 event-text">
                <a href="/events/friends-of-the-village-art-exhibition/"><h6 class="event-title">CFAS - Friends of the Village Art Exhibition</h6></a>
                <h6 class="event-date">August 10th, 2023</h6>
                <a href="https://goo.gl/maps/1VTGVY1jg5z3dEnz7" target="_blank"><p class="event-location">Oak Bluffs Library, Martha's Vineyard</p></a>
                <p class="event-description">
                    Join Carter Fine Art Services for this free event featuring the work of locally and nationally renowned Black artists.
                </p>
                <div class="row">
                    <a class="btn btn-large learn-more-btn" href="/events/friends-of-the-village-art-exhibition/" style="margin-left: 10px; background-color:#b8261c">Learn More</a>
                    <a class="btn btn-large learn-more-btn" href="/events/art-gallery/" style="margin-left: 10px; background-color: black">View the Art</a>
                </div>
            </div>
        </div>-->
        <!--
        <div class="card row valign-lg">
            <div class="col s12 xl6" style="padding: 0">
                <iframe class="z-depth-1 event-thumbnail" width="100%" src="https://www.youtube.com/embed/ql8U8oy12wA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col s12 xl6 event-text">
                <a href="https://issuu.com/empowerthevillage/docs/press_release_empower_the_village_says_february_is?mode=window" target="_blank"><h6 class="event-title">Community Education Panel - Post Traumatic Slave Syndrome & Reframing the Narrative</h6></a>
                <h6 class="event-date">February 24th, 2022</h6>
                <a href="https://youtu.be/ql8U8oy12wA" target="_blank"><p class="event-location">Virtual Event - Click Here To Watch</p></a>
                
                <p class="event-description"> <b>February 24th, 2022 - Morristown, New Jersey –</b> ETV co-hosts an educational  panel and its founder explores the vestiges of PTSS, the impact of U.S. policy and actions throughout history that have shaped the state of the Black economy today and offers solutions on accelerating positive change through accurately reframing the narrative, leaning into a growth mindset and take economic-based action.</p>
                
                <div class="row">
                    <a class="btn btn-large learn-more-btn" href="https://issuu.com/empowerthevillage/docs/press_release_empower_the_village_says_february_is?mode=window" style="background-color:#b8261c">Full Press Release</a>
                </div>
            </div>
        </div>-->
    </div>
</div>

<style>
    #page {
        background: url("https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/vbp-collage.webp");
        background-size: 100%;

    }

    .event-page-title {
        font-family: oskar;
        font-size: 32px
    }

    .event-text {
        padding: 3% !important;
        text-align: center;
    }

    .event-container {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.897);
        padding: 5%
    }

    .event-title {
        font-family: oskar;
        font-size: 21px;
        color: #01a650;
        transition: color 0.2s ease-in-out
    }

    .event-title:hover {
        color: #068845
    }

    .event-date {
        font-family: oskar;
        font-size: 16px;
        font-weight: 400
    }

    .event-location {
        font-family: oskar;
        margin-top: 5px;
        margin-bottom: 0;
        font-size: 18px
    }

    .event-description {
        font-size: 12px;
        font-weight: 200
    }

    .learn-more-btn {
        margin-top: 10px
    }

    @media only screen and (min-width: 601px) {
        .event-container {
            padding: 2% 3%
        }

        .event-page-title {
            font-size: 42px;
            margin-bottom: 1%
        }

        .event-title {
            font-size: 28px;
        }

        .event-date {
            font-size: 20px;
        }

        .event-location {
            font-family: oskar;
            margin-top: 3px;
            margin-bottom: 0;
            font-size: 20px
        }

        .event-description {
            font-size: 14px;

        }
    }

    @media only screen and (min-width: 601px) {
        .event-text {
            padding: 3% !important;
            text-align: center;
        }

        .event-title {
            font-size: 28px;
        }

        .event-date {
            font-size: 20px;
        }

        .event-location {
            font-family: oskar;
            margin-top: 3px;
            margin-bottom: 0;
            font-size: 20px
        }

        .event-description {
            font-size: 14px;

        }
    }

    @media only screen and (min-width: 993px) {
        .event-text {
            text-align: left;
            padding: 2% !important
        }

        .event-title {
            font-size: 26px;
        }

        .event-date {
            font-size: 18px;
        }

        .event-location {
            font-family: oskar;
            margin-top: 3px;
            margin-bottom: 0;
            font-size: 20px
        }

        .event-description {
            font-size: 14px;

        }
    }

    @media only screen and (min-width: 1226px) {
        .event-container {
            padding: 0.25% 3%
        }

        .event-page-title {
            font-size: 49px;
        }

        .event-title {
            font-size: 30px;
        }

        .event-date {
            font-size: 22px;
        }

        .event-location {
            font-family: oskar;
            margin-top: 3px;
            margin-bottom: 0;
            font-size: 24px
        }

        .event-description {
            font-size: 14px;

        }
    }

    @media only screen and (min-width: 1400px) {
        .event-page-title {
            font-size: 56px;
        }

        .event-title {
            font-size: 40px;
        }

        .event-date {
            font-size: 24px;
        }

        .event-location {
            font-family: oskar;
            margin-top: 3px;
            margin-bottom: 0;
            font-size: 26px
        }

        .event-description {
            font-size: 16px;

        }
    }
</style>
{% endblock %}