{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block canonical %}https://www.empowerthevillage.org/events/{% endblock %}
{% block seo_description %}Check out ETV's upcoming events!{% endblock %}

{% block content %}
<div id="page">
    <div class="event-container">
        <div class="center-align event-page-title">ETV 2022 Events</div>
        <div class="card row valign-lg">
            <div class="col s12 xl6" style="padding: 0">
                <a href="/events/love-of-art-fundraiser/"><img class="z-depth-1 event-thumbnail" src="{% static 'img/loa-2021-thumbnail.png' %}" width=100%></a>
            </div>
            <div class="col s12 xl6 event-text">
                <a href="/events/love-of-art-fundraiser/"><h6 class="event-title">For The Love of Art Juneteenth Celebration</h6></a>
                <h7 class="event-date">June 18th & 19th, 2022</h7>
                <a href="https://goo.gl/maps/xQmezjMN8czG4eKj6" target="_blank"><p class="event-location">Montclair Art Museum</p></a>
                <p class="event-description">Don’t miss this celebration and fundraiser featuring a VIP art preview & cocktail reception <b>(Saturday June 18, 5 - 9 PM)</b> and an afternoon <b>(Sunday June 19, 12 - 5 PM)</b> of exquisite art for sale, live musical performances, literature, hors d’oeuvres, open bar and much more!</p>
     
                <div class="row">
                    <a class="btn btn-large learn-more-btn" href="/events/love-of-art-fundraiser/" style="margin-left: 10px; background-color:#b8261c">Learn More</a>
                    <a class="btn btn-large learn-more-btn" href="/events/art-gallery/" style="margin-left: 10px; background-color:#1691d8">Buy Art</a>
                </div>
            </div>
        </div>
        <div class="card row valign-lg">
            <div class="col s12 xl6" style="padding: 0">
                <a href="/events/power-swing-classic/"><img class="z-depth-1 event-thumbnail" src="{% static 'img/golf-header.png' %}" width=100%></a>
            </div>
            <div class="col s12 xl6 event-text">
                <a href="/events/power-swing-classic/"><h6 class="event-title">Power Swing Classic</h6></a>
                <h7 class="event-date">August 30th, 2022</h7>
                <a href="https://goo.gl/maps/bnLBU2qJG81auBgg7" target="_blank"><p class="event-location">Fiddler's Elbow Country Club</p></a>
                <p class="event-description">Save the date for ETV's inaugural Power Swing Classic Golf Event at the award-winning Fiddler's Elbow Country Club!</p>
                <p class="event-description"><b>Early Bird Special Available for the First 50 Registrants!</b></p>
                <div class="">
                </div>
                <div class="row">
                    <a class="btn btn-large learn-more-btn" href="/events/power-swing-classic/" style="background-color:#b8261c">Learn More</a>
                    <a class="btn btn-large learn-more-btn" href="/events/power-swing-classic/buy-tickets/" style="margin-left: 10px; background-color: black">Buy Tickets</a>
                    <a class="btn btn-large learn-more-btn" href="/events/power-swing-classic/sponsor/" style="margin-left: 10px; background-color: #01a650">Become A Sponsor</a>
                </div>
            </div>
        </div>
        <div class="card row valign-lg">
            <div class="col s12 xl6" style="padding: 0">
                <iframe class="z-depth-1 event-thumbnail" width="100%" src="https://www.youtube.com/embed/ql8U8oy12wA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col s12 xl6 event-text">
                <a href="https://issuu.com/empowerthevillage/docs/press_release_empower_the_village_says_february_is?mode=window" target="_blank"><h6 class="event-title">Community Education Panel - Post Traumatic Slave Syndrome & Reframing the Narrative</h6></a>
                <h7 class="event-date">February 24th, 2022</h7>
                <a href="https://youtu.be/ql8U8oy12wA" target="_blank"><p class="event-location">Virtual Event - Click Here To Watch</p></a>
                
                <p class="event-description"> <b>February 24th, 2022 - Morristown, New Jersey –</b> ETV co-hosts an educational  panel and its founder explores the vestiges of PTSS, the impact of U.S. policy and actions throughout history that have shaped the state of the Black economy today and offers solutions on accelerating positive change through accurately reframing the narrative, leaning into a growth mindset and take economic-based action.</p>
                
                <div class="row">
                    <a class="btn btn-large learn-more-btn" href="https://issuu.com/empowerthevillage/docs/press_release_empower_the_village_says_february_is?mode=window" style="background-color:#b8261c">Full Press Release</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    
    #page {
        background: url("{% static 'img/vbp-collage.svg' %}");
        background-size: 100%;
    
    }
    .event-page-title {
        font-family: oskar-inline;
        font-size: 32px
    }
    .event-text {
        padding: 3% !important;
        text-align: center;
    }
    .event-container {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.897);
        padding: 5%
    }
    .event-title {
        font-family: oskar-inline;
        font-size: 21px;
        color: #01a650;
        transition: color 0.2s ease-in-out
    }
    .event-title:hover {
        color: #068845
    }
    .event-date {
        font-family: oskar;
        font-size: 16px;
        font-weight: 400
    }
    .event-location {
        font-family: oskar;
        margin-top: 5px;
        margin-bottom: 0;
        font-size: 18px
    }
    .event-description {
        font-size: 12px;
        font-weight: 200
    }
    .learn-more-btn {
        margin-top: 10px
    }
    @media only screen and (min-width: 601px) {
        .event-container {
            padding: 2% 3%
        }
        .event-page-title {
            font-family: oskar-inline;
            font-size: 42px;
            margin-bottom: 1%
        }
        .event-title {
            font-size: 28px;
        }
        .event-date {
            font-size: 20px;
        }
        .event-location {
            font-family: oskar;
            margin-top: 3px;
            margin-bottom: 0;
            font-size: 20px
        }
        .event-description {
            font-size: 14px;
            
        }
    }
    @media only screen and (min-width: 601px) {
        .event-text {
            padding: 3% !important;
            text-align: center;
        }
        .event-title {
            font-size: 28px;
        }
        .event-date {
            font-size: 20px;
        }
        .event-location {
            font-family: oskar;
            margin-top: 3px;
            margin-bottom: 0;
            font-size: 20px
        }
        .event-description {
            font-size: 14px;
            
        }
    }
    @media only screen and (min-width: 993px) {
        .event-text {
            text-align: left;
            padding: 2% !important
        }
        .event-title {
            font-size: 26px;
        }
        .event-date {
            font-size: 18px;
        }
        .event-location {
            font-family: oskar;
            margin-top: 3px;
            margin-bottom: 0;
            font-size: 20px
        }
        .event-description {
            font-size: 14px;
            
        }
    }
    @media only screen and (min-width: 1226px) {
        .event-container {
            padding: 5% 3%
        }
        .event-page-title {
            font-size: 49px;
        }
        .event-title {
            font-size: 30px;
        }
        .event-date {
            font-size: 22px;
        }
        .event-location {
            font-family: oskar;
            margin-top: 3px;
            margin-bottom: 0;
            font-size: 24px
        }
        .event-description {
            font-size: 14px;
            
        }
    }
    @media only screen and (min-width: 1400px) {
        .event-page-title {
            font-size: 56px;
        }
        .event-title {
            font-size: 40px;
        }
        .event-date {
            font-size: 24px;
        }
        .event-location {
            font-family: oskar;
            margin-top: 3px;
            margin-bottom: 0;
            font-size: 26px
        }
        .event-description {
            font-size: 16px;
            
        }
    }
</style>
{% endblock %}