{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block canonical %}https://www.empowerthevillage.org/events/{% endblock %}
{% block seo_description %}Check out ETV's upcoming events!{% endblock %}

{% block content %}
<div id="page">
    <div class="event-container">
        <h1 class="center-align event-page-title">ETV Events</h1>
        
        <div class="card row valign-lg">
            <div class="col s12 xl6" style="padding: 0">
                <a href="/events/love-of-art-fundraiser/"><img class="event-thumbnail" src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/juneteenth-graphic-0323.webp" width=100%></a>
            </div>
            <div class="col s12 xl6 event-text">
                <a href="/events/love-of-art-fundraiser/"><h6 class="event-title">For The Love of Art Juneteenth Celebration</h6></a>
                <h6 class="event-date">June 16th & 17th, 2023</h6>
                <a href="https://goo.gl/maps/xQmezjMN8czG4eKj6" target="_blank"><p class="event-location">Montclair Art Museum</p></a>
                <p class="event-description">
                    Enjoy & purchase exquisite art from dozens of local & nationally renowned Black artists! Great food, open bar, music and fun for all! PLUS a new "Afterglow" Party until 11PM
                </p>
                <div class="row">
                    <a class="btn btn-large learn-more-btn" href="/events/love-of-art-fundraiser/" style="margin-left: 10px; background-color:#b8261c">Learn More</a>
                    <a class="btn btn-large learn-more-btn" href="/events/love-of-art-fundraiser/buy-tickets/" style="margin-left: 10px; background-color: black">Buy Tickets</a>
                    <a class="btn btn-large learn-more-btn" href="/events/love-of-art-fundraiser/sponsor/" style="margin-left: 10px; background-color: #01a650">Become A Sponsor</a>
                </div>
            </div>
        </div>
        <div class="card row valign-lg">
            <div class="col s12 xl6" style="padding: 0">
                <a href="/power-walk-2023/"><img class="event-thumbnail" src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/power-walk-cover-new.jpg" width=100%></a>
            </div>
            <div class="col s12 xl6 event-text">
                <a href="/power-walk-2023/"><h6 class="event-title">Power Walk</h6></a>
                <h6 class="event-date">July 15th, 2023</h6>
                <a href="https://goo.gl/maps/2UDGyQYQ7uyGVy7x7" target="_blank"><p class="event-location">South Mountain Reservation</p></a>
                <p class="event-description">
                    In an effort to promote mental and physical wellness while highlighting national Minority Mental Health Month in July, ETV is hosting its inaugural Power Walk on July 15, 2023 at South Mountain Reservation in West Orange, New Jersey. Power Walk proceeds benefit ETV's health and wellness initiatives.
                    <br><br>
                    Data shows that regular physical exercise and time outdoors greatly improve mental health. This event will take place from 8AM until 12PM with a vigorous 1.8 mile walk around the lake (or virtually), with a mental health workshop, and other activities! Check-in starts at 8:00 AM, flexible general walk start. 9:30 AM start for prize competition participants. Sponsor the event or an individual Power Walker today!
                </p>
                <div class="row">
                    <a class="btn btn-large learn-more-btn" href="/power-walk-2023/" style="margin-left: 10px; background-color:#b8261c">Learn More</a>
                    <a class="btn btn-large learn-more-btn" href="/power-walk-2023/register/" style="margin-left: 10px; background-color: black">Register</a>
                    <a class="btn btn-large learn-more-btn" href="/power-walk-2023/sponsor/" style="margin-left: 10px; background-color: #01a650">Become A Sponsor</a>
                </div>
            </div>
        </div>
        <div class="card row valign-lg">
            <div class="col s12 xl6" style="padding: 0">
                <a href="/events/friends-of-the-village-art-exhibition/"><img class="event-thumbnail" src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/fov-ad-image-min.jpg" width=100%></a>
            </div>
            <div class="col s12 xl6 event-text">
                <a href="/events/friends-of-the-village-art-exhibition/"><h6 class="event-title">Friends of the Village Fine Art Exhibition</h6></a>
                <h6 class="event-date">August 10th, 2023</h6>
                <a href="https://goo.gl/maps/1VTGVY1jg5z3dEnz7" target="_blank"><p class="event-location">Oak Bluffs Library, Martha's Vineyard</p></a>
                <p class="event-description">
                    Join us for this free event featuring artist Bryan Collier! Wine and refreshments will be served
                </p>
                <div class="row">
                    <a class="btn btn-large learn-more-btn" href="/events/friends-of-the-village-art-exhibition/" style="margin-left: 10px; background-color:#b8261c">Learn More</a>
                </div>
            </div>
        </div>
        <div class="card row valign-lg">
            <div class="col s12 xl6" style="padding: 0">
                <a href="/events/power-swing-classic/"><img class="event-thumbnail" src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/golf23-banner.webp" width=100%></a>
            </div>
            <div class="col s12 xl6 event-text">
                <a href="/events/power-swing-classic/"><h6 class="event-title">2nd Annnual Power Swing Classic & North Star Celebration</h6></a>
                <h6 class="event-date">August 29th, 2023</h6>
                <a href="https://goo.gl/maps/bnLBU2qJG81auBgg7" target="_blank"><p class="event-location">Fiddler's Elbow Country Club</p></a>
                <p class="event-description" style="font-weight: 700">Celebrating E<sup>3</sup> – Black Excellence, <br>Entrepreneurship, and Empowerment!
                    
                <p class="event-description">Join us to Empower ETV’s Economic Prosperity Initiatives while honoring seasoned, successful entrepreneurs – North Stars – as role models and recognizing newer, promising entrepreneurs - Rising Stars - while enjoying fun and networking with Village members.</p>
                    
                <p class="event-description">Empowering ETV’s Economic Prosperity Initiatives while honoring seasoned, successful entrepreneurs – North Stars – as role models. Supporting Rising Stars with visibility and funding while providing a platform for networking with Village members.</p>
                <p class="event-description" style="color:#01a650; font-weight: 600">Early bird pricing available now!</p>
                
                <div class="row">
                    <a class="btn btn-large learn-more-btn" href="/events/power-swing-classic/" style="background-color:#b8261c">Learn More</a>
                    <a class="btn btn-large learn-more-btn" href="/events/power-swing-classic/buy-tickets/" style="margin-left: 10px; background-color: black">Buy Tickets</a>
                    <a class="btn btn-large learn-more-btn" href="/events/power-swing-classic/sponsor/" style="margin-left: 10px; background-color: #01a650">Become A Sponsor</a>
                </div>
            </div>
        </div>
        <div class="card row valign-lg">
            <div class="col s12 xl6" style="padding: 0">
                <a href="/events/empowerment-expo/"><img src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/expo-flyer-128.webp" width=100%></a>
            </div>
            <div class="col s12 xl6 event-text">
                <a href="/events/empowerment-expo/"><h6 class="event-title">ETV Empowerment Expo</h6></a>
                <h6 class="event-date">February 11th, 2023</h6>
                <a href="https://goo.gl/maps/t4iMS5vrdNU9v5n6A" target="_blank"><p class="event-location">Bloomfield College - Westminster Arts Center</p></a>

                <div class="event-description">
                    <h5 style="font-family: oskar, sans-serif;">Join ETV as we Honor our History and Fuel the Future!</h5>
                    <p><strong>Sip, Sample &amp; Support ETV's Empowerment Expo @ Bloomfield College on Saturday, February 11.</strong></p>
                    <p>Featuring a Black-Owned Business Marketplace, Entrepreneurship-focused expert panel and speakers, and our Inaugural Village Ventures&trade; business pitch competition. Attendees will learn to prepare for business success and navigate challenges to building generational wealth. <strong>Great food, music &amp; fun!</strong></p>
                    <p><strong class="required">Expo Vendor spaces sold out!</strong><a href="/events/empowerment-expo/buy-tickets/"></p>
                    <p><strong>Only VEN registrants are eligible to participate in the <em>Village Ventures&trade;</em> Black Business Pitch competition.</strong> <a href="/village-empowerment-network-nomination/">Click here</a> to register for the Business Pitch competition, and <a href="/village-empowerment-network-nomination/">click here to join VEN</a>!</p>
                    <p>#SupportBlackBusiness #EmpowerTheVillage #BlackHistoryMonth #BuyBlack #BlackOwned</p>
                </div>
                
                <div class="row">
                    <a class="btn btn-large learn-more-btn" href="/events/empowerment-expo/" style="background-color:#b8261c;">Learn More</a>
                </div>
            </div>
        </div>
        <div class="card row valign-lg">
            <div class="col s12 xl6" style="padding: 0">
                <iframe class="z-depth-1 event-thumbnail" width="100%" src="https://www.youtube.com/embed/ql8U8oy12wA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col s12 xl6 event-text">
                <a href="https://issuu.com/empowerthevillage/docs/press_release_empower_the_village_says_february_is?mode=window" target="_blank"><h6 class="event-title">Community Education Panel - Post Traumatic Slave Syndrome & Reframing the Narrative</h6></a>
                <h6 class="event-date">February 24th, 2022</h6>
                <a href="https://youtu.be/ql8U8oy12wA" target="_blank"><p class="event-location">Virtual Event - Click Here To Watch</p></a>
                
                <p class="event-description"> <b>February 24th, 2022 - Morristown, New Jersey –</b> ETV co-hosts an educational  panel and its founder explores the vestiges of PTSS, the impact of U.S. policy and actions throughout history that have shaped the state of the Black economy today and offers solutions on accelerating positive change through accurately reframing the narrative, leaning into a growth mindset and take economic-based action.</p>
                
                <div class="row">
                    <a class="btn btn-large learn-more-btn" href="https://issuu.com/empowerthevillage/docs/press_release_empower_the_village_says_february_is?mode=window" style="background-color:#b8261c">Full Press Release</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    
    #page {
        background: url("{% static 'img/vbp-collage.svg' %}");
        background-size: 100%;
    
    }
    .event-page-title {
        font-family: oskar;
        font-size: 32px
    }
    .event-text {
        padding: 3% !important;
        text-align: center;
    }
    .event-container {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.897);
        padding: 5%
    }
    .event-title {
        font-family: oskar-inline;
        font-size: 21px;
        color: #01a650;
        transition: color 0.2s ease-in-out
    }
    .event-title:hover {
        color: #068845
    }
    .event-date {
        font-family: oskar;
        font-size: 16px;
        font-weight: 400
    }
    .event-location {
        font-family: oskar;
        margin-top: 5px;
        margin-bottom: 0;
        font-size: 18px
    }
    .event-description {
        font-size: 12px;
        font-weight: 200
    }
    .learn-more-btn {
        margin-top: 10px
    }
    @media only screen and (min-width: 601px) {
        .event-container {
            padding: 2% 3%
        }
        .event-page-title {
            font-size: 42px;
            margin-bottom: 1%
        }
        .event-title {
            font-size: 28px;
        }
        .event-date {
            font-size: 20px;
        }
        .event-location {
            font-family: oskar;
            margin-top: 3px;
            margin-bottom: 0;
            font-size: 20px
        }
        .event-description {
            font-size: 14px;
            
        }
    }
    @media only screen and (min-width: 601px) {
        .event-text {
            padding: 3% !important;
            text-align: center;
        }
        .event-title {
            font-size: 28px;
        }
        .event-date {
            font-size: 20px;
        }
        .event-location {
            font-family: oskar;
            margin-top: 3px;
            margin-bottom: 0;
            font-size: 20px
        }
        .event-description {
            font-size: 14px;
            
        }
    }
    @media only screen and (min-width: 993px) {
        .event-text {
            text-align: left;
            padding: 2% !important
        }
        .event-title {
            font-size: 26px;
        }
        .event-date {
            font-size: 18px;
        }
        .event-location {
            font-family: oskar;
            margin-top: 3px;
            margin-bottom: 0;
            font-size: 20px
        }
        .event-description {
            font-size: 14px;
            
        }
    }
    @media only screen and (min-width: 1226px) {
        .event-container {
            padding: 5% 3%
        }
        .event-page-title {
            font-size: 49px;
        }
        .event-title {
            font-size: 30px;
        }
        .event-date {
            font-size: 22px;
        }
        .event-location {
            font-family: oskar;
            margin-top: 3px;
            margin-bottom: 0;
            font-size: 24px
        }
        .event-description {
            font-size: 14px;
            
        }
    }
    @media only screen and (min-width: 1400px) {
        .event-page-title {
            font-size: 56px;
        }
        .event-title {
            font-size: 40px;
        }
        .event-date {
            font-size: 24px;
        }
        .event-location {
            font-family: oskar;
            margin-top: 3px;
            margin-bottom: 0;
            font-size: 26px
        }
        .event-description {
            font-size: 16px;
            
        }
    }
</style>
{% endblock %}