{% load humanize %}
{% load static %}
{% if page is not None%}
    {% for x in page.object_list %}
        <div class="col s12 m4 center-align grid-col" style="padding: 1%;">
            {% if x.image_url %}
            <div class="" style="width: 100%">
                {% if x.sold %}<div class="sold-out z-index-2">Sold</div>{% endif %}
                <img class="{% if x.sold %}sold-img{% endif %} z-depth-2 materialboxed-sm lazy" data-src="{{ x.image_url }}" id="item-sm-{{ x.pk }}" item-title="{{ x.title }}" src="{{ x.image_url }}" style="max-height: 240px; cursor: pointer"> 
            <!--
                {% if x.get_availability == True %}<div class="sold-out z-index-2">Sold</div>{% endif %}
                <img width="100%" class="{% if x.get_availability == True %}sold-img{% endif %} z-depth-2 grid-item-mini materialboxed-sm lazy" data-src="{{ x.image_url }}" id="item-sm-{{ x.pk }}" item-title="{{ x.title }}" item-artist="{{ x.artist }}" item-price="{{ x.price }}" item-description="{{ x.description }}" item-dimensions='{{ x.width }}" x {{ x.height }}"' style="cursor:pointer">
                -->
            </div>
            {% else %}
            <div class="z-depth-3" style="width: fit-content; height: 200px; padding-left: 20px; padding-right: 20px; display: flex; align-items: center; justify-content: center;">
                <p class="item-title-sm" >Image coming soon!</p>
            </div>
            {% endif %}
            <div class="gallery-item-details-min center">
                <p id="item-title-sm"></p>
                <div class="divider-dotted"></div>
                <p id="item-title-sm">{{ x.title }}</p>
                <p id="item-artist-sm"><b>Artist: </b>{{ x.artist }}</p>
                <p id="item-price-sm">${{ x.price|intcomma }}</p>
                <p id="item-description-sm"><b>Medium: </b>{{ x.description }}</p>
                <p id="item-dimensions-sm"><b>Dimensions: </b>{{ x.width}}" x {{ x.height }}"</p>
                {% if x.donated %}
                <p id="item-dimensions-sm"><b style="color:#cb1010">100% Donated to ETV!</b></p>
                {% endif %}
                {% if x.note %}
                <p id="item-dimensions-sm"><b style="color:#cb1010">{{ x.note }}</b></p>
                {% endif %}
                
                {% if x.get_availability == True %}
                <div id="sold-btn" class="btn disabled">Sold</div>
                {% else %}
                    {% if x in cart.items.all %}
                    <div id="add-to-cart-{{ x.pk }}" class="btn add-to-cart add-grid" itemID="{{ x.pk }}" style="display: none"><i class="bi bi-cart-plus"></i> Add To Cart</div>
                    <div id="remove-from-cart-{{ x.pk }}" class="btn red darken-2 remove-from-cart remove-grid" itemID="{{ x.pk }}"><i class="bi bi-cart-x"></i> Remove from Cart</div>
                    {% else %}
                    <div id="add-to-cart-{{ x.pk }}" class="btn add-to-cart add-grid" itemID="{{ x.pk }}"><i class="bi bi-cart-plus"></i> Add To Cart</div>
                    <div id="remove-from-cart-{{ x.pk }}" class="btn red darken-2 remove-from-cart remove-grid" itemID="{{ x.pk }}" style="display: none"><i class="bi bi-cart-x"></i> Remove from Cart</div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <script>
        $(document).ready(function(){
            $('.materialboxed-sm').materialbox();
        })
    </script>
{% endif %}
{% if error_msg is not None %}
<script>
    $(document).ready(function(){
        Swal.fire({
            'title': '{{ message }}',
            'icon': 'error',
        })
    })
</script>
{% endif %}
