{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}{{ title }}{% endblock %}
{% block canonical %}https://www.empowerthevillage.org/events/love-of-art-fundraiser{% endblock %}
{% block seo_description %}ETV Love Of Art Fundraiser{% endblock %}

{% block content %}
<div id="page">
    <div id="overlay">
        <div class="row" style="padding-top: 2%;">
          <a class="valign-wrapper" href="/events/" style="margin-bottom: 20px"><i class="material-icons" style="font-size: 16px">arrow_back</i>&nbsp; All Events</a>
            <div class="col s12 l6 center-align" style="margin-bottom: 2%;">
                <a href="buy-tickets/">
                <img class="z-depth-1" src="{% static 'img/loa-2021.png' %}" width=100%>
                </a>
            </div>
            <div class="col s12 l6 center-align" style="margin-bottom: 1%;">
                <div class="col s12">
                    <div class="row center-align">
                        <h6 style="font-size: 26px">ETV is once again proud to partner with <b>Kente Royal Gallery, Montclair Art Museum & African American Cultural Committee @MAM,</b> <br>and dozens of established and emerging artists!</h6>
                        
                    </div>
                    <div class="row center-align">
                        <div class="col s6" style="margin-bottom: 1%">
                            <a class="btn btn-ticket waves-effect green darken-3 tickets-btn modal-trigger" href="buy-tickets/" style="width: 100%">TICKETS</a>
                        </div>
                        <div class="col s6" style="margin-bottom: 1%">
                            <a class="btn btn-ticket waves-effect light-green darken-2 sponsor-btn modal-trigger" href="sponsor/" style="width: 100%">SPONSORSHIP</a>
                        </div>  
                    </div>
                </div>
                <div class="col s12" style="margin-bottom: 5%">
                    <iframe
                        class="z-depth-1"
                        width="100%"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAVVRAq29rAojzu4l2MP1dKtfecmTQ_zuM&q=Montclair+Art+Museum,Montclair+New+Jersey" allowfullscreen>
                    </iframe>
                </div>
                <div class="col s12 center-align">
                    <iframe class="z-depth-1" width="100%" height="315" src="https://www.youtube.com/embed/-JaP0OkWUoQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l10 offset-l1" style="margin-top: 1%">
                <a href = "sponsor/">
                    <img class="z-depth-1" src="{% static 'img/sponsor-fixed.png' %}" width=100%>
                </a>
            </div>
        </div>
    </div>
</div>

<style>
    #page {
        background: url('{% static "img/vbp_collage.png" %}');
    }
    #overlay {
        background: rgba(255, 255, 255, 0.89);
        width: 100%;
        padding-top: 3% !important
    }
    .text {
        font-family: oskar;
        font-size: 20px
    }
    .tickets-email-link {
        font-family: oskar;
        font-size: 18px
    }
    iframe {
        height: 200px
    }
    .btn-ticket {
        font-size: 20px;
        line-height: 60px;
        height: 60px;
        width: 100%
    }
    @media only screen and (min-width: 663px){
        .text {
            font-size: 28px
        }
        .tickets-email-link {
            font-size: 24px
        }
        iframe {
            height:320px
        }
    }
    @media only screen and (min-width: 992px){
        .card {
            height: 400px;
            margin: 0
        }
    }
    @media only screen and (min-width: 1200px){
        iframe {
            height:400px
        }
        #overlay {
           padding: 0% 5%
        }
    }
</style>
<style>
    .hidden {
      display: none
    }
    .p-subtitle {
      font-family: oskar;
      font-size: 20px;
      color: rgb(109, 108, 108);
      font-weight: 300;
    }
    .item-category {
      font-family: oskar;
      font-size: 24px;
      font-weight: 200;
    }
    #add-new {
      background: rgb(41, 41, 41)
    }
    #add-new-billing {
      background: rgb(41, 41, 41);
    }
    .express-checkout {
      border: 1px solid rgb(218, 218, 218);
      border-radius: 15px;
      padding-top: 10px;
      padding-bottom: 15px;
      margin-top: 0px
    }
    .express-checkout h6 {
      margin-top: 0;
      font-family: oskar;
      font-size: 20px
    }
    .input-icon {
      font-size: 18px;
      color: rgb(160, 160, 160);
      margin-right: 10px
    }
    .checkout-fieldset {
      border: none;
      border-radius: 15px;
      margin-top: 20px;
      margin-bottom: 20px;
  
    }
    .checkout-fieldset p {
      margin-bottom: 0;
      margin-top: 0px;
    }
    .p-title {
      font-family: oskar;
      font-size: 18px;
    }
    .checkout-fieldset h5 {
      font-family: oskar;
      color: rgb(30, 167, 30)
    }
    .secure-checkout {
      font-size: 14px;
      font-weight: 300;
      color: rgb(99, 99, 99);
    }
    .secure-checkout span {
      font-size: 16px
    }
    label {
      color: rgb(43, 43, 43) !important
    }
    .fieldset-title {
      font-family: oskar;
      font-size: 20px;
      color: rgb(186, 37, 37);
      text-decoration: underline;
    }
      .hidden {
          display: none;
      }
      .p-item {
        font-size: 14px;
        font-weight: 300
      }
      .required {
          color: red
      }
      .label-title {
          font-size: 16px
      }
      .donate-buttons {
          padding-bottom: 60px
      }
      .donate-buttons a {
          width: 100%;
          margin:5px;
          font-size: 16px;
          letter-spacing: 1.5px;
          font-weight:400;
          height: 50px;
          padding-top:4px;
          border-radius: 40px;
      }
      .donate-buttons a i {
          font-size: 24px;
      }
      .donation-title {
          font-family: oskar-inline;
          font-size: 52px;
      }
      .content-row {
      }
      .section-title {
        font-family: oskar-inline;
        color: rgb(24, 160, 24);
        font-size: 36px;
        text-align: center
      }
      .address-label {
        font-size: 14px
      }
      label span {
        margin-bottom: -5px
      }
      @media only screen and (min-width:0px){
          .donate-text-small {
            display: block;
          }
          .donate-text-large {
            display: none;
          }
          .donation-title {
              font-family: oskar-inline;
              font-size: 32px;
          }
          .donation-subtitle {
              font-size: 16px;
              font-weight: 300;
              line-height: 20px
          }
          .venmo-button {
            width: 95%;
            margin-left: 0;
          }
          .creditcard-button {
            width: 95%;
            font-size: 18px;
          }
          .google-button {
            width: 95%;
          }
          .paypal-button {
            width: 95%;
          }
          #paypal-button {
            width: 95%;
          }
          .applepay-button {
            width: 95%;
          }
          .paypal-button-row {
            height: 50px !important
          }
      }
  
      @media only screen and (min-width:601px){
        .checkout-fieldset h5 {
          font-size: 28px;
        }
        .donate-text-small {
            display: none;
          }
          .donate-text-large {
            display: block;
            letter-spacing: 2px;
          }
          .donation-title {
              font-family: oskar-inline;
              font-size: 42px;
          }
          .summary-container {
            position: fixed;
            right: 0 !important;
          }
          .venmo-button {
          }
          .fieldset-title {
            font-family: oskar;
            font-size: 24px
          }
          .p-title {
            font-family: oskar;
            font-size: 20px;
          }
          .p-item {
        font-size: 18px
      }
      }
      @media only screen and (min-width:993px){
        .checkout-fieldset h5 {
          font-size: 36px;
        }
          .donation-title {
              font-family: oskar-inline;
              font-size: 48px;
          }
          .donation-subtitle {
              font-size: 20px;
              font-weight: 300;
              line-height: 24px;
          }
          .venmo-button {
            font-size: 16px;
          }
          .creditcard-button {
            font-size: 20px;
          }
          .google-button {
            font-size: 16px;
          }
          .paypal-button {
            font-size: 16px;
          }
          .applepay-button {
            font-size: 16px;
          }
          .fieldset-title {
            font-family: oskar;
            font-size: 26px
          }
          .checkout-fieldset p {
            margin-bottom: 15px !important
          }
          .p-title {
            font-family: oskar;
            font-size: 26px;
          }
          .checkout-container{
          }
          .section-title {
            font-size: 48px;
          }
      }
      @media only screen and (min-width:1226px){
       
      }
      @media only screen and (min-width:1400px){
          .donation-title {
              font-family: oskar-inline;
              font-size: 56px;
          }
          .donation-subtitle {
              font-size: 20px;
              font-weight: 300;
              line-height: 24px
          }
          .fieldset-title {
            font-family: oskar;
            font-size: 28px
          }
      }
      .cc-button {
          background-color: rgb(55, 54, 54)
      }
      .cc-button:hover {
          background-color:rgb(101, 101, 101)
      }
      .pp-button {
          background-color: #3b7bbf
      }
      .pp-button:hover {
          background-color:#6799ce
      }
      .venmo-button {
          background-color: #3d95ce;
          color:white;
          margin:5px;
          letter-spacing: 1.5px;
          font-weight:500;
          height: 50px;
          line-height: 45px;
          border-radius: 40px;
      }
      .venmo-button:hover {
          background-color:#739296
      }
      .creditcard-button {
        background-color: #0f9a22;
        color:rgb(255, 255, 255);
          margin:5px;
          letter-spacing: 1.5px;
          font-weight:500;
          height: 50px;
          line-height: 40px;
          border-radius: 40px;
      }
      .creditcard-button:hover {
          background-color:#5e6a4b
      }
      .google-button {
        background-color: #fcfcfc;
        color:rgb(50, 50, 50);
          margin:5px;
          letter-spacing: 1.5px;
          font-weight:500;
          height: 50px;
          line-height: 45px;
          border-radius: 40px;
      }
      .google-button:hover {
          background-color:#ded8d8
      }
      .paypal-button {
        background-color: #ffffff;
        color:rgb(50, 50, 50);
          margin:5px;
          letter-spacing: 1.5px;
          font-weight:500;
          height: 50px;
          line-height: 45px;
          border-radius: 40px !important;
      }
      .paypal-button:hover {
          background-color:#d3d1da
      }
      .paypal-button-container{
        font-family: poppins !important;
        font-weight: 500;
        text-transform: uppercase !important;
      }
      .applepay-button {
        background-color: #181818;
        color:rgb(50, 50, 50);
          margin:5px;
          letter-spacing: 1.5px;
          font-weight:500;
          height: 50px;
          line-height: 45px;
          border-radius: 40px;
      }
      .applepay-button:hover {
          background-color:#5e5e5e
      }
      .paypal-button.paypal-button-color-white, .paypal-button-row.paypal-button-color-white .menu-button {
        border: none !important;
      }
      body {
    background-color: #fff;
  }
  
  .toast {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 9999;
  }
  
  .bootstrap-basic {
    background: white;
  }
  
  #or {
    position: relative;
    line-height: 50px;
    text-align: center;
    font-weight: 500;
  }
  
  #or::before,
  #or::after {
    position: absolute;
    width: 30%;
    height: 1px;
    
    top: 25px;
    
    background-color: rgb(193, 193, 193);
    
    content: '';
  }
  
  #or::before {
    left: 15%;
  }
  
  #or::after {
    right: 15%;
  }
  .btn:focus {
    background-color:rgb(160, 160, 160) !important;
  }
  #card-number {
    height: 3rem;
    border-bottom: 1px solid #9e9e9e;
  }
  #card-date {
    height: 3rem;
    border-bottom: 1px solid #9e9e9e;
  }
  #card-cvv {
    height: 3rem;
    border-bottom: 1px solid #9e9e9e;
  }
  #card-zip {
    height: 3rem ;
    border-bottom: 1px solid #9e9e9e;
  }
  ::placeholder {
    color: rgb(186, 186, 186) !important
  }
  </style>
<style>
    .secure {
        font-size: 14px;
        color: grey;
        margin-left: 20px
    }
    .sale {
        color:#bf1e2d
    }
    .btn.checkout {
        font-size: 20px !important;
        background-color:#01a650;
        transition: all 0.3s ease-in-out;
        margin-left: 3%
    }
    .btn.checkout:hover {
        background-color:#219157;
    }
    .btn-ticket {
        font-size: 12px;
        line-height: 40px;
        height: 40px
    }
    .guest-input {
        margin-top: 10px;
        margin-bottom: 0
    }
    .guest-input input {
        height: 2.2rem !important
    }
    .modal-content {
        padding: 1% !important
    }
    .modal-container {
        padding: 1% 4% !important;
    }
    .summary-total-title {
        font-family: oskar, sans-serif;
        font-size: 22px
    }
    .summary-total {
        font-family: oskar, sans-serif;
        font-size: 20px;
        margin-bottom: 0
    }
    .total-line {
        font-family: oskar, sans-serif;
        font-size: 20px;
        margin-bottom: 0;
        margin-left: 3px;
        font-weight: 400
    }
    .summary-table thead td {
        font-size: 20px;
        font-weight: 300
    }
    .summary-table td {
        font-family: oskar, sans-serif;
        font-weight: 200;
    }
    .modal {
        max-height: 95% !important
    }
    #ticketModal {
        width: 95% !important;
        top: 5% !important
    }
    #sponsorModal {
        width: 95% !important;
        top: 5% !important
    }
    #ticket-form {
        margin-top: 5%;
    }
    .ticket-row td {
        padding: 0 !important
    }
    .ticket-row p {
        margin: 2px;
    }
    .ticket-row {
        margin-bottom: 0
    }
    .ticket-quantity-input {
        width: 30%;
        margin-left: 70%
    }
    .modal-summary-title {
        font-family: oskar;
        font-size: 28px;
    }
    .ticket-title {
        font-family: oskar;
        margin-top: 10px;
        color:#01a650;
        font-size: 22px
    }
    .ticket-price {
        font-family: oskar;
        color: rgb(0, 0, 0);
        font-size: 18px;
    }
    #ticket-form svg {
        stroke: none !important
    }
    .modal-title {
        font-family: oskar-inline, sans-serif;
        font-size: 28px;
        color:#bf1e2d;
    }
    .modal-date {
        font-family: oskar-inline, sans-serif;
        font-size: 14px
    }
    .ticket-description{
        font-size: 12px
    }
    #page {
        background: url('{% static "img/vbp_collage.png" %}');
    }
    #overlay {
        background: rgba(255, 255, 255, 0.938);
        width: 100%;
    }
    .text {
        font-family: oskar;
        font-size: 20px
    }
    .tickets-email-link {
        font-family: oskar;
        font-size: 18px
    }
    iframe {
        height: 200px
    }
    @media only screen and (min-width: 450px){
        .btn-ticket {
            font-size: 16px;
            line-height: 40px;
            height: 40px
        }
    }
    @media only screen and (min-width: 601px){
        .btn-ticket {
            font-size: 20px;
            line-height: 50px;
            height: 50px
        }
        .ticket-row td {
            padding: 2% 0% !important
        }
        .ticket-quantity-input {
            width: 80%;
            margin-left: 10%
        }
        .text {
            font-size: 28px
        }
        .tickets-email-link {
            font-size: 24px
        }
        iframe {
            height:400px
        }
        .summary-card {
            padding: 2% 5% !important
        }
        .modal-date {
        font-family: oskar-inline, sans-serif;
        font-size: 18px
    }
    }
    @media only screen and (min-width: 992px){
        .btn-ticket {
            font-size: 28px;
            line-height: 60px;
            height: 60px
        }
        .ticket-quantity-input {
            width: 70%;
            margin-left: 15%
        }
        .card {
            height: 400px;
            margin: 0
        }
        #ticketModal {
        width: 90% !important
    }
    .modal-date {
        font-family: oskar-inline, sans-serif;
        font-size: 22px
    }
    #sponsorModal {
        width: 90% !important
    }
    }
</style>

{% endblock %}