{% load static %}
{% include 'base/css.html' %}
{% include 'base/js.html' %}

{% if request.user.is_authenticated %}
<div id="page">
    <div id="overlay">
        <div class="card ticket-card">
            <div class="row center-align">
                <img class="col s12" src="{% static 'img/logo.jpeg' %}" style="width: 30%; margin-left: 35%; margin-right: 35%" id="ticket-logo">
                <p class="col s12 ticket-title">{{ object.event }} Check-In</p>
                <p class="ticket-detail"><b>Ticket ID:</b> {{ object.ticket_id }}</p>
                <form id="checkinForm" action="/events/checkin/" method="POST">
                    {% csrf_token %}
                    <p class="ticket-detail"><b>Tickets:</b></p>
                    {% for x in related %}
                    <p>
                        <label>
                            <input type="checkbox" name="ticket" value="{{ x.ticket_id }}"/>
                            <span class="ticket-opt"><b>{{ x.ticket_id }}</b> - {{ x.type }}</span>
                        </label>
                    </p>
                    {% endfor %}
                    <p class="ticket-detail"><b>Purchaser:</b> {{ object.first_name }} {{ object.last_name }}</p>
                    <p class="ticket-detail"><b>Email:</b> {{ object.email }}</p>
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            <input placeholder="0" name="guest-qty" id="guest-qty" type="number">
                            <label for="guest-qty">Number of Guests (optional)</label>
                          </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <textarea id="textarea1" class="materialize-textarea">{{ object.guest_list }}</textarea>
                            <label for="textarea1">Guest List (optional)</label>
                        </div>
                    </div>
                    <button class="checkin-btn btn" id="checkin-btn" type="submit">Check In Guests</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% else %}
<div id="page">
    <div id="overlay">
        <div class="card ticket-card">
            <div class="row center-align">
                <img class="col s12" src="{% static 'img/footer-logo.png' %}" id="ticket-logo">
                <p class="col s12 ticket-title">{{ object.event }} Ticket</p>
                <p class="ticket-detail">Ticket ID: {{ object.ticket_id }}</p>
                <p class="ticket-detail">{{ object.type }}</p>
                <p class="ticket-detail">{{ object.email }}</p>
                <img src="{{ object.get_qr_code_path }}" width=30%>
            </div>
        </div>
    </div>
</div>
{% endif %}
<style>
    .ticket-detail {
        font-size: 16px;
    }
    .ticket-opt {
        font-size: 16px !important;
        line-height: 22px !important;
        margin-bottom: 20px;
        color: rgb(74, 178, 14);
        text-align: left;
    }
    #page {
        background: url('{% static "img/vbp_collage.png" %}');
    }
    #overlay {
        background: rgba(255, 255, 255, 0.938);
        width: 100%;
        padding: 10% 0%;
    }
    #ticket-logo {
        width: 100%;
    }
    .ticket-title {
        font-family: oskar-inline;
        color: #01a650;
        font-size: 20x;
        line-height: 22px
    }
    p {
        font-size: 20px
    }
    .ticket-card {
        width: 100%;
        margin-left: 0%;
        padding: 5%;
        height:100%
    }
    
    @media only screen and (min-width: 601px) {
        #overlay {
            background: rgba(255, 255, 255, 0.938);
            width: 100%;
            height: 100%;
            padding: 10% 0%;
        }
        #ticket-logo {
            width: 100%;
        }
        .ticket-title {
            font-family: oskar-inline;
            color: #01a650;
            font-size: 32px
        }
        p {
            font-size: 24px
        }
        .ticket-card {
            width: 80%;
            margin-left: 10%;
            padding: 5%
        }
    }
    @media only screen and (min-width: 992px) {
        #overlay {
        background: rgba(255, 255, 255, 0.938);
        width: 100%;
        height: 100%;
        padding: 5% 15%;
    }
    #ticket-logo {
        width: 100%;
    }
    .ticket-title {
        font-family: oskar-inline;
        color: #01a650;
        font-size: 40px
    }
    p {
        font-size: 22px
    }
    .ticket-card {
        width: 80%;
        margin-left: 10%;
        padding: 5%
    }
    }
</style>