{% extends 'base.html' %}
{% load static %}
{% block title %}
ETV | About
{% endblock %}
{% block canonical %}https://www.empowerthevillage.org/about/{% endblock %}
{% block seo_description %}Learn more about ETV's mission, founder, and leadership!{% endblock %}

{% block content %}
<div style="background: url('{% static 'img/stars.png' %}'); background-size: 120%">
<div class="z-depth-3" style="padding-top: 5%;background-color: #6d6d6d62; padding-bottom: 5%; padding-left:7%; padding-right: 7%">
    <div style="width: 90%; margin-left: 5%; background-color: rgba(255, 255, 255, 0.783); border: solid black 3px">
        <img src="{% static 'img/footer-logo.png' %}" width=90% style="margin-left: 5%">
    </div>
</div>
</div>
<style>
    .about-popout {
        width: 100%;
        margin-left: 0%;
    }
    @media only screen and (min-width: 663px){
        .about-popout {
            width: 80%;
            margin-left: 10%;
        }
    }
    @media only screen and (min-width: 992px){
        .about-popout {
            width: 70%;
            margin-left: 15%;
        }
    }
    .about-table .row .m3 {
        text-align: center;
        text-decoration: underline;
        margin-bottom: 10px
        
    }
</style>
<div class="row" style="padding-top:0; padding-bottom: 0; margin-bottom: 0; background: url('{% static 'img/collage1.png' %}'); background-size: 50%">
    <div class="col s12 m10 offset-m1" style="padding-top: 5%;background-color: rgba(255, 255, 255, 0.947);">
        <ul class="collapsible popout about-popout">
            <li>
                <div class="collapsible-header about-collapsible valign-wrapper"><i class="material-icons">outlined_flag</i>Mission</div>
                <div class="collapsible-body about-table" style="background-color: #151515;">
                    
                    <img src="{% static 'img/mission-possible.png' %}" width=100%>
                    
                        <div class="row">
                            <div class="col s12 m3" style="color: rgb(81, 187, 81); font-weight: 600;">VISION</div>
                            <div class="col s12 m9" style="color: white; font-weight:300px"><b style="color: rgb(81, 187, 81); font-weight:400">Restore Prosperity, Peace and Power</b> to ~14% of the US population - the Black community (47 Million+ Americans)</div>
                        </div>
                        <div class="row">
                            <div class="col s12 m3" style="color: rgb(81, 187, 81); font-weight: 600;">MISSION</div>
                            <div class="col s12 m9" style="color: white; font-weight:300px">Empower The Village, Inc. (ETV) is a data-driven nonprofit 501(c)(3) organization founded in 2018 to develop, guide and implement breakthrough, scalable strategies that <b style="color: rgb(81, 187, 81); font-weight: 400">empower Black people, businesses and community organizations to realize their full potential.</b></div>
                        </div>
                        <div class="row">
                            <div class="col s12 m3" style="color: rgb(81, 187, 81); font-weight: 600;">STRATEGIC IMPERATIVE</div>
                            <div class="col s12 m9" style="color: white; font-weight:300px">Apply our <b style="color: rgb(81, 187, 81); font-weight:400">Strategic Partnerships Service Delivery Model</b> to accomplish our goals while empowering and amplifying the impact of existing Black-led, as well as other organizations and individuals working to make significant advancements within the Black community</div>
                        </div>
                    
                </div>
            </li>
            <li>
                <div class="collapsible-header about-collapsible valign-wrapper"><i class="material-icons">portrait</i>Our Founder</div>
                <div class="collapsible-body">
                    <img src="{% static 'img/founder-card.jpeg' %}" width=100%>
                </div>
            </li>
            <li class="active">
                <div class="collapsible-header about-collapsible valign-wrapper"><i class="material-icons">groups</i>Leadership</div>
                <div class="collapsible-body">
                    <img src="{% static 'img/board.svg' %}" width=100%>
                    <div class="divider"></div>
                    <div class="row" style="margin-top: 30px">
                        <div class="col 12">
                            <img class="z-depth-1" src="{% static 'img/ayo.jpeg' %}" width=37% style="float: left; margin-right: 5%; ">
                            <div class="leader-table">
                                <b class="job-title">Founder, CEO & President</b>
                                <p><b class="exec-name" style="font-weight: 400; color: rgb(155, 25, 25)">AYO SANDERSON WILSON</b></p>
                                
                                <p style="font-weight: 400">The time for simply “admiring” problems, discussing root causes, and being satisfied with modest, incremental change for Black Americans has passed, according to Ayo Sanderson Wilson.</p>
                                
                                <p style="font-weight: 400">That’s why she has transitioned from corporate America to make Empower The Village (ETV) a full-time commitment. Sanderson Wilson recently transitioned from ETV board chair to serve as the Chief Executive Officer and President of the data-driven 501(c)(3) organization. She founded ETV in 2018 to restore Prosperity, Peace and Power to the Black community by strategically partnering with “Village” leaders and allies to empower Black people, businesses, and community organizations to realize their full potential.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 30px">
                        <div class="col 12">
                            <img class="z-depth-1" src="{% static 'img/cheryl-easley.jpeg' %}" width=37% style="float: left; margin-right: 5%;margin-bottom: 20px !important">
                            <div class="leader-table">
                                <b class="job-title">Executive Director</b>
                                <p><b class="exec-name" style="font-weight: 400; color: rgb(155, 25, 25)">CHERYL R. EASLEY</b></p>
                                
                                <p style="font-weight: 400">The time for simply “admiring” problems, discussing root causes, and being satisfied with modest, incremental change for Black Americans has passed, according to Ayo Sanderson Wilson.</p>
                                
                                <p style="font-weight: 400">Cheryl Easley has been affiliated with Empower The Village, Inc. since its 2018 inception and serves as Executive Director. She brings over 30 years of experience in advertising, consumer packaged goods (CPG) marketing, and consulting for start-ups, small businesses, non-profit organizations and political campaigns. Cheryl obtained marketing management experience with Fortune 500 entities including Gannett, Sara Lee-Hanes, Bausch and Lomb and Dow Brands. She is a published writer of web content, fundraising solicitations, and marketing materials, as well as an accomplished presenter and public speaker.</p>
                            </div>
                        </div>
                    </div>
                   
                    <style>
                        .job-title {
                            font-size: 20px
                        }
                        .exec-name {
                            font-size:16px
                        }
                        .leader-table p {
                            font-size: 14px
                        }
                        @media only screen and (min-width: 663px){
                            .job-title {
                            font-size: 24px
                            }
                            .exec-name {
                                font-size:18px
                            }
                            .leader-table p {
                                font-size: 16px
                            }
                        }
                        @media only screen and (min-width: 992px){
                            .job-title {
                            font-size: 28px
                            }
                            .exec-name {
                                font-size:20px
                            }
                            .leader-table p {
                                font-size: 16px
                            }
                        }
                    </style>
                </div>
            </li>
        </ul> 
        <div class="divider"></div>
        <div class="row center-align" style="margin-bottom:0;">
            <div class="col s12" >
              <h6 id="vbp-nomination-form-title" style="font-size:48px">Get In Touch!</h6>
                <div class="contact" style="padding-bottom:30px">
                    <p>Empower The Village, Inc.</p>
                    <p>178 E. Hanover Avenue, Suite 103-312</p>
                    <p>Cedar Knolls, NJ 07927</p>
                    <p>(862) 777-3193</p>
                    <p><a href="mailto:info@empowerthevillage.org">info@empowerthevillage.org</a></p>
                </div>
            </div>
        </div> 
    </div>  
    
</div>

  <style>
      li {
          margin-left: 0 !important;
          margin-right: 0 !important;
      }
      p {
          font-weight: 200;
          letter-spacing: 1px;
          transform: scale(1, 0.92);
      }
      .press-release-btn {
          background-color: rgb(135, 182, 166);
      }
      .press-release-btn:hover {
          background-color: rgb(111, 151, 138);
          color: rgb(224, 224, 224);
      }
      .about-collapsible {
          font-size: 42px;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-family: oskar-inline;
          padding-left: 10%

      }
      .collapsible-header i {
          font-size: 32px;
          color: rgb(78, 186, 62);
      }
      .collapsible-body {
          background-color: white
      }
      .contact p {
          font-weight: 300;
          margin: 0;
          padding: 0
      }
 </style>
{% endblock %}
