{% extends 'base.html' %}
{% load static %}
{% block title %}
ETV | About
{% endblock %}
{% block canonical %}https://www.empowerthevillage.org/about/{% endblock %}
{% block seo_description %}Learn more about ETV's mission, founder, and leadership!{% endblock %}

{% block content %}
<div style="background: url('https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/stars.webp'); background-size: 50%">
    <div class="z-depth-3"
        style="padding-top: 5%;background-color: #6d6d6d62; padding-bottom: 5%; padding-left:7%; padding-right: 7%">
        <div class="scale-up-center"
            style="width: 80%; margin-left: 10%; padding: 20px 0px; background-color: rgba(255, 255, 255, 0.783); border: solid black 3px">
            <img src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/footer-r.png" width=90%
                style="margin-left: 5%">
        </div>
    </div>
</div>
<style>
    .about-popout {
        width: 100%;
        margin-left: 0%;
    }

    @media only screen and (min-width: 663px) {
        .about-popout {
            width: 80%;
            margin-left: 10%;
        }
    }

    @media only screen and (min-width: 992px) {
        .about-popout {
            width: 70%;
            margin-left: 15%;
        }
    }

    .about-table .row .m3 {
        text-align: center;
        text-decoration: underline;
        margin-bottom: 10px
    }
</style>
<div class="row" style="padding-top:2%; padding-bottom: 0; margin-bottom: 0;">
    <div class="col s12">
        <div class="col s1"></div>
        <div class="col s10">
            <h6 class="center-align home-heading" style="color: #149e0f; margin-top: 15px; margin-bottom: 20px">ETV's
                Mission</h6>
            <div class="about-table"
                style="background-color: #151515;padding-left: 20px;padding-right: 20px;padding-bottom: 20px;padding-top: 20px;">

                <img class="lazy" src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/mission-possible.png"
                    width=100%>

                <div class="row">
                    <div class="col s12 m3" style="color: rgb(81, 187, 81); font-weight: 600;">VISION</div>
                    <div class="col s12 m9" style="color: white; font-weight:300px"><b
                            style="color: rgb(81, 187, 81); font-weight:400">Restore Prosperity, Peace and Power</b>
                        to the communities we serve by prioritizing health, wealth, and empowerment.</div>
                </div>
                <div class="row">
                    <div class="col s12 m3" style="color: rgb(81, 187, 81); font-weight: 600;">MISSION</div>
                    <div class="col s12 m9" style="color: white; font-weight:300px">Empower The Village, Inc. (ETV)
                        is a data-driven nonprofit 501(c)(3) organization founded in 2018 to develop, guide and
                        implement breakthrough, scalable strategies that <b
                            style="color: rgb(81, 187, 81); font-weight: 400">empower people, business owners, and
                            community organizations to realize their full potential.</b></div>
                </div>
                <div class="row">
                    <div class="col s12 m3" style="color: rgb(81, 187, 81); font-weight: 600;">STRATEGIC IMPERATIVE
                    </div>
                    <div class="col s12 m9" style="color: white; font-weight:300px">
                        <b style="color: rgb(81, 187, 81); font-weight:400">Apply our Strategic Partnerships Service
                            Delivery Model and data driven solutions</b> to accomplish our mission. ETV partners with
                        the village - community-led organizations, subject matter experts, individual and corporate
                        philanthropists - to <b style="color: rgb(81, 187, 81); font-weight:400">accelerate
                            results</b> on achievable and mutually aligned goals that empower communities.
                    </div>
                </div>
            </div>
        </div>
        <div class="col s1"></div>
    </div>
    <div class="col s12">&nbsp;</div>
    <!-- <div class="col s12">
        <div class="col s2"></div>
        <div class="col s8">
            <h6 class="center-align home-heading" style="color: #149e0f; margin-top: 15px; margin-bottom: 20px">
                Check Out Our</br>Mission & Vision Video!</h6>

            <div class="center-align">
                <iframe class="mission-video scale-up-center z-depth-3 yt-video" width="80%"
                    src="https://www.youtube-nocookie.com/embed/YtU78uqMvsw" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col s2"></div>
    </div> -->
    <div class="col s12 m10 offset-m1" style="padding-top: 1%;background-color: rgba(255, 255, 255, 0.947);">

        <ul class="collapsible popout about-popout">
            <li class="active">
                <div class="collapsible-header about-collapsible valign-wrapper"><i
                        class="material-icons">groups</i>Leadership</div>
                <div class="collapsible-body">
                    <img src="https://pub-b5328bf79b944420816257d1e024a4ac.r2.dev/apw0p-yqxgl.webp" width=100%>
                    <div class="divider"></div>
                    <div class="row" style="margin-top: 30px">
                        <div class="col 12">
                            <img class="z-depth-1"
                                src="https://pub-23b8918a8f19410bb95878ddacde81c5.r2.dev/arlcl-hk0dd.webp" width=37%
                                style="float: left; margin-right: 5%; margin-bottom: 10px; ">
                        </div>
                        <div class="leader-table">
                            <b class="job-title">Founder, CEO & President</b>
                            <p><b class="exec-name valign-wrapper" style="font-weight: 400; color: rgb(155, 25, 25)">AYO
                                    SANDERSON WILSON <a target="_blank"
                                        href="https://www.linkedin.com/in/ayosanderson/"><i class="fab fa-linkedin"
                                            style="margin-top: -5px;"></i></a></b></p>

                            <p style="font-weight: 400">The time for simply "admiring" problems, discussing root
                                causes, and being satisfied with modest, incremental change to uplift our
                                communities has passed, according to Ayo Sanderson Wilson.</p>

                            <p style="font-weight: 400">That's why she transitioned from a career as a successful
                                senior business executive and attorney in Corporate America to make Empower The
                                Village (ETV) a full-time commitment.</p>

                            <p style="font-weight: 400">Ayo founded ETV in 2018 to directly connect and collaborate
                                with the communities ETV serves because it will "take a village" to accomplish ETV's
                                mission - advancing economic prosperity and wellness by strategically partnering
                                with
                                Village leaders and allies to empower individuals, families, business owners and
                                community organizations to realize their full potential.</p>
                        </div>
                    </div>
                </div>

                <style>
                    .job-title {
                        font-size: 20px
                    }

                    .exec-name {
                        font-size: 16px
                    }

                    .leader-table p {
                        font-size: 14px
                    }

                    @media only screen and (min-width: 663px) {
                        .job-title {
                            font-size: 24px
                        }

                        .exec-name {
                            font-size: 18px
                        }

                        .leader-table p {
                            font-size: 16px
                        }
                    }

                    @media only screen and (min-width: 992px) {
                        .job-title {
                            font-size: 28px
                        }

                        .exec-name {
                            font-size: 20px
                        }

                        .leader-table p {
                            font-size: 16px
                        }
                    }
                </style>
    </div>
    </li>
    </ul>
    <div class="divider"></div>
    </br>
    </br>
    <div class="divider"></div>
    <div class="row center-align" style="margin-bottom:0;">
        <div class="col s12">
            <h6 id="vbp-nomination-form-title" style="font-size:48px">Get In Touch!</h6>
            <div class="contact" style="padding-bottom:30px">
                <p>Empower The Village, Inc.</p>
                <p>178 E. Hanover Avenue, Suite 103-312</p>
                <p>Cedar Knolls, NJ 07927</p>
                <p>(862) 777-3193</p>
                <p><a href="mailto:admin@empowerthevillage.org">admin@empowerthevillage.org</a></p>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m10 offset-m1" style="padding-top: 1%;background-color: rgba(255, 255, 255, 0.947);">
    </br>
    </br>
    <div class="divider"></div>
    <div class="row center-align" style="margin-bottom:0;">
        <div class="col s12">
            <h6 id="vbp-nomination-form-title" style="font-size:48px;padding-bottom:30px">Get In Touch!</h6>
            <div class="contact" style="padding-bottom:30px">
                <p>Empower The Village, Inc.</p>
                <p>178 E. Hanover Avenue, Suite 103-312</p>
                <p>Cedar Knolls, NJ 07927</p>
                <p>(862) 777-3193</p>
                <p><a href="mailto:admin@empowerthevillage.org">admin@empowerthevillage.org</a></p>
            </div>
        </div>
    </div>
</div>

</div>

<style>
    .mission-video {
        height: 300
    }

    .home-heading {
        font-family: oskar;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 28px;
        padding: 0px 2%
    }

    li {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    p {
        font-weight: 200;
        letter-spacing: 1px;
        transform: scale(1, 0.92);
    }

    .press-release-btn {
        background-color: rgb(135, 182, 166);
    }

    .press-release-btn:hover {
        background-color: rgb(111, 151, 138);
        color: rgb(224, 224, 224);
    }

    .about-collapsible {
        font-size: 32px;
        line-height: 36px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: oskar;
        padding-left: 6%
    }

    .collapsible-header i {
        font-size: 32px;
        color: rgb(78, 186, 62);
    }

    .collapsible-body {
        background-color: white
    }

    .contact p {
        font-weight: 300;
        margin: 0;
        padding: 0
    }

    @media only screen and (min-width:460px) {
        .home-heading {
            margin-top: 30px;
            margin-bottom: 30px;
            font-size: 36px;
        }
    }

    @media only screen and (min-width:601px) {
        .home-heading {
            margin-top: 30px;
            margin-bottom: 30px;
            font-size: 42px;
        }
    }

    @media only screen and (min-width: 663px) {
        .mission-video {
            height: 415
        }
    }

    @media only screen and (min-width:993px) {
        .home-heading {
            margin-top: 0px;
            margin-bottom: 40px;
            font-size: 48px;
        }

        .mission-video {
            height: 515
        }

        .about-collapsible {
            font-size: 42px;
            line-height: 48px;
        }
    }

    @media only screen and (min-width:1225px) {
        .home-heading {
            margin-top: 40px;
            margin-bottom: 40px;
            font-size: 52px;
            padding: 0 10%
        }
    }
</style>
{% endblock %}