{% extends 'base.html' %}
{% load static %}
{% block title %}
Empower The Village
{% endblock %}
{% block canonical %}https://www.empowerthevillage.org/{% endblock %}
{% block seo_description %}Empower The Village, Inc. (ETV) is a data-driven nonprofit 501(c)(3) organization founded in 2018 to develop, guide and implement breakthrough, scalable strategies that empower Black people, businesses and community organizations to realize their full potential.{% endblock %}

{% block content %}

<div class="carousel carousel-slider center z-depth-2" id="home-carousel">
  <div class="carousel-item" href="" style="background: url('{% static 'img/pillar_collage.png' %}'); background-size: 80% !important;" id="panel-four">
    <div class="carousel-wash row" style="background-color: rgba(255, 255, 255, 0.879)">
      
      <div class="col s6 right-align" style="padding:0; padding-right: 5px">
        <a href="{{ pillars_url }}"><img class="mission-thumbnail" src="{% static 'img/mission-thumbnail.png' %}" ></a>
      </div>
      <div class="col s6 left-align" style="padding:0">
        <a href="{{ pillars_url }}"><img class="pillars-thumbnail" src="{% static 'img/pillars-quad.png' %}"></a>
        </div>
    </div>
    <style>
      #panel-four .carousel-wash{
        padding-top: 11%
      }
      .mission-thumbnail {
        height: 190px;
        margin-left: -10
      }
      .pillars-thumbnail {
        height: 190px;
        margin-left: 0;
        padding-left: 0
      }
      .carousel-item {
        min-height: 0 !important
      }
      @media only screen and (min-width:400px){
        #panel-four .carousel-wash{
        padding-top: 8%
      }
        .mission-thumbnail {
        height: 220px;
        margin-left: -10
      }
      .pillars-thumbnail {
        height: 220px;
        margin-left: 0;
        padding-left: 0
      }
      }
      @media only screen and (min-width:480px){
        #panel-four .carousel-wash{
        padding-top: 8%
      }
        .mission-thumbnail {
        height: 250px;
        margin-left: -10
      }
      .pillars-thumbnail {
        height: 250px;
        margin-left: 0;
        padding-left: 0
      }
      }
      @media only screen and (min-width:540px){
        #panel-four .carousel-wash{
        padding-top: 6%
      }
        .mission-thumbnail {
        height: 280px;
        margin-left: -10
      }
      .pillars-thumbnail {
        height: 280px;
        margin-left: 0;
        padding-left: 0
      }
      }
      @media only screen and (min-width:620px){
        #panel-four .carousel-wash{
        padding-top: 3%
      }
        .mission-thumbnail {
        height: 310px;
        margin-left: -10
      }
      .pillars-thumbnail {
        height: 310px;
        margin-left: 0;
        padding-left: 0
      }
      }
      @media only screen and (min-width:695px){
        #panel-four .carousel-wash{
        padding-top: 3%
      }
        .mission-thumbnail {
        height: 320px;
        margin-left: -10
      }
      .pillars-thumbnail {
        height: 320px;
        margin-left: 0;
        padding-left: 0
      }
      }
      @media only screen and (min-width:993px){
        #panel-four .carousel-wash{
        padding-top: 2%
      }
        .mission-thumbnail {
        height: 380px;
        margin-left: -10
      }
      .pillars-thumbnail {
        height: 380px;
        margin-left: 0;
        padding-left: 0
      }
      }
      @media only screen and (min-width:1221px){
        #panel-four .carousel-wash{
        padding-top: 4%
      }
        .mission-thumbnail {
        height: 370px;
        margin-left: -10
      }
      .pillars-thumbnail {
        height: 370px;
        margin-left: 0;
        padding-left: 0
      }
      }
      @media only screen and (min-width:1400px){
        #panel-four .carousel-wash{
        padding-top: 3%
      }
        .mission-thumbnail {
        height: 540px;
        margin-left: -10
      }
      .pillars-thumbnail {
        height: 540px;
        margin-left: 0;
        padding-left: 0
      }
      }
    </style>
  </div>
    <div class="carousel-item" href="" style="background: url('{% static 'img/pillar_collage.png' %}'); background-size: 80% !important;" id="panel-one">
      <div class="carousel-wash row">
        <div class="col s12">
        <a href="{{ vbp_url }}"><img id="vbp-title" src="{% static 'img/vbp_new.png' %}" style="padding-top: 20px; padding-bottom: 10px"></a>
        </div>
        <div class="col s12">
        <a href="{{ vbp_url }}"><img id="vbp-carousel-pic" src="{% static 'img/covercarousel.png' %}"></a>
        </div>
        <div class="col s12">
          <a class="btn" href="{{ vbp_url }}" id="slide-one-btn">VISIT</a>
          <p style="margin-top: 5px" id="slide-one-text">Explore ETV's interactive <b>Village Black Pages!™</b></p>
        </div>
      </div>
    </div>
    <div class="carousel-item" href="" style="background: url('{% static 'img/pillar_collage.png' %}'); background-size: 60% !important;" id="panel-two">
      
      <div class="carousel-wash row valign-wrapper">
        <div class="col s4 m2">
          <a href="{{ efbf_url }}"><img src="{% static 'img/EFBF bag.png' %}" width=100%></a>
        </div>
        <div class="container col s8 m10 row z-depth-4 center-align parallax-banner" style="width: 70%; margin-left:0; padding: 2%;">
            <a href="{{ efbf_url }}"><img src="{% static 'img/EFBF_new2.png' %}" width="100%"></a><br>
            <a class="btn" href="{{ efbf_url }}" id="slide-two-btn" style="margin-top: 10px">VISIT</a>
            <p style="margin-top: 5px; margin-bottom: 0; padding-bottom: 0" id="slide-two-text">Learn more about ETV's call to <b>Make Every Friday, Black Friday!™</b></p>
            
        </div>
      </div>
    </div>
    <div class="carousel-item" href="" style="background: url('{% static 'img/pillar_collage.png' %}'); background-size: 80% !important;" id="panel-three">
      
      <div class="carousel-wash row valign-wrapper">
        <div class="col s5 m3">
          <a href="{{ bf_home_url }}"><img class="z-depth-3" src="{% static 'img/bingo-snip.png' %}" width=100%></a>
        </div>
        <div class="container col s7 m9 row z-depth-4 center-align parallax-banner" style="padding: 2%;">
          <a href="{{ bf_home_url }}"><img src="{% static 'img/bf_challenge_logo.png' %}" style="width: 90%; padding-left: 0%"></a>
          <br>
          <a class="btn" href="{{ bf_home_url }}" id="slide-two-btn" style="margin-top: 20px">VISIT</a>
          <p style="margin-top: 10px; margin-bottom: 0; padding-bottom: 0" id="slide-two-text">Learn About ETV's Fun <b>Black Friday Challenge™!</b></p>
          
      </div>
      </div>
    </div>
    
  </div>
  <div class="center-align" style="height: 50px; line-height: 50px;background: rgba(4, 4, 4, 0.849) !important; color: rgb(168, 233, 150);font-family: poppins; font-weight: 500; font-size: 24px; text-transform: capitalize;">
    It takes a village . . . Empower the Village | Restoring prosperity, peace & power to our black community
  </div>
    <!--<div class="marquee">
      <ul class="marquee-content-items" style="padding-left: 200px">
        <li style="font-family: poppins; font-weight: 500; font-size: 22px; text-transform: capitalize;">It takes a village…</li>
        <li style="font-family: poppins; font-weight: 500; font-size: 22px; text-transform: capitalize;">Empower the Village</li>
        <li style="font-family: poppins; font-weight: 500; font-size: 22px; text-transform: capitalize;">Restoring prosperity, peace, & power</li>
        <li style="font-family: poppins; font-weight: 500; font-size: 22px; text-transform: capitalize;">To our black community</li>
        <li style="font-family: poppins; font-weight: 500; font-size: 22px; text-transform: capitalize;">The village has the will…</li>
        <li style="font-family: poppins; font-weight: 500; font-size: 22px; text-transform: capitalize;">ETV is the way!</li>
      </ul>
    </div>-->
  </div>
  <div>
    <div class="row center-align">
      <h6 class="center-align" style="margin-top: 4%">Operation: Ballot Box™</h6>
      <h5><b>Important Upcoming Election: November 2, 2021!</b></h5>
      <h5 style="margin-bottom: 20px;"><a href="{{ voting_url }}">Click to learn more about Early Voting, Vote-By-Mail opportunities and more</h5></a>
    
      <div class="col s6 l3 center-align">
        <a href="{% static 'img/US-NJ-2021.pdf' %}" target="_blank"><img class="z-depth-2" src="{% static 'img/US-NJ-2021.png' %}" width=100%></a>
      </div>
      <div class="col s6 l3 center-align">
        <a href="{% static 'img/US-OH-2021.pdf' %}" target="_blank"><img class="z-depth-2" src="{% static 'img/US-OH-2021.png' %}" width=100%></a>
      </div>
      <div class="col s6 l3 center-align">
        <a href="{% static 'img/US-VA-2021.pdf' %}" target="_blank"><img class="z-depth-2" src="{% static 'img/US-VA-2021.png' %}" width=100%></a>
      </div>
      <div class="col s6 l3 center-align">
        <a href="{% static 'img/US-FL-2021.pdf' %}" target="_blank"><img class="z-depth-2" src="{% static 'img/US-FL-2021.png' %}" width=100%></a>
      </div>
    </div>
    <div class="divider" style="margin-bottom: 0; width: 90%; margin-left: 5%"></div>
    <h6 class="center-align">ETV Mission & Vision Video!</h6>
    <div class="center-align" style="background: url('{% static 'img/collage1.png' %}'); background-size: 50%">
      <div style="background-color: rgba(223, 223, 223, 0.632);">
        <iframe class="mission-video" width="80%" src="https://www.youtube.com/embed/7ypFvkUOtwo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <style>
        .mission-video {
          height: 300
        }
        @media only screen and (min-width: 663px) {
          .mission-video {
            height: 415
          }
        }
        @media only screen and (min-width: 992px) {
          .mission-video {
            height: 515
          }
        }
      </style>
    </div> 
    <div class="z-depth-2 center-align" style="margin-top:-10px; margin-top: 20px;padding-bottom: 5%">
      
      <div class="divider"></div>
      <div class="row">
          <h6>Check Out ETV’s 2020-2021 Special Report</h6>
          <h5>Learn how we Empower The Village!</h5>
      </div>

      <a href="https://issuu.com/empowerthevillage/docs/etv_special_report_2020-2021_v2"><img class="z-depth-3" src="{% static 'img/report-1.png' %}" width="40%"></a>
    </div>
  </div>
<script>
    $('.carousel.carousel-slider').carousel({
    fullWidth: true,
    indicators: true,

  });
  var intervalId = window.setInterval(function(){
    $('.carousel.carousel-slider').carousel('next');
}, 20000);
    
</script>

  <style>
    .carousel .indicators .indicator-item {
      background-color: rgba(131, 142, 131, 0.68);
    }
    .carousel .indicators .indicator-item.active {
      background-color: rgba(36, 184, 36, 0.68);
      margin-top: 10px;
    }
      .carousel-wash {
        width: 100%;
        height: 100%;
        margin-top: 0 !important;
        background-color: rgba(249, 249, 249, 0.906);
      }
      
      #home-carousel .carousel-item {
          margin-top:0;
          padding-top: 0
      }
      p {
          font-weight: 300;
          letter-spacing: 1px;
          transform: scale(1, 0.95);
      }
      .press-release-btn {
          background-color: rgb(135, 182, 166);
      }
      .press-release-btn:hover {
          background-color: rgb(111, 151, 138);
          color: rgb(224, 224, 224);
      }
      .join-tv-title {
        font-family: oskar-inline;

    }
    #panel-one {
      padding-top: none
    }
    .select-wrapper {
        display: none !important;
    }
    .swal2-close:focus{
      box-shadow: none !important;
      background-color: transparent !important;
  }
  
  @media only screen and (min-width:0px){
    h6 {
      font-size: 36px;
      font-family: oskar-inline;
      color: rgb(31, 171, 31);
    }
    h5 {
        font-size: 16px
    }
    #home-carousel {
        height: 310px !important
      }
    #panel-one {
      background-size: 150% !important
    }
    .carousel-wash {
      }
      #vbp-title {
        max-height: 100px;
        max-width: 90%
      }
      #vbp-carousel-pic {
        max-height: 200px;
        min-height: 80px;
        max-width: 100%
      }
      #slide-one-btn {
        background-color:rgba(68, 140, 32, 0.66); 
        padding-top: 0px;
        padding-bottom: 20px;
        margin-top: 10px;
        margin-bottom: 5px;
      }
      #slide-two-btn {
        background-color:rgba(68, 140, 32, 0.66); 
        padding-top: 0px;
        padding-bottom: 20px;
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 18px;
      }
      #slide-two-text {
        font-size: 16px
      }

  }
  @media only screen and (min-width:460px){
    
    #home-carousel {
        height: 340px !important
      }
  }
  @media only screen and (min-width:530px){
    
    #home-carousel {
        height: 360px !important
      }
  }
  @media only screen and (min-width:601px){
    h6 {
      font-size: 56px;
      font-family: oskar-inline;
      color: rgb(31, 171, 31);
    }
    h5 {
        font-size: 20px
    }
    #home-carousel {
        height: 390px !important
      }
      #slide-two-text {
        font-size: 18px
      }
      #slide-two-btn {
        background-color:rgba(68, 140, 32, 0.66); 
        padding-top: 0px;
        padding-bottom: 20px;
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 22px;
      } 
  }

  @media only screen and (min-width:735px){
    
    #home-carousel {
        height: 410px !important
      }
  }
  @media only screen and (min-width:993px){
    #home-carousel {
        height: 420px !important
      }
      #slide-two-text {
        font-size: 20px
      }
  }
  @media only screen and (min-width:1225px){
    #home-carousel {
        height: 460px !important;
      }
      #vbp-title {
        margin-top: 45px !important
      }
  }
  @media only screen and (min-width:1400px){
    #home-carousel {
        height: 600px !important;
      }
      #vbp-title {
        max-height: 140px;
        max-width: 90%;
        margin-top: 45px !important;
      }
      #vbp-carousel-pic {
        max-height: 290px;
        min-height: 100px;
        max-width: 100%
      }
      #slide-one-text {
        font-size: 18px
      }
  }
 </style>
{% if request.user.is_authenticated %}
{% else %}
<script>
    $(document).ready(function(){
        Swal.fire({
            html: '<h3 class="join-tv-title">Join The Village!</h3><p>Enter your email address to join the ETV mailing list.</p><form method="POST" action="/mailchimp-signup/" id="mailchimp-efbf-form">{% csrf_token %}<div class="input-field"><input required id="mailchimp-email-efbf" name="email" type="email"><label for="mailchimp-email-efbf">Email</label></div><button type="submit" class="btn light-green darken-3 waves-effect" id="efbf-mailchimp">Add Me To The List!</button></form>',
            showCancelButton: false,
            showCloseButton: true,
            showConfirmButton: false,
        })     
    })
    $('#mailchimp-efbf-form').submit(event, function(){
        event.preventDefault();
        var email = $('#mailchimp-email-efbf').val()
        var token = '{{csrf_token}}'
        var form = $('#mailchimp-efbf-form')
        $.ajax({
            data: form.serialize(),
            dataType: 'json',
            url: '/mailchimp-signup/',
            method: "POST",
            success: function(data) {
                Swal.fire({
                title:'Welcome to the Village!',
                html: '',
                showComfirmButton: false,
                showCancelButton: false,
                showCloseButton: false,
                text:"You've been added to our mailing list",
                })
            },
            error: function(){
                Swal.fire({
                title:"You're on the list!",
                html: '',
                showComfirmButton: false,
                showCancelButton: false,
                showCloseButton: false,
                text:"You're on our mailing list, thank you for keeping up with ETV!",
                })
            }
        })
    }) 
</script>
<style>
  .simple-marquee-container {
    background: rgb(4, 4, 4) !important;
  }
  .marquee ul li{
    font-family: poppins;
    font-size: 16px;
    font-weight: 300 !important
  }
  @media only screen and (max-width:992px){
      .coming-soon-group {
          margin-bottom: -40%
      }
  }
  .join-tv-title {
      font-family: oskar-inline;

  }
  .select-wrapper {
      display: none !important;
  }
  .swal2-close:focus{
    box-shadow: none !important;
    background-color: transparent !important;
}
</style>
<script src="{% static 'js/marquee.js' %}"></script>
<script>
  
    $('.carousel').resize(function(e){
      e.preventDefault();
    })
    $('.simple-marquee-container').SimpleMarquee({
      velocity: 0.05
    });
</script>

{% endif %}

{% endblock %}
