
{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block canonical %}https://www.empowerthevillage.org/{% endblock %}
{% block seo_description %}{{ seo_description }}{% endblock %}

{% block head_js %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Empower The Village",
    "alternateName": "ETV",
    "keywords": "empower the village, etv, nonprofit, black nonprofit, best black nonprofit, 501c3",
    "description": "Empower The Village, Inc. is a data-driven 501(c)(3) non-profit organization working to restore Prosperity, Peace and Power to the Black community.",
    "nonprofitStatus" : "Nonprofit501c3",
    "url": "https://empowerthevillage.org/",
    "logo": "https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/etv-logo-r.jpg",
    "sameAs": [
      "https://empowerthevillage.org",
      "https://www.youtube.com/@empower-the-village",
      "https://www.instagram.com/empower_etv/",
      "https://www.facebook.com/empoweretv"
    ]
  }
  </script>
{% endblock %}

{% block content %}

<a href="/shop/">
  <div class="marquee">
    Give The Gift That Restores Prosperity, Peace and Power To The Village &nbsp;&nbsp;   | &nbsp;&nbsp;&nbsp; Give The Gift That Restores Prosperity, Peace and Power To The Village &nbsp;&nbsp;    |
  </div>
</a>
<div class="pillar-intro">
  <div  style="margin-bottom: 0px;background: url('https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/vbp-collage.webp'); background-size: 60% !important; padding: 0; padding-top: 120px !important;">
    <div style="background: rgb(255, 255, 255); padding: 0 !important">
      <div class="row" style="padding: 0 !important; margin: 0 !important">
        <div class="col s12" style="background: black; border:#e5c93b 8px solid; padding: 0px; padding-bottom: 30px;">
            <p class="home-page-intro-text" style="color: white;">Empower The Village (ETV) is a Community-led, data-driven, nonprofit 501(c)(3) organization.</p> 
            <p class="home-page-intro-text" style="color: #BF1E2D;">ETV prioritizes the Health, Wealth and Empowerment</b> of the Black community.</p>
            <!--<p class="home-page-intro-text" style="color: black;">We empower Black people, business owners and community organizations to realize their full potential by strategically partnering with "Village" leaders and allies committed to the advancement of our people.</p>-->
            <p class="home-page-intro-text" style="color: #149e0f;">Together, Our Village Will Restore Prosperity, Peace and Power To The Community!</p>
          </div>
        </div>
      
    </div>
  <div class="row pillar-intro-row">
    <h6 class="center-align home-heading" style="color: #149e0f; padding-bottom: 25px; padding-top: 25px; background: rgba(255, 255, 255, 0.875); margin-top: 0px! important; margin-bottom: 0 !important">Explore ETV's Strategic Pillars</h6>
    <a href="{{ ep_url }}" class="pillar-intro-link">
      <div class="col s12 l4 pillar-intro-col fade-in" style="background-image: url('https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/prosperity-pillar-bg-2023.webp'); background-size: cover;">
        <div class="pillar-intro-overlay" style="background: #01a650; opacity: 0.55;">
        </div>
        <div class="pillar-text-container scale-in-center-2">
          <div>
            <div style="margin-bottom: 15px;">
              <p>Prosperity</p>
            </div>
            <div class="pillar-tagline" style="color: white; font-family: oskar; text-align: center;">
              <b style="font-weight: 800;">Economic Empowerment</b>
            </div>
            <div class="pillar-tagline" style="color: white; font-family: oskar; text-align: center; padding-top: 11px;">
              <i class="material-icons" style="margin-top: 0px; margin-right: 5px">done</i> Entrepreneurship 
              <br>
              <i class="material-icons" style="margin-top: 0px; margin-right: 5px; margin-left: 5px">done</i> Employment <i class="material-icons" style="margin-top: 0px; margin-right: 5px; margin-left: 5px">done</i> Asset Ownership
              <br>
              <i class="material-icons" style="margin-top: 0px; margin-right: 5px">done</i> Money Management 
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="{{ health_url }}" class="pillar-intro-link">
      <div class="col s12 l4 pillar-intro-col fade-in" style="background-image: url('https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/peace-pillar-bg-2023.webp'); background-size: cover;">
        <div class="pillar-intro-overlay" style="background: #FFDE59; opacity: 0.4;">
        </div>
        <div class="pillar-text-container scale-in-center-3">
          <div>
            <div>
              <p>Peace</p>
            </div>
            <br>
            <div class="pillar-tagline" style="color: white; font-family: oskar; text-align: center;">
              <b style="font-weight: 800;">Joyful Living & Wellness</b>
            </div>
            <div class="pillar-tagline" style="color: white; font-family: oskar; text-align: center; padding-top: 11px;">
              <i class="material-icons" style="margin-top: -5px; margin-right: 7px">done</i> Mental Health
              <br>
              <i class="material-icons" style="margin-top: -5px; margin-right: 7px;">done</i> Arts & Culture
              <br>
              <i class="material-icons" style="margin-top: 0px; margin-right: 5px">done</i> Physical Fitness
            </div>
            </div>
        </div>
      </div>
    </a>
    <a href="{{ policy_url }}" class="pillar-intro-link">
      <div class="col s12 l4 pillar-intro-col fade-in" style="background-image: url('https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/power-pillar-bg-2023.webp'); background-size: cover;">
        <div class="pillar-intro-overlay" style="background: #BF1E2D; opacity: 0.55;">
        </div>
        <div class="pillar-text-container scale-in-center-4">
          <div>
            <div>
              <p style="margin-bottom: 25px">Power</p>
            </div>
            <div class="pillar-tagline" style="color: white; font-family: oskar; text-align: center;">
            <b style="font-weight: 800">Controlling our Destiny</b>
          </div>
          <div class="pillar-tagline" style="color: white; font-family: oskar; text-align: center; padding-top: 11px;">
            <i class="material-icons" style="margin-top: -5px; margin-right: 7px; margin-left: 7px">done</i> Community Investment
            <br>
            <i class="material-icons" style="margin-top: -5px; margin-right: 7px; margin-left: 7px">done</i> Civic Engagement
            <br>
            <i class="material-icons" style="margin-top: -5px; margin-right: 7px; margin-left: 7px">done</i> Education
            </div>
            </div>
        </div>
      </div>
    </a>
  </div>
</div>
</div>

<div class="row">
  <div class="divider" style="border-bottom: solid 1px rgb(204, 204, 204); margin-top: 30px; width: 80%; margin-left: 10%; margin-bottom: 0px"></div>
  <div class="center-align" style="padding: 0% 10% 3% 10%;">
    <div class="row">
        <h6 class="home-heading" style="color:#BF1E2D">Check Out ETV’s 2023 Holiday Gift Guide</h6>
        <div class="col s12 m6 l4 offset-m3 offset-l4">
          <a href="/village-black-pages/2023-holiday-gift-guide/"><img class="z-depth-3" src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/gift-guide-2024.gif" width="100%"></a>
        </div>
    </div>
    
      <!--
      <div class="row">
          <h6 class="home-heading" style="color:#BF1E2D">Check Out ETV’s 2022 Annual Report</h6>
          <h5 class="home-subheading">Learn how we Empower The Village!</h5>
      </div>
      <div style="position:relative;padding-top:max(60%,326px);height:0;width:100%"><iframe allow="clipboard-write" sandbox="allow-top-navigation allow-top-navigation-by-user-activation allow-downloads allow-scripts allow-same-origin allow-popups allow-modals allow-popups-to-escape-sandbox allow-forms" allowfullscreen="true" style="position:absolute;border:none;width:100%;height:100%;left:0;right:0;top:0;bottom:0;" src="https://e.issuu.com/embed.html?backgroundColor=%23cfcfcf&backgroundColorFullscreen=%23c0c0c0&d=2022_annual_report_-_digital_version&hideIssuuLogo=true&u=empowerthevillage"></iframe></div>
      -->
</div>
</div> 
<div class="carousel carousel-slider center z-depth-2" id="home-carousel">
    
    <style>
      .carousel-title {
        font-family: oskar;
        font-size: 16px;
        line-height: 20px;
      }
      .donate-img {
        width: 90%
      }
      #panel-four .carousel-wash{
        padding-top: 12%
      }
      .carousel-wash {
        padding-top: 1%
      }
      .mission-thumbnail {
        height: 190px;
        margin-left: -10
      }
      .pillars-thumbnail {
        height: 190px;
        margin-left: 0;
        padding-left: 0
      }
      .carousel-item {
        min-height: 0 !important
      }
      @media only screen and (min-width:400px){
        .carousel-title {
        font-size: 18px;
        line-height: 24px;
      }
      .donate-img {
        width: 80%
      }
        #panel-four .carousel-wash{
        padding-top: 5%
      }
        .mission-thumbnail {
        height: 220px;
        margin-left: -10
      }
      .pillars-thumbnail {
        height: 220px;
        margin-left: 0;
        padding-left: 0
      }
      }
      @media only screen and (min-width:480px){
        .carousel-title {
        font-family: oskar;
        font-size: 20px;
        line-height: 20px;
      }
        #panel-four .carousel-wash{
        padding-top: 6%
      }
        .mission-thumbnail {
        height: 250px;
        margin-left: -10
      }
      .pillars-thumbnail {
        height: 250px;
        margin-left: 0;
        padding-left: 0
      }
      }
      @media only screen and (min-width:540px){
        #panel-four .carousel-wash{
        padding-top: 4%
      }
        .mission-thumbnail {
        height: 280px;
        margin-left: -10
      }
      .pillars-thumbnail {
        height: 280px;
        margin-left: 0;
        padding-left: 0
      }
      }
      @media only screen and (min-width:601px){
        .carousel-title {
        font-size: 22px;
        line-height: 32px;
      }
      .donate-img {
        width: 100%
      }
        #panel-four .carousel-wash{
        padding-top: 5%
      }
      }
      @media only screen and (min-width:620px){
        
        .mission-thumbnail {
        height: 310px;
        margin-left: -10
      }
      .pillars-thumbnail {
        height: 310px;
        margin-left: 0;
        padding-left: 0
      }
      }
      @media only screen and (min-width:695px){
        #panel-four .carousel-wash{
        padding-top: 4%
      }
        .mission-thumbnail {
        height: 320px;
        margin-left: -10
      }
      .pillars-thumbnail {
        height: 320px;
        margin-left: 0;
        padding-left: 0
      }
      }
      @media only screen and (min-width:993px){
        .carousel-title {
        font-size: 26px;
        line-height: 32px;
      }
      .donate-img {
        width: 100%
      }
        #panel-four .carousel-wash{
        padding-top: 0%
      }
        .mission-thumbnail {
        height: 380px;
        margin-left: -10
      }
      .pillars-thumbnail {
        height: 380px;
        margin-left: 0;
        padding-left: 0
      }
      }
      @media only screen and (min-width:1221px){
        .carousel-title {
        font-size: 32px;
        line-height: 42px;
      }
      .donate-img {
        width: 80%
      }
        #panel-four .carousel-wash{
        padding-top: 2%
      }
        .mission-thumbnail {
        height: 370px;
        margin-left: -10
      }
      .pillars-thumbnail {
        height: 370px;
        margin-left: 0;
        padding-left: 0
      }
      }
      @media only screen and (min-width:1400px){
        .carousel-title {
        font-size: 42px;
        line-height: 52px;
      }
      .donate-img {
        width: 90%
      }
        #panel-four .carousel-wash{
        padding-top: 1%
      }
        .mission-thumbnail {
        height: 540px;
        margin-left: -10
      }
      .pillars-thumbnail {
        height: 540px;
        margin-left: 0;
        padding-left: 0
      }
      }
    </style>
  
   <div class="carousel-item" href="" style="background: url('https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/tubman.webp'); background-size: cover !important; background-position-y: -200px" id="panel-two">
        
    <div class="carousel-wash row valign-wrapper" style="background-color: transparent !important">

      <div class="col s12 z-depth-4 center-align parallax-banner" style="width: 90%; margin-left:5%; padding-top: 2%; padding-bottom: 2%; background-color: rgba(255, 255, 255, 0.616)">
          <a href="{{ efbf_url }}"><img src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/efbf-logo.png" class="efbf-title"></a><br>
          <a href="{{ efbf_url }}"><img src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/efbf-bag.png" width=20% style="margin-top: 10px; margin-bottom: 10px"></a>
          
          <p style="margin-top: 5px; margin-bottom: 0; padding-bottom: 0; font-weight: 600" id="slide-two-text">Support Black-owned businesses at least 1 out of 7 days each week!</b></p>
          <a class="btn" href="{{ efbf_url }}" id="slide-two-btn" style="margin-top: 10px; padding-top: 2px">VISIT</a>
      </div>
    </div>
  </div>
      <div class="carousel-item" href="" style="background: url('https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/vbp-collage.webp'); background-size: 40% !important;" id="panel-one">
        <div class="carousel-wash row">
          <div class="col s12">
          <a href="{{ vbp_url }}"><img id="vbp-title" src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/vbp-logo.png" style="padding-top: 0px; padding-bottom: 10px"></a>
          </div>
          <div class="col s12">
          <a href="{{ vbp_url }}"><img id="vbp-carousel-pic" src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/vbp-covers.png"></a>
          </div>
          <div class="col s12">
            <a class="btn" href="{{ vbp_url }}" id="slide-one-btn">VISIT</a>
            <p style="margin-top: 0px;font-weight: 600" id="slide-one-text">Explore ETV’s interactive Black-owned business & community resource directory!</b>
            <br>
            Over 30,000 Black-owned businesses to support!</p>
          </div>
        </div>
      </div>
      
      <div class="carousel-item" href="">
        
        <div class="carousel-wash"  style="background-color: black !important">
          <a href="{{ ven_url }}"><img src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/ven-logo-knockout.png" class="ven-logo"></a>
          <h3 class="ven-title">Empowering Black entrepreneurs, individuals, and families with the expert counseling and training needed to build generational wealth!</h3>
          <a class="btn" href="{{ ven_url }}" id="slide-two-btn" style="margin-top: 0px; margin-bottom: 20px; padding-top: 2px">REGISTER</a>
          <div class="row" style="width: 70%">
            <div class="col s6">
              <a href="{{ ven_url }}"><img class="z-depth-3" src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/ven-htile-1.webp" width="100%"></a>
            </div>
            <div class="col s6">
              <a href="{{ ven_url }}"><img class="z-depth-3" src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/ven-htile-2.webp"  width="100%"></a>
            </div>
          </div>
        </div>
        <style>
          .ven-row a img {
            width: 50%
          }
          .ven-title {
            color: white; 
            font-family: poppins; 
            font-weight: 600;
            font-size: 14px; 
            line-height: 18px;
            padding-left: 5%; 
            padding-right: 5%;
            margin-top: 20px
          }
          .ven-logo {
            width: 100%;
          }
          @media only screen and (min-width:601px){
            .ven-title {
              font-size: 20px; 
              line-height: 26px;
            }
            .ven-logo {
              width: 90%;
            }
          }
          @media only screen and (min-width:901px){
            .ven-logo {
              width: 70%;
            }
          }
          @media only screen and (min-width:1201px){
            .ven-title {
              font-size: 26px; 
              line-height: 36px;
            }
          }
        </style>
      </div>
</div>
<div class="nav-content z-depth-1" style="margin-top: 10px; margin-bottom: 10px">
  <ul class="tabs tabs-transparent tabs-fixed-width z-depth-2 tabs-navigation-menu">
    <li class="tab"><a style="margin-left: 6px" class="nav-tab" href="{{ efbf_url }}">Make Every Friday, Black Friday®</a></li>
    <li class="tab"><a style="margin-left: 6px" class="nav-tab" href="{{ vbp_url }}">Village Black Pages®</a></li>
    <li class="tab"><a style="margin-left: 6px" class="nav-tab" href="{{ ven_url }}">Village Empowerment Network™</a></li>
    <li class="tab"><a style="margin-left: 6px" class="nav-tab" href="/events/">ETV 2023 Events</a></li>
  </ul>
</div>
<div class="center-align row">
  <div class="row">
    <div class="col s12 l8 offset-l2" style="padding-top: 25px;">
      <iframe class="z-depth-3" width="100%" height="415" src="https://www.youtube.com/embed/X7RwjTV2On4?si=W6itk-rkekaDMwPa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <a class="btn btn-success" style="background: #01a650; margin-top: 30px;" href="https://youtu.be/59RpeuupMn0" target="_blank">Click Here to Watch the Full Interview!</a>
    </div>
  </div>
</div>
<div class="divider" style="border-bottom: solid 1px rgb(204, 204, 204); margin-top: 25px; width: 80%; margin-left: 10%; margin-bottom: 0px"></div>
<div class="center-align row">
  <div class="row">
    <div class="col s12">
       <h6 class="center-align home-heading" style="color: #149e0f; margin-top: 20px; margin-bottom: 20px">ETV's Mission Video</h6>
  
      <div class="center-align">
          <iframe class="mission-video scale-up-center z-depth-3" width="80%" src="https://www.youtube.com/embed/tcUA8VA2-DA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div> 
    </div>
    
  </div>
</div>
<div>      
  <div class="row center-align z-depth-2">
          <div class='col s12' style="padding-top: 3%; padding-bottom: 5%">
            <a href="{{ efbf_url }}"><h6 class="center-align home-page-sh6">Join The <b style="color:black; font-weight:400">#Make<b style="color: #01a650; font-weight:400">EveryFriday</b>BlackFriday</b> Movement <br>to Empower Black-Owned Businesses and Communities! <span class="material-icons">launch</span></h6></a>
            <div class="col s12 l10 offset-l1">
                <iframe class="z-depth-3 efbf-video" style="margin-top: 20px;" width="100%" src="https://www.youtube.com/embed/IsPP6yuo7_o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p class="video-caption"><i>Whoopi Goldberg shares ETV #MakeEveryFridayBlackFriday campaign</i></p>
            </div>
          </div>
  </div>
        
  <div class="row center-align">
          <div class="col s12 m8 offset-m2">
            <img class="lazy" style="margin-top: 40px; margin-bottom: 60px" src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/sponsors-09-17-23.webp" width="100%">
          </div>
  </div>
      
</div>     
    
<script>
  $(document).ready(function(){
    Swal.fire({
      html: '<a href="/donation/"><img src="https://pub-91c8b4fa01b34d9cb1fda46285f07f62.r2.dev/winter-giving-campaign.gif" width=100%></a>',
      showCloseButton: true,
      showConfirmButton: false,
      padding: 0,
    })
  })
    $('#mailchimp-efbf-form').submit(event, function(){
        event.preventDefault();
        var email = $('#mailchimp-email-efbf').val()
        var token = '{{csrf_token}}'
        var form = $('#mailchimp-efbf-form')
        $.ajax({
            data: form.serialize(),
            dataType: 'json',
            url: '/mailchimp-signup/',
            method: "POST",
            success: function(data) {
                Swal.fire({
                title:'Welcome to the Village!',
                html: '',
                showComfirmButton: false,
                showCancelButton: false,
                showCloseButton: false,
                text:"You've been added to our mailing list",
                })
            },
            error: function(){
                Swal.fire({
                title:"You're on the list!",
                html: '',
                showComfirmButton: false,
                showCancelButton: false,
                showCloseButton: false,
                text:"You're on our mailing list, thank you for keeping up with ETV!",
                })
            }
        })
    }) 
</script>
<script>
  $('.carousel.carousel-slider').carousel({
  fullWidth: true,
  indicators: true,

});
var intervalId = window.setInterval(function(){
  $('.carousel.carousel-slider').carousel('next');
}, 10000);
  
</script>
<script>
  $(function(){
    $('.marquee').marquee({
      duration: 12000,
      pauseOnHover: true,
      duplicated: true,
      easing: 'linear',
    });    
  });
  $('.dropdown-trigger').dropdown();
  $('#join-village-topnav').click(function(){
      Swal.fire({
          html: '<h3 class="join-tv-title">Join The Village!</h3><p>Enter your email address to join the ETV mailing list.</p><form method="POST" action="/mailchimp-signup/" id="mailchimp-nav-form">{% csrf_token %}<div class="input-field"><input required id="mailchimp-email-nav" name="email" type="email"><label for="mailchimp-email-nav">Email</label></div><button type="submit" class="btn light-green darken-3 waves-effect" id="efbf-mailchimp">Add Me To The List!</button></form>',
          showCancelButton: false,
          showCloseButton: true,
          showConfirmButton: false,
      })     
  })
  $('#join-village-sidenav').click(function(){
      Swal.fire({
          html: '<h3 class="join-tv-title">Join The Village!</h3><p>Enter your email address to join the ETV mailing list.</p><form method="POST" action="/mailchimp-signup/" id="mailchimp-nav-form">{% csrf_token %}<div class="input-field"><input required id="mailchimp-email-nav" name="email" type="email"><label for="mailchimp-email-nav">Email</label></div><button type="submit" class="btn light-green darken-3 waves-effect" id="efbf-mailchimp">Add Me To The List!</button></form>',
          showCancelButton: false,
          showCloseButton: true,
          showConfirmButton: false,
      })     
  })
  $('#mailchimp-nav-form').submit(event, function(){
            event.preventDefault();
            var email = $('#mailchimp-email-nav').val()
            var token = '{{csrf_token}}'
            var form = $('#mailchimp-nav-form')
            $.ajax({
                data: form.serialize(),
                dataType: 'json',
                url: '/mailchimp-signup/',
                method: "POST",
                success: function(data) {
                    Swal.fire({
                    title:'Welcome to the Village!',
                    html: '',
                    showComfirmButton: false,
                    showCancelButton: false,
                    showCloseButton: false,
                    text:"You've been added to our mailing list",
                    })
                },
                error: function(){
                    Swal.fire({
                    title:"You're on the list!",
                    html: '',
                    showComfirmButton: false,
                    showCancelButton: false,
                    showCloseButton: false,
                    text:"You're on our mailing list, thank you for keeping up with ETV!",
                    })
                }
            })
        }) 
</script>
<style>
  @media only screen and (min-width:0px){
    div:where(.swal2-container) .swal2-html-container {
      margin: 0;
    }
    .home-page-intro-text {
      font-family: oskar !important; 
      text-transform: none !important; 
      line-height: 24px !important; 
      letter-spacing: 0.5px !important; 
      padding: 0px 10px !important; 
      font-size: 20px !important; 
      padding-top: 10px !important;
    }
    .home-page-intro-text.larger {
      font-size: 24px !important;
      line-height: 28px !important;
      font-weight: 400 !important;
    }
    .banner-title {
      font-family: oskar; 
      font-weight: 500; 
      margin-top: 0;
      margin-bottom: 0px;
      font-size: 28px !important;
      color:#01a650
    }
    .tagline {
      font-family: oskar;
      font-weight: 400;
      font-size: 18px !important;
      margin-top: 0;
      margin-bottom: 0;
    }
    .tagline-2 {
      font-family: oskar;
      font-weight: 200;
      font-size: 16px !important;
      margin-top: 0;
      margin-bottom: 10px;
      line-height: 20px;
    }
    .efbf-title {
      width: 100%;
    }
    #slide-one-text {
      font-size: 13px !important
    }
    .photo-caption {
      color:rgb(4, 4, 4);
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 0;
    }
    .photo-credit {
      margin-top: 0;
      color: grey;
      font-size: 12px
    }
    .marquee {
      cursor: default;
      width: 100%;
      overflow: hidden;
      background: black;
      color: white;
      font-family: oskar;
      font-size: 22px;
      padding: 8px 0px
    }
    .tabs-navigation-menu .nav-tab {
      color: white !important
    }
    .mission-video {
          height: 300
        }
        .anniversary-graphic {
          height: 300
        }
    .nav-content {
        background: rgb(4, 4, 4)
      }
    .tabs-navigation-menu li a {
          padding: 0px 5px !important
        }
    .join-tv-title {
                font-family: oskar-inline;
          
            }
            .swal2-close:focus{
              box-shadow: none !important;
              background-color: transparent !important;
          }
    .home-heading {
      margin-top: 20px; 
      margin-bottom: 20px;
      font-size: 28px;
      padding: 0px 2%
    }
    .home-subheading {
      font-weight: 600; 
      font-size: 18px
    }
    .juneteenth-card {
      display: flex;
      align-items: center;
      height: 415px;
      padding: 2%; 
      background: rgb(63,180,58);
      background: linear-gradient(59deg, rgba(63,180,58,0.1) 0%, rgba(244,169,43,0.1) 48%, rgba(253,29,29,0.1) 100%);
    }
    .juneteenth-card h6{
      font-size: 24px;
    }
    .juneteenth-card p{
      font-size: 16px;
      line-height: 24px;
    }
    .carousel .indicators .indicator-item {
      background-color: rgba(131, 142, 131, 0.68);
    }
    .carousel .indicators .indicator-item.active {
      background-color: rgba(36, 184, 36, 0.68);
      margin-top: 10px;
    }
      .carousel-wash {
        width: 100%;
        height: 100%;
        margin-top: 0 !important;
        background-color: rgba(249, 249, 249, 0.906);
      }
      
      #home-carousel .carousel-item {
          margin-top:0;
          padding-top: 0
      }
      p {
          font-weight: 300;
          letter-spacing: 1px;
          transform: scale(1, 0.95);
      }
      .press-release-btn {
          background-color: rgb(135, 182, 166);
      }
      .press-release-btn:hover {
          background-color: rgb(111, 151, 138);
          color: rgb(224, 224, 224);
      }
      .join-tv-title {
        font-family: oskar-inline;

    }
    #panel-one {
      padding-top: none
    }
    .swal2-close:focus{
      box-shadow: none !important;
      background-color: transparent !important;
  }
    .home-page-sh6 {
      font-family: oskar; 
      font-size: 20px;
      line-height: 32px; 
      margin-bottom: 20px; 
      margin-top: 20px; 
      color:  #bf1e2d
    }
    .home-page-sh7 {
      font-family: oskar; 
      font-size: 24px;
      line-height: 32px; 
      margin-bottom: 20px; 
      padding-top: 50px; 
      color:  #01a650
    }
    h6 {
      font-size: 36px;
      font-family: oskar-inline;
      color: rgb(31, 171, 31);
    }
    h5 {
        font-size: 16px
    }
    #home-carousel {
        height: 310px !important
      }
    #panel-one {
      background-size: 150% !important
    }
      #vbp-title {
        max-height: 90px;
        max-width: 90%
      }
      #vbp-carousel-pic {
        max-height: 150px;
        min-height: 80px;
        max-width: 100%
      }
      #slide-one-btn {
        background-color:rgba(68, 140, 32, 0.66); 
        padding-top: 0px;
        padding-bottom: 20px;
        margin-top: 10px;
        margin-bottom: 5px;
      }
      #slide-two-btn {
        background-color:rgba(68, 140, 32, 0.66); 
        padding-top: 0px;
        padding-bottom: 20px;
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 18px;
      }
      #slide-two-text {
        font-size: 16px
      }

  }
  @media only screen and (min-width:460px){
    .home-heading {
      margin-top: 30px; 
      margin-bottom: 30px;
      font-size: 36px;
    }
    .home-subheading {
      font-size: 20px
    }
    .juneteenth-card h6{
      font-size: 28px;
    }
    #home-carousel {
        height: 340px !important
      }
  }
  @media only screen and (min-width:530px){
    .juneteenth-card h6{
      font-size: 32px;
    }
    .juneteenth-card p{
      font-size: 16px;
    }
    #home-carousel {
        height: 360px !important
      }
  }
  @media only screen and (min-width:601px){
    .banner-title {
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 42px !important;
    }
    .tagline {
      font-size: 24px !important;
      margin-top: 0;
      margin-bottom: 0;
    }
    .tagline-2 {
      font-size: 20px !important;
      margin-top: 0;
      margin-bottom: 10px;
      line-height: 24px;
    }
    .efbf-title {
      width: 100%;
    }
    #slide-one-text {
      font-size: 20px !important
    }
    .marquee {
      width: 100%;
      overflow: hidden;
      background: black;
      color: white;
      font-family: oskar;
      font-size: 26px;
      padding: 10px 0px
    }
    .home-heading {
      margin-top: 30px; 
      margin-bottom: 30px;
      font-size: 42px;
    }
    .home-subheading {
      font-size: 24px
    }
    .juneteenth-card h6{
      font-size: 36px;
    }
    .juneteenth-card p{
      font-size: 16px;
    }
    p {
      font-size: 16px;
      line-height: 32px
    }
    .home-page-sh6 { 
      font-size: 32px;
      line-height: 42px; 
      margin-bottom: 20px; 
      margin-top: 30px; 
    }
    .home-page-sh7 {
      font-size: 30px;
      line-height: 38px; 
      margin-bottom: 20px; 
    }
    h6 {
      font-size: 56px;
      font-family: oskar-inline;
      color: rgb(31, 171, 31);
    }
    h5 {
        font-size: 20px
    }
    #home-carousel {
        height: 390px !important
      }
      #slide-two-text {
        font-size: 20px !important
      }
      #slide-two-btn {
        background-color:rgba(68, 140, 32, 0.66); 
        padding-top: 0px;
        padding-bottom: 20px;
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 22px;
      } 
  }
  @media only screen and (min-width: 663px) {
          .mission-video {
            height: 415
          }
          .anniversary-graphic {
            height: 415
          }
        }
  @media only screen and (min-width:735px){
    
    #home-carousel {
        height: 410px !important
      }
  }
  @media only screen and (min-width:993px){
    .home-page-intro-text {
      line-height: 32px !important; 
      letter-spacing: 0.5px !important; 
      padding: 0px 20px !important; 
      font-size: 28px !important; 
      padding-top: 30px !important;
    }
    .home-page-intro-text.larger {
      font-size: 32px !important;
    }
    .banner-title {
        margin-top: 10px;
        margin-bottom: 15px;
        font-size: 56px !important;
    }
    .tagline {
      font-size: 32px !important;
      margin-top: 0;
      margin-bottom: 0;
    }
    .tagline-2 {
      font-size: 26px !important;
      margin-top: 0;
      margin-bottom: 15px;
      line-height: 28px;
    }
    .efbf-title {
      width: 80%;
      margin-bottom: 20px
    }
    .mission-video {
            height: 515
          }
          .anniversary-graphic {
            height: 515
          }
    .home-heading {
      margin-top: 0px; 
      margin-bottom: 40px;
      font-size: 48px;
    }
    .home-subheading {
      font-size: 26px
    }
    .juneteenth-card h6{
      font-size: 42px;
    }
    p {
      font-size: 16px;
      line-height: 32px
    }
    .home-page-sh6 { 
      font-size: 42px;
      line-height: 54px; 
      margin-bottom: 20px; 
      margin-top: 30px; 
    }
    .home-page-sh7 {
      font-size: 38px;
      line-height: 48px; 
      margin-bottom: 20px; 
    }
    #home-carousel {
        height: 480px !important
      }
      #slide-one-text {
        font-size: 28px !important
      }
      #slide-two-text {
        font-size: 28px !important
      }
  }
  @media only screen and (min-width:1225px){
    .banner-title {
        margin-top: 25px;
        margin-bottom: 15px;
        font-size: 64px !important;
      }
    .tagline {
      font-size: 32px !important;
      margin-top: 0;
      margin-bottom: 0;
    }
    .tagline-2 {
      font-size: 26px !important;
      margin-top: 0;
      margin-bottom: 15px;
      line-height: 28px;
    }
    .home-heading {
      margin-top: 40px; 
      margin-bottom: 40px;
      font-size: 52px;
      padding: 0 10%
    }
    .home-subheading {
      font-size: 28px
    }
    p {
      font-size: 20px;
      line-height: 36px
    }
    #home-carousel {
        height: 460px !important;
      }
  }
  @media only screen and (min-width:1400px){
    #home-carousel {
        height: 600px !important;
      }
      #vbp-title {
        max-height: 140px;
        max-width: 90%;
        margin-top: 20px !important;
      }
      #vbp-carousel-pic {
        max-height: 250px;
        min-height: 100px;
        max-width: 100%
      }
      
  }
  @media only screen and (max-width:992px){
                .coming-soon-group {
                    margin-bottom: -40%
                }
            }
</style>
{% endblock %}