{% extends 'base_nofooter.html' %}
{% load humanize %}

{% block content %}

{% if request.user.is_admin %}
<script>
    $(document).ready(function(){
    $('.tooltipped').tooltip();
  });
</script>
    <div class="row">
        <div class="col l3 hide-on-med-and-down admin-side-menu">
            <div class="side-menu-overlay">
                <section>
                    <ul>
                        <li class="list-heading">{{ app.app_name }}</li>
                        {% for x in model_names_plural %}
                        <li>
                            <a>
                                {{ x }}
                            </a>
                            <div class="right">
                                <i class="bi bi-plus-square add-model-obj tooltipped" data-position="bottom" data-tooltip="Add New"></i>
                                <i class="bi bi-window-plus view-model-objs tooltipped" data-position="top" data-tooltip="Manage All"></i>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </section>
            </div>
        </div>
        <div class="col s12 l9">
            <div class="admin-container">
                <div class="row">
                    <div class="col s12" style="margin-bottom: 10px">
                        <a href="{{ dashboard_url }}" class="breadcrumb">Dashboard</a>
                        <a class="breadcrumb active">{{ app.app_name }}</a>
                      </div>
                    <div class="col s12">
                        <div class="card">
                            <div class="card-heading">
                                <p class="card-title">Donations</p>
                            </div>
                            <div class="card-body row">
                                
                                <div class="col s12">
                                    <table class="dashboard-list">
                                        <thead>
                                            {% for x in models %}
                                            <p>{{ x.list_fields_JSON }}</p>
                                            {% for field,value in x.list_fields_JSON.items %}
                                            <p>{{ value }}</p>
                                            {% endfor %}
                                            <tr></tr>
                                            {% endfor %}
                                        </thead>
                                    </table>
                                    <a class="view-more valign-wrapper" href="">View All <span class="material-icons">open_in_new</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-group">
                        <div class="col s12 m7">
                            <div class="card">
                                <div class="card-heading">
                                    <p class="card-title">Orders</p>
                                </div>
                                <div class="card-body">
                                    <h7 class="valign-wrapper" style="justify-content: center">Tickets</h7>
                                    <div class="divider"></div>
                                    <ul class="dashboard-list">
                                        {% for x in ticket_family %}
                                        <li>
                                            <h6><b>{{ x.grouper }}</b> - {{ x.list|length }} {% if x.list|length == 1 %}Ticket{% else %}Tickets{% endif %}</h6>
                                            {% regroup x.list by event as event_list %}
                                            {% for event in event_list %}
                                            <h7>{{ event.grouper }}</h7>
                                            <ul class="dashboard-list">
                                                {% for ticket in event.list %}
                                                <div class="ticket-section">
                                                    <li><b>Ticket ID:</b> {{ ticket }}</li>
                                                    <p>{{ ticket.type }}</p>
                                                </div>
                                                {% endfor %}
                                            </ul>
                                            {% endfor %}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <div class="divider"></div>
                                    <a class="view-more valign-wrapper" href="" style="justify-content: center">View All <span class="material-icons">open_in_new</span></a>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m5">
                            <div class="card">
                                <div class="card-heading">
                                    <p class="card-title">Donors</p>
                                </div>
                                <div class="card-body">
                                    <h7 class="valign-wrapper" style="justify-content: center"><span class="material-icons" style="color: gold">emoji_events</span>&nbsp; Top Donors</h7>
                                    <div class="divider"></div>
                                    <ul class="dashboard-list center-align">
                                    {% for x in top_donors %}
                                        <h6>{{ x.get_full_name }}</h6>
                                        <h7 style="color: rgb(25, 171, 25); font-size: 16px">${{ x.total|intcomma }}</h7>
                                        <li>{{ x.get_level }}</li>
                                    {% endfor %}
                                    </ul>
                                    <div class="divider"></div>
                                    <a class="view-more valign-wrapper" href="" style="justify-content: center">View All <span class="material-icons">open_in_new</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-heading">
                                <p class="card-title">VBP</p>
                            </div>
                            <div class="card-body">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-heading">
                                <p class="card-title">VEN</p>
                            </div>
                            <div class="card-body">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-heading">
                                <p class="card-title">Merchandise</p>
                            </div>
                            <div class="card-body">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% else %}
<div style="display: flex; align-items: center; justify-content: center;padding-top: 10%">
    <h6>This page is restricted, please <a href="{{ login_url }}">login</a> to continue</h6>
</div>
{% endif %}
{% endblock %}