{% extends 'base_nofooter.html' %}
{% load humanize %}
{% load mailchimp_tags %}

{% block content %}

{% if request.user.is_admin %}
<script>
    $(document).ready(function(){
    $('.tooltipped').tooltip();
  });
</script>
    <div class="row" style="min-height: 1000px">
        <div class="col s12">
            <div class="container">
                <div class="row">
                    <div class="col s12" style="margin-bottom: 10px; padding-top: 30px">
                        <a href="{{ dashboard_url }}" class="breadcrumb">Dashboard</a>
                        <a class="breadcrumb active">Disbursements</a>
                      </div>
                      
                    <div class="col s12" style="display: flex; justify-content: center">
                        <div class="card" style="width: fit-content">
                            <div class="card-heading">
                                <p class="card-title">Disbursements</p>
                            </div>
                            <div class="card-body row">
                                <div class="col s12 item-counter" page-no="1">
                                    Displaying 1-
                                    {% if disbursements|length > 20 %}
                                    {{ p.per_page }} 
                                    {% else %}
                                    {{ p.object_list|length }}
                                    {% endif %}
                                    of 
                                    {{ disbursements|length }} Disbursements
                                </div>
                                <div class="col s12" id="selected-line"></div>
                                <div class="col s12">
                                    <table class="dashboard-list highlight">
                                        <thead>
                                            <tr>
                                                <td class="field-header" data-fieldtype="date">Date</td>
                                                <td class="field-header" data-fieldtype="currency">Net</td>
                                                <td class="field-header" data-fieldtype="currency">Fees</td>
                                                <td class="field-header" data-fieldtype="currency">Gross</td>
                                                <td class="field-header" data-fieldtype="plain">Transactions</td>
                                            </tr>
                                        </thead>
                                        
                                        {% for page in p %}
                                            {% if page.number == 1 %}
                                            <tbody class="table-page" page-no="{{ page.number }}">
                                                    
                                                    {% for x in page.object_list %}
                                                    {% regroup x.items by braintree_id as item_list %}
                                                    <tr class="data-table-row">
                                                        <td class="data-cell">
                                                            {{ x.date }}
                                                        </td>
                                                        <td class="data-cell">
                                                            ${{ x.gross|intcomma }}
                                                        </td>
                                                        
                                                        <td class="data-cell">
                                                            ${{ x.fees|floatformat:2|intcomma }}
                                                        </td>

                                                        <td class="data-cell">
                                                            ${{ x.net|floatformat:2|intcomma }}
                                                        </td>
                                                        <td class="data-cell">
                                                            {% for transaction in x.transactions %}
                                                                <p style="margin-top: 8px"><a target="_blank" href="https://www.braintreegateway.com/merchants/tb3vd7jd2hynhxcn/transactions/{{ transaction }}">Braintree ID - {{ transaction }}</a></p>
                                                                {% for x in item_list %}
                                                                {% if x.grouper == transaction %}
                                                                    {% for item in x.list %}
                                                                    <p><a style="color: rgb(77, 77, 77)" target="_blank" href="{{ item.url }}">{{ item.item }}</a></p>
                                                                    <p>${{ item.amount|intcomma }} - {{ item.purchaser }}</p>
                                                                    {% endfor %}
                                                                {% endif %}
                                                                {% endfor %}
                                                            {% endfor %}
                                                        </td>  
                                                        <td class="data-cell">
                                                            
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                
                                            </tbody>
                                            {% else %}
                                            <tbody class="table-page hidden" page-no="{{ page.number }}">

                                                {% for x in page.object_list %}
                                                    {% regroup x.items by braintree_id as item_list %}
                                                    <tr class="data-table-row">
                                                        <td class="data-cell">
                                                            {{ x.date }}
                                                        </td>
                                                        <td class="data-cell">
                                                            ${{ x.gross|intcomma }}
                                                        </td>
                                                        
                                                        <td class="data-cell">
                                                            ${{ x.fees|floatformat:2|intcomma }}
                                                        </td>

                                                        <td class="data-cell">
                                                            ${{ x.net|floatformat:2|intcomma }}
                                                        </td>
                                                        <td class="data-cell">
                                                            {% for transaction in x.transactions %}
                                                                <p style="margin-top: 8px"><a target="_blank" href="https://www.braintreegateway.com/merchants/tb3vd7jd2hynhxcn/transactions/{{ transaction }}">Braintree ID - {{ transaction }}</a></p>
                                                                {% for x in item_list %}
                                                                {% if x.grouper == transaction %}
                                                                    {% for item in x.list %}
                                                                    <p><a style="color: rgb(77, 77, 77)" target="_blank" href="{{ item.url }}">{{ item.item }}</a></p>
                                                                    <p>${{ item.amount|intcomma }} - {{ item.purchaser }}</p>
                                                                    {% endfor %}
                                                                {% endif %}
                                                                {% endfor %}
                                                            {% endfor %}
                                                        </td>  
                                                        <td class="data-cell">
                                                            
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                            
                                        </tbody>
                                            {% endif %}
                                        {% endfor %}
                                    </table>
                                    <ul class="pagination center-align">
                                        <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
                                        {% for page in p %}
                                            {% if page.number == 1 %}
                                            <li class="active waves-effect page-selector" page-no="1"><a>1</a></li>
                                            {% else %}
                                            <li class="waves-effect page-selector" page-no="{{ page.number }}"><a>{{ page.number }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        
                                        <li class="waves-effect"><a><i class="material-icons">chevron_right</i></a></li>
                                      </ul>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        $('.page-selector').on('click', function(){
            var page = $(this).attr('page-no')
            $(this).addClass('active')
            $('.page-selector[page-no!="'+page+'"]').removeClass('active')
            $('.table-page[page-no="'+page+'"]').removeClass('hidden')
            $('.table-page[page-no!="'+page+'"]').addClass('hidden')
        });
        
    </script>
    <script>
        $('#vbp-selector').on('change',function(){
            var selected = $(this).find(':selected')
            var url = '/dashboard/Village%20Black%20Pages/'+selected.val()+'-list/'
            window.location.replace(url)
        })
    </script>
{% else %}
<div style="display: flex; align-items: center; justify-content: center;padding-top: 10%">
    <h6>This page is restricted, please <a href="{{ login_url }}">login</a> to continue</h6>
</div>
{% endif %}
{% endblock %}