{% extends 'base_nofooter.html' %}
{% load humanize %}

{% block content %}

{% if request.user.is_admin %}
    <div class="row">
        <div class="col l3 hide-on-med-and-down admin-side-menu">
            {% include 'side-menu.html' %}
        </div>
        <div class="col s12 l9">
            <div class="admin-container">
                <div class="row">
                    <div class="col s12" style="margin-bottom: 10px">
                        <a href="{{ dashboard_url }}" class="breadcrumb">Dashboard</a>
                        <a href="/dashboard/{{ dashboardModel.category }}/{{ dashboardModel.model_name }}-list/" class="breadcrumb">{{ dashboardModel.get_model_name }} List</a>
                        <a class="breadcrumb active">New</a>
                      </div>
                    <div class="col s12">
                        <div class="card">
                            <div class="card-heading" style="margin-bottom: 20px">
                                <p class="card-title" style="color: rgb(20, 155, 20); border-bottom: none">New {{ dashboardModel.get_model_name }}</p>
                            </div>
                            <div class="col s12 right-align">
                                <div class="btn admin-save">SAVE</div>
                                <div class="btn admin-delete">DELETE</div>
                            </div>
                            <div class="card-body row">
                                <form id="changeForm" method="POST" action="/dashboard/create/">
                                    {% csrf_token %}
                                    <input type="hidden" name="model" value="{{ dashboardModel }}">
                                    {% for field in form %}
                                    <div class="col s6 input-field">
                                        {{ field }}
                                        <label>{{ field.label }}</label>
                                    </div>
                                    {% endfor %}
                                </form>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.admin-save').on('click', function(){
            var form = $('#changeForm').submit()
        });
        $('.admin-delete').on('click', function(){
            Swal.fire({
                icon: 'warning',
                title: "Are you sure?",
                text: "This action will permanantly delete this object",
                showDenyButton: false,
                showCancelButton: true,
                confirmButtonText: 'Delete',
                }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    var pk = '{{ obj.pk }}'
                    var dashmodel = '{{ dashboardModel }}'
                    var data = {
                        'pk': pk,
                        'dashmodel': dashmodel,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    }
                    $.ajax({
                        data: data,
                        url: '/dashboard/delete/',
                        method: "POST",
                        success:function(){
                            window.location.replace('/dashboard/{{ dashboardModel.category }}/{{ dashboardModel.model_name }}-list/')
                        },
                    })
                }
            })
        })
    </script>
    <script>
        $('#select-all').on('change', function(){
            if($(this).prop('checked')){
                $('input[name="line-item"]').prop('checked', true)
            }
            else{
                $('input[name="line-item"]').prop('checked', false) 
            }
        });
        
    </script>
    <script>
        $('#vbp-selector').on('change',function(){
            var selected = $(this).find(':selected')
            var url = '/dashboard/Village%20Black%20Pages/'+selected.val()+'-list/'
            window.location.replace(url)
        });
    </script>
    <style>
        #qr_code-clear_id{
            display: none;
        }
        label[for="qr_code-clear_id"]{
            display: none
        }
        input[type='file'] + label {
            margin-top: -35px
        }
    </style>
{% else %}
<div style="display: flex; align-items: center; justify-content: center;padding-top: 10%">
    <h6>This page is restricted, please <a href="{{ login_url }}">login</a> to continue</h6>
</div>
{% endif %}
{% endblock %}