{% extends 'base_nofooter.html' %}
{% load humanize %}

{% block content %}

{% if request.user.is_admin %}
    <div class="row">
        <div class="col l3 hide-on-med-and-down admin-side-menu">
            <div class="side-menu-overlay">
                <section>
                    <ul>
                        <li class="list-heading">Accounts</li>
                        <li>Users</li>
                        <li>Black Friday Challenge Players</li>
                    </ul>
                </section>
            </div>
        </div>
        <div class="col s12 l9">
            <div class="admin-container">
                <div class="row">
                    <div class="col s12" style="margin-bottom: 10px">
                        <a href="{{ dashboard_url }}" class="breadcrumb">Dashboard</a>
                        <a href="/dashboard/{{ model.category }}" class="breadcrumb">{{ dash_model.category }}</a>
                        <a class="breadcrumb active">{{ obj }}</a>
                      </div>
                    <div class="col s12">
                        <div class="card">
                            <div class="card-heading">
                                <p class="card-title">{{ model.model_name_plural }}</p>
                            </div>
                            {% for x in model.view_fields %}
                                <p>{{ x }} - {{ x.field.name }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-group">
                        <div class="col s12 m7">
                            <div class="card">
                                <div class="card-heading">
                                    <p class="card-title">Orders</p>
                                </div>
                                <div class="card-body">
                                    <h7 class="valign-wrapper" style="justify-content: center">Tickets</h7>
                                    <div class="divider"></div>
                                    <ul class="dashboard-list">
                                        {% for x in ticket_family %}
                                        <li>
                                            <h6><b>{{ x.grouper }}</b> - {{ x.list|length }} {% if x.list|length == 1 %}Ticket{% else %}Tickets{% endif %}</h6>
                                            {% regroup x.list by event as event_list %}
                                            {% for event in event_list %}
                                            <h7>{{ event.grouper }}</h7>
                                            <ul class="dashboard-list">
                                                {% for ticket in event.list %}
                                                <div class="ticket-section">
                                                    <li><b>Ticket ID:</b> {{ ticket }}</li>
                                                    <p>{{ ticket.type }}</p>
                                                </div>
                                                {% endfor %}
                                            </ul>
                                            {% endfor %}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <div class="divider"></div>
                                    <a class="view-more valign-wrapper" href="" style="justify-content: center">View All <span class="material-icons">open_in_new</span></a>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m5">
                            <div class="card">
                                <div class="card-heading">
                                    <p class="card-title">Donors</p>
                                </div>
                                <div class="card-body">
                                    <h7 class="valign-wrapper" style="justify-content: center"><span class="material-icons" style="color: gold">emoji_events</span>&nbsp; Top Donors</h7>
                                    <div class="divider"></div>
                                    <ul class="dashboard-list center-align">
                                    {% for x in top_donors %}
                                        <h6>{{ x.get_full_name }}</h6>
                                        <h7 style="color: rgb(25, 171, 25); font-size: 16px">${{ x.total|intcomma }}</h7>
                                        <li>{{ x.get_level }}</li>
                                    {% endfor %}
                                    </ul>
                                    <div class="divider"></div>
                                    <a class="view-more valign-wrapper" href="" style="justify-content: center">View All <span class="material-icons">open_in_new</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-heading">
                                <p class="card-title">VBP</p>
                            </div>
                            <div class="card-body">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-heading">
                                <p class="card-title">VEN</p>
                            </div>
                            <div class="card-body">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-heading">
                                <p class="card-title">Merchandise</p>
                            </div>
                            <div class="card-body">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#select-all').on('change', function(){
            if($(this).prop('checked')){
                $('input[name="line-item"]').prop('checked', true)
            }
            else{
                $('input[name="line-item"]').prop('checked', false) 
            }
        });
        
    </script>
{% else %}
<div style="display: flex; align-items: center; justify-content: center;padding-top: 10%">
    <h6>This page is restricted, please <a href="{{ login_url }}">login</a> to continue</h6>
</div>
{% endif %}
{% endblock %}