<div class="side-menu-overlay">
    <section>
        <ul>
        {% regroup app_list by category as apps %}
            {% for x in apps %}
                {% if x.grouper == 'Village Black Pages' %}
                <li class="list-heading">Village Black Pages</li>
                <li>Books
                    <div class="right">
                        <a href="/dashboard/Village%20Black%20Pages/vbp_book-list/create/"><i class="bi bi-plus-square add-model-obj tooltipped" data-position="bottom" data-tooltip="Add New"></i></a>
                        <a href="/dashboard/Village%20Black%20Pages/vbp_book-list/"><i class="bi bi-window-plus view-model-objs tooltipped" data-position="top" data-tooltip="View All {{ model.model_name_plural }}"></i></a>
                    </div>
                </li>
                <div class="input-field vbp-select" style="margin-top: 30px;width: 70%">
                    <select id="vbp-selector">
                      <option value="" disabled selected>Choose A State</option>
                        {% for model in x.list %}
                            {% if model.get_grouping == 'vbp_state' %}
                                <option value="{{ model }}">{{ model.get_model_name_plural }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label style="color: black">VBP Individual Listings</label>
                  </div>
                <li</li>
                {% else %}
                <li class="list-heading">{{ x.grouper }}</li>
                    {% for model in x.list %}
                    <li>{{ model.get_model_name_plural }}
                        <div class="right">
                            <a href="/dashboard/{{ model.category }}/{{ model }}-list/create/"><i class="bi bi-plus-square add-model-obj tooltipped" data-position="bottom" data-tooltip="Add New"></i></a>
                            <a href="/dashboard/{{ model.category }}/{{ model }}-list/"><i class="bi bi-window-plus view-model-objs tooltipped" data-position="top" data-tooltip="View All {{ model.model_name_plural }}"></i></a>
                        </div>
                    </li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>
    </section>
</div>